In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('tmk_bda_train.csv')
df = df.drop('Unnamed: 0', axis=1)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,F,2,Y,20230124,N
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,M,3,Y,20230124,N
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,F,4,N,20230125,N
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,F,4,N,20230126,Y
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,M,4,N,20230125,Y
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,M,5,Y,20230102,Y
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,3,N,20230102,N
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,4,N,20230101,N
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,M,4,Y,20230101,Y
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,M,5,N,20230101,Y

In [3]:
# 결측값 확인
df.isnull().sum()

scd              0
product_name     0
net_order_qty    0
net_order_amt    0
gender           0
age_grp          0
employee_yn      0
order_date       0
prime_yn         0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45875 entries, 0 to 45874
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            45875 non-null  int64
 1   product_name   45875 non-null  object
 2   net_order_qty  45875 non-null  int64
 3   net_order_amt  45875 non-null  float64
 4   gender         45875 non-null  object
 5   age_grp        45875 non-null  int64
 6   employee_yn    45875 non-null  object
 7   order_date     45875 non-null  int64
 8   prime_yn       45875 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 3.2+ MB

In [5]:
# 프라임 회원 유무 인코딩 (1 = 프라임 회원, 0 = 일반 회원)
map_prime = {'N':0, 'Y':1}
df['prime_yn'] = df['prime_yn'].map(map_prime)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,F,2,Y,20230124,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,M,3,Y,20230124,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,F,4,N,20230125,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,F,4,N,20230126,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,M,4,N,20230125,1
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,M,5,Y,20230102,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,3,N,20230102,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,4,N,20230101,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,M,4,Y,20230101,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,M,5,N,20230101,1

In [6]:
# 성별 인코딩 (1 = Male, 0 = Female)
map_gender = {'F':0, 'M':1}
df['gender'] = df['gender'].map(map_gender)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1

In [7]:
# 나이대 인코딩 X

In [8]:
# 구매일자 인코딩
df['weekday'] = df['order_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
df['weekday'] = df['weekday'].dt.weekday
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2
...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6

In [9]:
# 요일로 분류 (0 = 월, 1 = 화, 2 = 수, 3 = 목, 4 = 금, 5 = 토, 6 = 일)
df['weekday'].value_counts()

6    12022
0     8246
3     7707
1     5675
4     4786
5     4638
2     2801
Name: weekday, dtype: int64

In [10]:
# 1월 23일 월, 1월 24일 화 : 설 연휴
df['weekday'] = np.where((df['weekday']==5) | (df['weekday']==6) | (df['order_date']==2023-1-23) | (df['order_date']==2023-1-24), 0, 1)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,1
...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,0

In [11]:
# 평일 / 주말 및 공휴일로 분류 (1 = 평일, 0 = 주말 및 공휴일)
df['weekday'].value_counts()

1    29215
0    16660
Name: weekday, dtype: int64

In [ ]:
# 이벤트 할인 제품 총 구매 횟수 (event_product)
# '['가 포함되어 있는 제품
# 식물성, 냉동, 배송, 유산균, 눈건강, 피부건강, 1BOX는 이벤트에서 제외
df['event_product'] = np.where((df['product_name'].str.contains(r'\[')) & (-df['product_name'].str.contains('식물성|냉동|배송|유산균|눈건강|피부건강|1BOX|쿡킷')), 1, 0)
df

In [ ]:
# 설 연휴 효과 제거
df = df[~df['product_name'].str.contains('23설', na=False, case=False)]
df

- 0 = 국/김치/김/반찬/두부
- 1 = 스팸/닭가슴살/소시지
- 2 = 신선식품
- 3 = 만두/피자/치킨
- 4 = 핫도그/떡볶이/간식
- 5 = 돈까스/함박/구이
- 6 = 밥/죽/면
- 7 = 밀키트
- 8 = 건강식품
- 9 = 음료/생수/시럽
- 10 = 양념/소스/가루/오일
- 11 = 대용량 식자제

In [ ]:
# 중복 데이터 삭제
cj = pd.read_csv('cj_category.csv')
cj = cj.drop('Unnamed: 0', axis=1)
cj = cj.drop_duplicates()
cj.columns = ['category', 'product_name']
cj

In [ ]:
cj = cj.astype({'category': 'string'})
cj.info()

In [ ]:
cj = cj.groupby('product_name').agg({'category': lambda x: ",".join(set(x))})
cj

In [ ]:
cj_new = pd.merge(df, cj, on='product_name', how='left')
cj_new

In [ ]:
cj_new.isnull().sum()

In [ ]:
# 결측치 12로 대체
cj_new = cj_new.fillna('12')

In [ ]:
# 배정되지 않은 카테고리
# list_10 첫번째
list_10 = ['1kg', '15kg', '2kg', '3.6L', '5kg', '1.8L', '1.2kg', '1.4kg', '1.5L', '1.25kg', '3kg', '20kg', '6.5kg', 
           '14kg', '1.05kg', '1.45kg', '2.45kg', '11kg', '1.3kg', '9kg', '25kg']
# list_6 두번째
list_6 = ['포도씨유', '양념', '올리브유', '쌈장', '소스', '다진마늘', '고추장', '참치액', '가루', '기름', '맛술',
          '드레싱', '시즈닝', '카놀라유', '간장', '올리브유', '다시마', '요리유', '비빔장', '된장', '식초', '다시다',
          '올리고당', '설탕', '액젓', '믹스', '천일염', '참깨', '굴소스', '가루', '옥수수유', '해바라기씨유', '쌀엿']
# list_8 세번째
list_8 = ['오리', '배', '고구마', '망고', '블루베리', '오렌지', '양갈비', '육포', '랍스터', '삼겹살', '목심살', '사과', 
          '토마토', '키위', '매실', '항정살', '한우', '청도', '스위트콘', '대추', '명란젓', '새우튀김', '황도', '양파', 
          '갈비','감자', '한돈', '날개', '닭', '야자', '버섯', '멜론']

list_0 = ['햇반', '죽', '냉면', '짬뽕', '동치미', '메밀', '우동', '잡채', '짜장', '밀면', '파스타', '쌀국수', 
          '야끼소바', '콩국수', '소면', '당면', '죽', '스파게티', '덮밥', '쫄면', '수프', '마라탕', '리조또', 
          '떡볶이떡', '칼국수', '뇨끼', '밸런스밀', '병아리콩']
list_1 = ['김치', '구이', '탕', '미역국', '육개장', '국물', '두부', '찌개', '무국', '국', '김', '유부', '단무지', 
          '메추리알', '쌈무', '볶음', '어묵', '조림', '밥이랑', '육수', '조림', '마늘', '란', '오이지', '장아찌']
list_2 = ['피자', '치킨', '교자', '순살', '너겟', '만두', '탕수육', '봉', '구이', '윙', '칠리새우', '깐풍기', 
          '닭강정', '새우튀김']
list_3 = ['츄러스', '밤', '핫도그', '쁘띠첼', '떡볶이' '바삭칩', '맥스봉', '핫랩', '면볶이', '고메 베이커리', 
          '냉동감자', '팝콘', '찹쌀떡', '스크림', '아몬드']
list_4 = ['스테이크', '카츠', '미트볼', '떡갈비', '동그랑땡', '까스', '불고기', '완자', '너비아니', '고기말이', '바베큐바']
list_5 = ['닭가슴살', '햄', '베이컨', '후랑크', '비엔나', '스팸', '통삼겹', '소시지', '킬바사', '더블에이징', '부어스트', '']
list_7 = ['오메가', '루테인', '유산균', '영양', '전립소', '비타민', '팻다운', '리턴업', '바이오코어', '홍삼', '흑삼',
          '콜라겐', '멀티', '배도라지', '양배추', '한뿌리', '닥터뉴트리', '환심']
list_9 = ['아이시스', '트레비', '삼다수', '콜라', '석류', '토레타', '컨디션', '사이다', '얼티브', 'W차', '파우더', '청', 
          '미초', '커피', '시럽', '식혜', '아이누리', '플리또', '메티에', '보리']
list_11 = ['쿡킷', '밀키트']

In [ ]:
list_10 = '|'.join(list_10)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_10)), 'category'] = '10'

In [ ]:
list_6 = '|'.join(list_6)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_6)), 'category'] = '6'

In [ ]:
list_8 = '|'.join(list_8)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_8)), 'category'] = '8'

In [ ]:
list_0 = '|'.join(list_0)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_0)), 'category'] = '0'

In [ ]:
list_1 = '|'.join(list_1)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_1)), 'category'] = '1'

In [ ]:
list_2 = '|'.join(list_2)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_2)), 'category'] = '2'

In [ ]:
list_3 = '|'.join(list_3)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_3)), 'category'] = '3'

In [ ]:
list_4 = '|'.join(list_4)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_4)), 'category'] = '4'

In [ ]:
list_5 = '|'.join(list_5)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_5)), 'category'] = '5'

In [ ]:
list_7 = '|'.join(list_7)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_7)), 'category'] = '7'

In [ ]:
list_9 = '|'.join(list_9)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_9)), 'category'] = '9'

In [ ]:
list_11 = '|'.join(list_11)
cj_new.loc[(cj_new['category']=='12')&(cj_new['product_name'].str.contains(list_11)), 'category'] = '11'
cj_new

In [ ]:
# 12로 대체했던 결측치가 모두 사라짐
cj_new['category'].value_counts()

In [ ]:
# num_category 계산을 위해 추가
cj_new['num_category'] = cj_new['category']

카테고리 축약
- 요리 : 국/김치/김/반찬/두부, 스팸/닭가슴살/소시지, 신선식품 (0, 1, 2)
- 간식 : 만두/피자/치킨, 핫도그/떡볶이/간식, 돈까스/함박/구이 (3, 4, 5)
- 식사 : 밥/죽/면, 밀키트 (6, 7)
- 기타 : 건강식품, 음료/생수/시럽, 양념/소스/가루/오일, 대용량 식자재 (8, 9, 10, 11)

In [ ]:
def cate(x):
    if x=='0' or x=='1' or x=='2' : return '0'
    elif x=='3' or x=='4' or x=='5' : return '1'
    elif x=='6' or x=='7' : return '2'
    elif x=='6,3' or x=='6,4' : return '1,2'
    elif x=='0,4' or x=='3,2' : return '0,1'
    elif x=='10,11' or x=='8,9' : return '3'
    elif x=='0,11' or x=='11,1' : return '0,3'
    elif x=='11,4' : return '1,3'
    else : return '3'

In [ ]:
cj_new['category'] = cj_new['category'].apply(cate)
cj_new

In [ ]:
cj_new['amt/qty'] = cj_new['net_order_amt']/cj_new['net_order_qty']
cj_new

In [ ]:
cj_new = cj_new.rename(columns={'net_order_qty': 'total_qty', 'net_order_amt': 'total_amt'})
cj_new

- scd : 주문번호
- gender : 성별 (1 = Male; 0 = Female)
- age_grp : 나이대 (1 = 10대; 2 = 20대; 3 = 30대; 4 = 40대; 5 = 50대; 6 = 60대)
- weekday : 주문일자 (1 = 평일; 0 = 주말 및 공휴일)
- total_qty : 총 주문 수량
- total_amt : 총 주문 금액 (정규화)
- category : 구매한 카테고리 (0 = 요리; 1 = 간식; 2 = 식사; 3 = 기타)
- event_product : 이벤트 할인 제품 총 구매 횟수
- num_category : 구매 제품의 카테고리 개수
- prime_yn : 프라임 회원 유무 (1 = 프라임 회원; 0 = 일반 회원)

In [ ]:
cj_new = cj_new[['scd', 'gender', 'age_grp', 'weekday', 'total_qty', 'total_amt', 'category', 'event_product', 'num_category', 'amt/qty', 'prime_yn', 'employee_yn']]
cj_new

In [ ]:
cj_new.info()

In [ ]:
cj_new = cj_new.astype({'category': 'string', 'num_category':'string'})

In [ ]:
cj_new.info()

In [ ]:
# category list로 변환
temp=[]
for i in range(len(cj_new)):
    str = cj_new['category'].iloc[i]
    temp.append(str.split(','))
    print(str.split(','))

In [ ]:
ctg_temp = pd.DataFrame({
    'ctg' : temp
})
ctg_temp

In [ ]:
cj_new['category'] = ctg_temp['ctg']
cj_new

In [ ]:
for i in range(len(cj_new)):
    cj_new['category'].iloc[i] = list(set(cj_new['category'].iloc[i]))

In [ ]:
cj_new['category'].value_counts()

In [ ]:
cj_new.info()

In [ ]:
for i in range(len(cj_new)):
    cj_new['category'].iloc[i] = ','.join(s for s in cj_new['category'].iloc[i])

In [ ]:
cj_new = cj_new.astype({'category': 'string'})

In [ ]:
cj_new.info()

In [ ]:
# 주문번호 별로 합치기
cj_grp = cj_new.groupby('scd').agg({'gender': pd.Series.mode,
                                   'age_grp': pd.Series.mode,
                                   'weekday': pd.Series.mode,
                                   'total_qty': 'sum',
                                   'total_amt': 'sum',
                                   'category': lambda x: ",".join(set(x)),
                                   'event_product': 'sum',
                                   'num_category': pd.Series.nunique,
                                   'amt/qty': 'mean', 
                                   'prime_yn': pd.Series.mode,
                                   'employee_yn': pd.Series.mode})
cj_grp

In [ ]:
cj_grp['category'].value_counts()

In [ ]:
cj_grp['num_category'].value_counts()

In [ ]:
cj_grp.info()

In [ ]:
for i in range(len(cj_grp)):
    str = cj_grp['category'].iloc[i]
    cj_grp['category'].iloc[i] = ','.join(dict.fromkeys(str))
    print(cj_grp['category'].iloc[i]) # abc

In [ ]:
cj_grp

In [ ]:
cj_grp['ctg_0']=0
cj_grp['ctg_1']=0
cj_grp['ctg_2']=0
cj_grp['ctg_3']=0

In [ ]:
ctg = ['0', '1', '2', '3']

for i in range(len(cj_grp)):
    for j in ctg:
        if j in cj_grp['category'].iloc[i]:
            col = 'ctg_' + j
            cj_grp[col].iloc[i] = 1

In [ ]:
cj_grp

In [ ]:
# 임직원 데이터
#cj_y = cj_grp[cj_grp['employee_yn']=='Y']
#cj_y.drop(['category', 'employee_yn'], axis = 1, inplace=True)
#cj_y.to_csv('cj_empY.csv')
#cj_y

In [ ]:
# 비임직원 데이터 (설 연휴 효과 제거)
cj_n = cj_grp[cj_grp['employee_yn']=='N']
cj_n.drop(['category', 'employee_yn'], axis = 1, inplace=True)
cj_n.to_csv('cj_empN.csv', index=False)
cj_n