In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tmk_bda_train.csv')
df

,Unnamed: 0,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,F,2,Y,20230124,N
1,1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,M,3,Y,20230124,N
2,2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,F,4,N,20230125,N
3,3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,F,4,N,20230126,Y
4,4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,M,4,N,20230125,Y
...,...,...,...,...,...,...,...,...,...,...
45870,45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,M,5,Y,20230102,Y
45871,45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,3,N,20230102,N
45872,45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,4,N,20230101,N
45873,45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,M,4,Y,20230101,Y
45874,45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,M,5,N,20230101,Y

In [3]:
df.columns

Index(['Unnamed: 0', 'scd', 'product_name', 'net_order_qty', 'net_order_amt',
       'gender', 'age_grp', 'employee_yn', 'order_date', 'prime_yn'],
      dtype='object')

In [4]:
df.drop('Unnamed: 0', axis=1,inplace=True)

In [5]:
# 프라임 회원 유무 인코딩 (1 = 프라임 회원, 0 = 일반 회원)
map_prime = {'N':0, 'Y':1}
df['prime_yn'] = df['prime_yn'].map(map_prime)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,F,2,Y,20230124,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,M,3,Y,20230124,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,F,4,N,20230125,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,F,4,N,20230126,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,M,4,N,20230125,1
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,M,5,Y,20230102,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,3,N,20230102,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,4,N,20230101,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,M,4,Y,20230101,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,M,5,N,20230101,1

In [6]:
# 성별 인코딩 (1 = Male, 0 = Female)
map_gender = {'F':0, 'M':1}
df['gender'] = df['gender'].map(map_gender)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1

In [7]:
# 구매일자 인코딩
df['weekday'] = df['order_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
df.head()

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,2023-01-24
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,2023-01-24
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2023-01-25
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,2023-01-26
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2023-01-25

In [8]:
df['weekday'] = df['weekday'].dt.weekday
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2
...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6

In [9]:
# 요일로 분류 (0 = 월, 1 = 화, 2 = 수, 3 = 목, 4 = 금, 5 = 토, 6 = 일)
df['weekday'].value_counts()

6    12022
0     8246
3     7707
1     5675
4     4786
5     4638
2     2801
Name: weekday, dtype: int64

In [10]:
# 1월 23일 월, 1월 24일 화 : 설 연휴
df['weekday2'] = df['order_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
df['weekday2'] = np.where((df['weekday2'].dt.weekday==5) | (df['weekday2'].dt.weekday==6) | (df['weekday2']==2023-1-23) | (df['weekday2']==2023-1-24), 0, 1)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0

In [11]:
# 평일 / 주말 및 공휴일로 분류 (1 = 평일, 0 = 주말 및 공휴일)
df['weekday2'].value_counts()

1    29215
0    16660
Name: weekday2, dtype: int64

In [12]:
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0

In [13]:
# 이벤트 할인 제품 총 구매 횟수 (event_product)
df['event_product'] = df['product_name'].apply(lambda x: x if x[0]=='[' else 0)

In [14]:
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,[앱전용특가]비비고 차돌된장찌개 460gX4개
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,[앱전용특가]비비고 차돌된장찌개 460gX4개
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,[식물성]고메 플랜테이블 함박스테이크 150g
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0

In [15]:
# [] 포함된 product 종류의 갯수
len(df['event_product'].unique())

1295

In [16]:
# [] 포함된 product의 종류 리스트
list(df['event_product'].unique())

[0,
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[택배배송] 얼큰 버섯 비비고 만두 전골_밀키트',
 '[임직원]가쓰오우동 4인분933.2gx2개',
 '[임직원]햇반소프트밀 한우소고기죽 420gx3개',
 '[택배배송] 해물 짬뽕 비비고 만두 전골_밀키트',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]비비고칩 포테이토40gx2개',
 '[임직원]고메 머쉬룸 투움바 파스타 740gx2개',
 '[임직원]밸런스밀 귀리 50gx4개+밸런스밀 견과 50gx4개+밸런스밀 고구마 50gx4개+밸런스밀 바나나 50gx4개+밸런스밀 프로틴쉐이크 카카오 50gx4개',
 '[임직원]즐거운동행 미정당 쫄면사리800gx2개',
 '[임직원]비비고 삼치구이 60gx2개',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[임직원]햇반 발아현미밥 210gx12개',
 '[UPCYCLE]햇반 매일잡곡밥 210gx24개(1box)',
 '[임직원]해찬들 우리쌀로 만든 태양초골드고추장1kgx2개',
 '[600개한정]비비고 육개장 500gX4개',
 '[임직원]햇반 컵반 김치날치알밥188gx2개',
 '[임직원]육공육 더블에이징 킬바사270gx2개',
 '[임직원]밸런스밀 귀리 50gx5개',
 '[500개한정] 백설 포도씨유 900mlx2개',
 '[임직원]비비고 순살고등어구이60gx2개',
 '[임직원]더건강한 닭가슴살 소시지120gx2개',
 '[500개한정]고메 싱글피자 케이준프라이즈 145gx2개',
 '[UPCYCLE]햇반 매일찰잡곡밥 210gx24개(1box)',
 '[300개한정]비비고 남도떡갈비 450gX2개',
 '[600개한정]즐거운동행 풍국면 들기름막국수 266gX2개(유통기한:2023-05-22)',
 '[500개한정]다담 된장찌개 양념  530gX2개',
 '[임직원]리턴업 관절케어 MSM (1개월분)x2개(유통기한 23.10.19)',
 '[임직원]고메 치즈크리스피핫도그 340gx2개',
 '[식물성]고메 플랜테이블 함박스테이크 150g',
 '[500개한정]햇반솥반 불고기버섯영양밥 200gx2개',
 '[임직원]햇반흑미밥210g*3EAx4개',
 '[임직원]비비고 시원바지락칼국수642gx2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]다담 된장찌개양념 530g',
 '[임직원]The더건강한 그릴김밥햄 140g*2x2개',
 '[임직원]고메 바삭쫄깃한 탕수육450gx2개',
 '[임직원]햇반소프트밀 통단팥죽 280gx4개',
 '[500개한정]비비고수제진한고기만두400g*2x2개',
 '[800개한정]육공육 더블에이징 롱후랑크250Gx2개',
 '[임직원]햇반 210gx36개',
 '[500개한정]탱글탱글 불쭈꾸미볶음_밀키트X2개',
 '[500개한정]비비고 포기배추김치 더풍부한맛 3.3kg',
 '[300개한정]고메 베이커리 애플파이 360gX2개',
 '[임직원]고메 삼선해물볶음밥840gx2개',
 '[임직원]미정당 스파이시로제떡볶이 376gx2개',
 '[임직원]맛밤3+맛군밤3 혼합번들',
 '[600개한정]고메 치킨 후라이드550gX2개',
 '[임직원]비비고 가자미구이70gx2개',
 '[임직원]햇반 쿡반 치즈닭갈비주먹밥500gx2개',
 '[임직원]크레잇 테이스티박스 토마토파스타 250gx2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[임직원]부침가루1kg',
 '[임직원]비비고 남도떡갈비450gx2개',
 '[500개한정]맥스봉치즈825g',
 '[임직원]고메 중화게살볶음밥840gx2개',
 '[100개한정] 햇반컵반 BIG바질크림리조또 306gX2개',
 '[택배배송] 탱글탱글 불쭈꾸미볶음_밀키트',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[100개한정] 리턴업 아이시안 루테인 지아잔틴100mgX30캡슐(1개월)X2개',
 '[300개한정]햇반 흑미밥 210gX12개',
 '[임직원]햇반 솥반 소고기우엉밥 200gx3개',
 '[임직원]해찬들 고기찍어먹는장 찍장 쌈장 300g',
 '[500개한정]고메 크리스피핫도그 400gX2개',
 '[1600개한정]고메 바삭튀겨낸모짜렐라돈카츠450gX2개',
 '[500개한정]백설 트러플크림 파스타소스 355gx2개',
 '[임직원]햇반 컵반 스팸김치덮밥251gx3개',
 '[임직원]삼호 꼬치어묵 600gx2개',
 '[500개한정]고메 스윗치즈 피자 325gx2개',
 '[임직원]리턴업 아이시안 루테인 아스타잔틴60+(1개월)x3개',
 '[임직원]햇반 매일찰잡곡밥 210g*3x4개',
 '[임직원]스팸 김밥햄 260gx2개',
 '[임직원]햇반소프트밀 녹두닭죽 420gx3개',
 '[임직원]밸런스밀 고구마50Gx5개',
 '[900개한정]고메함박스테이크 540gX2개',
 '[500개한정]비비고 갈비탕 400gX3개',
 '[임직원]비비고 노릇하게 구운 갈치구이70gx2개',
 '[임직원]고메 토마토미트볼147gx2개',
 '[임직원]더건강한 닭가슴살 청양 소시지 120gx2개',
 '[임직원]비비고 GOTCHU 갓츄 핫소스 300g',
 '[임직원]이너비 콜렉티브 콜라겐 930mgX84정(4주)X6개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[임직원]동치미물냉면 4인분x2개',
 '[임직원]더건강한 닭가슴살 직화 스테이크100gx3개+[사은품]갓츄 핫소스 샘플키트',
 '[임직원]얼큰우동2인분x2개',
 '[500개한정]해찬들 우리쌀로 만든 태양초골드고추장 2kg',
 '[임직원]고메 중화짬뽕652gx2개',
 '[1400개한정 ]The더건강한 그릴후랑크300g*2X2개',
 '[임직원]비비고 순살삼치구이60gx2개',
 '[500개한정]백설 베이컨까르보나라 파스타소스 355gx2개',
 '[임직원]햇반 컵반치킨커리덮밥278gx3개',
 '[500개한정]비비고 묵은지 900gx2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[임직원]고메치즈함박스테이크152gx2개',
 '[임직원]베트남 쌀국수2인분375gx2개',
 '[500개한정]햇반소프트밀 통단팥죽 280gX4개',
 '[임직원]행복한콩 2가지로만 국산콩찌개용300gx2개',
 '[임직원]햇반 솥반 뿌리채소영양밥200gx2개',
 '[100개한정] 고메 로제크림치킨 시카고피자 400gx2개',
 '[500개한정]다담 깻잎지 반찬양념 150gx2개',
 '[임직원]햇반 차돌깍두기볶음밥 410g x2개',
 '[600개한정]햇반소프트밀 전복내장죽 420gX2개',
 '[임직원]닥터뉴트리 포커스 멀티비타민 60캡슐(2개월)x3개',
 '[500개한정] 비비고 수제만둣집 진한고기만두980gx2개',
 '[임직원]햇반 매일오곡밥 210Gx12개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[임직원]동치미냉면육수300gx2개',
 '[500개한정] 햇반솥반 버섯영양밥 200gX2개',
 '[500개한정]고메 중화짜장 760gX2개',
 '[임직원]가쓰오우동2인+튀김우동2인x2개',
 '[임직원]햄스빌베이컨160gX2x2개',
 '[임직원]더건강한 닭가슴살 직화 통살구이100gx2개+[사은품]갓츄 핫소스 샘플키트',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[500개한정]꼬마새우까스 250gx2개',
 '[임직원]비비고 소고기장조림125Gx3개',
 '[500개한정]햇반쿡반 불고기주먹밥 500gX2개',
 '[1000개한정]고메 바삭튀겨낸통등심돈카츠450gX2개',
 '[임직원]백설 매실청1.025kgx2개',
 '[임직원]행복한콩/2가지국산콩부침찌개300G*2x2개',
 '[임직원]고메 페퍼로니토마토 시카고피자 390gx2개',
 '[500개한정] 햇반쿡반 곤드레나물밥866g',
 '[500개한정]더건강한 직화 화다닭 75gx2개',
 '[임직원]비비고칩 스위트콘40gx2',
 '[500개한정]고메 토마토미트볼 147gX2개',
 '[임직원]주부초밥왕 한입사각유부초밥400gx2개',
 '[임직원]명가 한달직화구이김박스12EA*4',
 '[300개한정]비비고 잔칫집모둠잡채644gx2개',
 '[임직원]비비고칩 오리지널40gx2개',
 '[임직원]비비고 왕교자 1.05kgx2개+[사은품]갓츄 핫소스 샘플키트X3개',
 '[임직원]맥스봉치즈1.08KG(27G*40개)',
 '[임직원]스팸마일드(25%라이트) 200gx3개',
 '[임직원]크레잇 숯불향고추장삼겹살400gx2개',
 '[임직원]더건강한 닭가슴살 비엔나 120gx2개',
 '[500개한정][bibigo table] 비비고 특양지곰탕 700gx2개(냉동)',
 '[1000개한정] 고메 중화게살 볶음밥 840gx2개',
 '[500개한정]백설 토마토라구 파스타소스 375gx2개',
 '[임직원]명가 직화돌김 4.5gx16eax2개',
 '[임직원]쁘띠첼 밀감 90gx6eax2개',
 '[임직원]쁘띠첼 워터젤리 사과130mlx5개',
 '[400개한정]비비고 순살 고등어구이 60gX2개',
 '[500개한정]고메 클래식 콤비네이션 피자 405gX2개',
 '[임직원]햇반 쿡반 곤드레나물밥 866gx2개',
 '[200개한정]비비고 콩나물황태국 500gX4개',
 '[임직원]비비고 왕교자420gx2개',
 '[400개한정]비비고 노릇하게 구운 갈치구이 70gX2개',
 '[임직원]다담 순두부찌개양념 140g*4x2개',
 '[500개한정] CJ 꼬마돈까스 1.2kgX2개',
 '[임직원]햇반 컵반 사골곰탕국밥 166Gx3개',
 '[임직원]고메 베이커리 크로와상 630Gx2개',
 '[임직원]김처럼 밥에 싸먹는 햄 구이 한판 60gx4개',
 '[임직원]해찬들 새콤달콤 초고추장300g(튜브)x2개',
 '[500개한정] 백설 유러피안 해바라기유 스프레이 200mlx2개',
 '[임직원]주부초밥왕 새콤달콤유부초밥 320gx2개',
 '[임직원]비비고 썰은배추더풍부한맛900gx2개',
 '[500개한정]햇반소프트밀 단호박죽 420gX2개',
 '[임직원]햇반 솥반 버섯영양밥 200Gx3개',
 '[임직원]생야채돼지고기물만두400g*2eax2개',
 '[300개한정]비비고진한교자칼국수630gX2개',
 '[임직원]고메 바삭튀겨낸모짜렐라돈카츠450gx2개',
 '[임직원]고메 빅크리스피핫도그520gx2개',
 '[임직원]맥스봉 청양고추 후랑크80gx2개',
 '[임직원]하선정 4無 김밥단무지 370gx2개',
 '[임직원]비비고 버섯잡채590gx2개',
 '[800개한정]밸런스밀 프로틴쉐이크 카카오 50gx4개',
 '[임직원]밸런스밀 바나나 50gx5개',
 '[임직원]고메 함박스테이크152gx2개',
 '[700개한정]고메 빅크리스피핫도그520gX2개',
 '[300개한정]비비고 한입떡갈비 282g*2X2개',
 '[500개한정]고메 크리스피너겟 450gX2개',
 '[임직원]The더건강한 샌드위치햄90gx2개',
 '[임직원]튀김가루1kg',
 '[500개한정]고메 머쉬룸 투움바 파스타 740gX2개',
 '[임직원]비비고 삼계탕800gx4개',
 '[500개한정]비비고 청양고기만두 400g*2x2개',
 '[300개한정]백설 고소함가득 참기름 430mlX2개',
 '[임직원]씨제이 납작군만두700g',
 '[임직원]햇반 솥반 통곡물밥 200Gx3개',
 '[임직원]CJ 꼬마돈까스1.2kgx2개',
 '[500개한정]햇반 현미밥 130gX24개',
 '[임직원]스팸라이트 200gx3번들(노캡)x2개',
 '[400개한정]비비고 차돌된장찌개 460gX3개',
 '[500개한정]고메 꿀고구마치즈 피자 140gX2개',
 '[800개한정]고메 순살치킨 스윗허니 450gX2개',
 '[임직원]햇반소프트밀 동지팥죽 420gx3개',
 '[임직원]삼호 매콤달콤 쫀득어묵볶이 330gx2개',
 '[400개한정] 크레잇 치킨가라아게 1kgX2개',
 '[임직원]백설 안달루시아산 퓨어 올리브유 500mlx2개',
 '[임직원]햇반 컵반강된장보리비빔밥280gx3개',
 '[임직원]삼호 모둠어묵탕374gx2개',
 '[임직원]비비고 소고기 미역국 500gx6개',
 '[임직원]즐거운동행 미정당 우리땅우리쌀떡국떡1kgx2개',
 '[임직원]비비고 청양고추 찐만두168gx2개',
 '[임직원]비비고 진한고기400g*2x2개',
 '[100개한정] 햇반쿡반 참치마요주먹밥 500gx2개',
 '[200개한정]비비고 돼지고기김치찌개 460gX3개',
 '[500개한정]햇반쿡반 김치치즈주먹밥 500gX2개',
 '[임직원]가쓰오우동2인+얼큰우동2인x2개',
 '[임직원]리턴업 발효효소 베이직 90G(1개월)x3개',
 '[600개한정]고메치즈크리스피핫도그340gX2개',
 '[500개한정]스팸 클래식200gx3개X2개',
 '[임직원]가쓰오우동한그릇x2개',
 '[임직원]해찬들 고기찍어먹는장 찍장 매콤쌈장 300g',
 '[임직원]명가 김밥김 22gx2개',
 '[임직원]고메 크리스피너겟 450gx3개',
 '[임직원]더건강한 닭가슴살 직화 화다닭 75gx3개',
 '[1000개한정]고메 페퍼로니토마토 시카고피자 390g+고메 클래식 콤비네이션 피자 405g+고메 클래식 불고기 피자 405g',
 '[임직원]비비고 석박지 900gx2개',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[임직원]비비고 수삼갈비탕 400gx4개',
 '[500개한정] 삼호 가쓰오 모둠 어묵탕413gx2개',
 '[임직원]리턴업 아이시안 루테인 오메가3(1개월)x3개',
 '[임직원]가쓰오우동 2인분 466.6gx2개',
 '[500개한정]백설 통손질국물내기 국내산멸치디포리 10gX6개입x2개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[500개한정]비비고 소고기 미역국 500gX4개',
 '[임직원]햇반 솥반 흑미밤찰밥 210gx3개',
 '[임직원]The더건강한그릴후랑크300g*2x2개',
 '[임직원]해찬들 궁중식 쇠고기 볶음고추장500gx2개',
 '[100개한정] 햇반컵반 BIG트러플크림리조또 301gX2개',
 '[임직원]비비고 육개장 500gx6개',
 '[임직원]이너비_스노우화이트 500MG*56캡슐(4주)x2개',
 '[임직원]더건강한 닭가슴살 소시지(꼬치)80gx3개',
 '[100개한정] 고메 페퍼로니토마토 시카고피자 390gx2개',
 '[500개한정]백설 와플믹스 450gx2개',
 '[임직원]비비고 든든한섬만두 384g*2x2개',
 '[임직원]톡톡까먹어밤 500gx2개',
 '[임직원]비비고 백김치500gx2개',
 '[임직원]명가 담백구운김 2gx16eax2개',
 '[임직원]고메 봉골레 오일 파스타626gx2개',
 '[임직원]즐거운동행 풍국면 들기름막국수266gx2개(유통기한 23.05.29)',
 '[500개한정] 햇반쿡반 스팸김치주먹밥 500gx2개',
 '[600개한정]밸런스밀 귀리 50gX2개',
 '[700개한정]비비고 물만두 370gx2개X2개',
 '[400개한정]더건강한 닭가슴살 직화 통살구이100gX4개',
 '[600개한정] 햇반솥반 꿀약밥 210gX3개',
 '[100개한정] 다담 진미채양념 150gx2개',
 '[임직원]햇반 컵반황태국밥170gx3개',
 '[임직원]BYO 식물유래 유산균 다이어트 30캡슐(1개월)x2개',
 '[임직원]밀당의고수쫄면2인x2개',
 '[임직원]깐메추리알 450gx2개',
 '[500개한정]햇반 매일찰잡곡밥 210g*8번들X2개',
 '[임직원]고메 크리스피핫도그 400gx2개',
 '[임직원]백설 요리올리고당 700gx3개',
 '[임직원]비비고 포기배추김치 더풍부한맛 3.3kg',
 '[임직원]비비고 된장찌개 460gx4개',
 '[임직원]고메 싱글피자 꿀고구마치즈 140gx3개',
 '[임직원]쁘띠첼 복숭아 90gx6eax2개',
 '[600개한정]햇반쿡반 베이컨김치볶음밥 400gX2개',
 '[500개한정]비비고소고기장터국 500gx4개',
 '[임직원]삼호 쫀득어묵 500gx2개',
 '[임직원]비비고 수제깔끔고기만두200gx3개',
 '[임직원]비비고 견과류멸치볶음60Gx4개',
 '[임직원]더건강한 닭가슴살 꼬지 청양고추80gx2개',
 '[임직원]비비고 한마리고등어구이140gx2개',
 '[임직원]맥스봉 직화구이꼬치바오리지널 70gx2개',
 '[임직원]햇반소프트밀 소고기죽 420gx3개',
 '[임직원]즐거운동행미정당 국물떡볶이401.2gx2개',
 '[임직원]EXCYCLE 바삭칩 오리지널맛 50gx2개',
 '[임직원]맥스봉치즈162gx2개',
 '[임직원] 비비고 두부청국장찌개 460gx3개',
 '[500개한정]비비고 썰은배추김치 1.8kgX2개',
 '[임직원]더건강한 닭가슴살 통살 훈제 100gx2개',
 '[500개한정]비비고 진한김치만두200gX2개',
 '[100개한정]고메 트러플 크림 파스타 740gx2개',
 '[임직원]햇반 컵반 순두부찌개국밥 173gx3개',
 '[500개한정]햇반작은공기130g*6번들X2개',
 '[500개한정]고메 순살크리스피 치킨 고추크런치 450gX2개',
 '[500개한정]고메오리지널 핫도그 400gx2개',
 '[임직원]밸런스밀 견과50Gx5개',
 '[임직원]비비고 부추새우만두509gx2개',
 '[500개한정]고메 토마토치즈 피자 345gx2개',
 '[임직원]CJ 교자만두1.41kg',
 '[임직원]햇반 컵반중화마파덮밥275gx3개',
 '[1000개한정]비비고 왕교자 1.05kgX2개+고메 바삭튀겨낸통등심돈카츠450g',
 '[임직원]햇반소프트밀 전복버섯죽 280gx4개',
 '[500개한정]비비고 시원바지락칼국수642g (2인분)X2개',
 '[앱전용특가]햇반 작은공기130gX6번들X2개',
 '[임직원]쁘띠첼 워터젤리 포도 130mlx5개',
 '[500개한정]꼬마 돈까스 400gx2개',
 '[500개한정]고메 클래식 불고기 피자 405gX2개',
 '[임직원]햇반 컵반직화짜장덮밥281gx3개',
 '[500개한정]비비고 진한김치만두400g*2X2개',
 '[임직원]행복한콩 2가지로만 국산콩부침용300gx2개',
 '[500개한정]고메  마르게리타 피자 325gx2개',
 '[임직원]햇반소프트밀 누룽지닭백숙죽 420gx3개',
 '[100개한정]햇반솥반 전복내장영양밥 200gx2개',
 '[임직원]까르보나라스파게티2인분x2개',
 '[500개한정] CJ명가 한달직화구이김박스12ea*4',
 '[임직원]비비고 고등어구이 60gx2개',
 '[500개한정]미정당 매콤까르보나라 누들떡볶이X2개',
 '[임직원]비비고 수제진한김치만두400g*2x2개',
 '[임직원]비비고 깍두기500gx2개',
 '[600개한정] 햇반솥반 뿌리채소영양밥 200gX3개',
 '[500개한정]스팸 클래식 200gx4개',
 '[300개한정]햇반 발아현미밥210gX12개',
 '[임직원]두부면 들기름 간장파스타 2인분x2개',
 '[임직원]고메치킨 후라이드550gx2개',
 '[임직원]쁘띠첼 워터젤리 복숭아 130mlx5개',
 '[500개한정]고메 숯불향오븐구이 400gX2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 900gX2개',
 '[500개한정]CJ명가 한식간장김자반50g*2eaX2개',
 '[임직원]맥스봉 치즈후랑크70gx2개',
 '[임직원]고메 바삭튀겨낸통등심돈카츠450gx2개',
 '[임직원]더건강한 닭가슴살 샌드위치햄 90gx2개',
 '[2300개한정]즐거운동행미정당국물떡볶이401.2gx2개',
 '[임직원]햇반 컵반BIG바질크림리조또306gx3개',
 '[임직원]햇반작은공기130g*6번들x2개',
 '[임직원]쁘띠첼 과일젤리포도210gx5개',
 '[1000개한정]비비고 삼계탕 800gx2개',
 '[임직원]햇반 새우볶음밥 420gx2개',
 '[700개한정]햄스빌 굿베이컨130g*2X2개',
 '[500개한정]햇반 매일잡곡밥210gX12개',
 '[임직원]BYO 프리바이오틱스 FOS플러스 30포(1개월)x3개',
 '[임직원]CJ명가 파래김4g*16eax2개',
 '[500개한정]더건강한 닭가슴살 직화 스테이크100gx4개',
 '[500개한정]백설 통손질국물내기 얼큰해물 10gX6개입x2개',
 '[임직원]비비고 언양식 바싹불고기460gx2개',
 '[500개한정]백설 명란로제 파스타소스 370gx2개',
 '[임직원]맥스봉 숯불구이맛 핫바 70gx2개',
 '[임직원]햇반 컵반 미역국밥167gx2개',
 '[임직원]햇반 솥반 꿀약밥 210gx3개',
 '[임직원]함흥비빔냉면소스85gx5개',
 '[500개한정]비비고 소고기장조림 125gX2개',
 '[임직원](냉동) 비비고 테이블 특양지곰탕 700gx2개',
 '[100개한정]쁘띠첼 미초 석류 900mlX2개',
 '[임직원]비비고 임연수구이 60gx2개',
 '[임직원]삼호 가쓰오모둠어묵탕413gx2개',
 '[임직원]리턴업 면역케어 프로폴리스(1개월)x3개',
 '[임직원]CJ 명가김 재래김4g*16ea x2개',
 '[500개한정]백설너비아니560gX2개',
 '[임직원]햇반쿡반 매콤부추고기볶음밥 400gx2개',
 '[500개한정] 고메 소보로 고르곤졸라 시카고 피자370gx2개',
 '[임직원]감자수제비가루500gx2개',
 '[새벽배송][쿡킷] 애호박 돼지고기짜글이',
 '[새벽배송][쿡킷] 소고기버섯듬뿍잡채',
 '[1000개한정]고메 중화짬뽕 652g+고메 중화짜장 760g+고메 중화게살볶음밥840g',
 '[500개한정] 백설 유러피안 엑스트라버진 올리브유 스프레이 200mlx2개',
 '[500개한정]고메 화끈불닭봉 355gX2개',
 '[새벽배송][쿡킷] 불낙전골',
 '[식물성] 비비고 플랜테이블 떡갈비 450g',
 '[300개한정]비비고 언양식바싹불고기 460gX2개',
 '[500개한정]고메 칠리감바스 피자 350gX2개',
 '[500개한정] 햇반소프트밀 전복삼계죽 420gX4개',
 '[새벽배송][쿡킷] 칠리깐쇼새우',
 '[500개한정]비비고 메추리알장조림 170gX2개',
 '[임직원]비비고 찐만두168gx2개',
 '[100개한정] 더건강한 닭가슴살 비엔나 120gx2개',
 '[500개한정]삼호 모둠어묵탕374gx2개',
 '[500개한정]햇반컵반 스팸마요덮밥219gX2개',
 '[500개한정]햇반 현미쌀밥 210gX12개',
 '[500개한정]삼호 꼬치어묵 600gx2개',
 '[임직원]고메 플랜테이블 함박스테이크 540gx2개',
 '[1000개한정]비비고 사골곰탕 500gX12개',
 '[500개한정]비비고스팸부대찌개 460gx2개',
 '[100개한정]비비고 포기배추김치 3.3Kg',
 '[500개한정]비비고 꼬리곰탕 460gX2개',
 '[500개한정]김처럼 밥에 싸먹는 햄 구이 한판 60gX2개',
 '[임직원]크레잇 유연한LA양념갈비 500gx3개',
 '[임직원]즐거운동행 미정당 국물떡볶이 4인분기획 912.4gx2개',
 '[500개한정]햇반 귀리흑미곤약밥 150gx2개',
 '[200개한정]밀당의고수 바삭한 김말이 400gX2개',
 '[500개한정]햇반 현미귀리곤약밥 150gx2개',
 '[임직원]고메 클래식 불고기 피자 405gx2개',
 '[400개한정]고메 베이커리 치즈볼 270gX2개',
 '[임직원]육공육 더블에이징 롱후랑크250gx2개',
 '[400개한정]백설 야채고기말이 448gX2개',
 '[500개한정] 비비고 순살 삼치구이 60gx4개',
 '[100개한정]햇반솥반 소고기우엉밥 200gx2개',
 '[500개한정]고메 바삭쫄깃한 사천탕수육 450gX2개',
 '[100개한정] 비비고 두부청국장찌개 460gx2개',
 '[500개한정]비비고 전복미역죽 420gx2개',
 '[임직원]비비고 도톰 동그랑땡560gx2개',
 '[임직원]크레잇 테이스티박스 다시다떡볶이 265gx2개',
 '[식물성] 고메 플랜테이블 함박스테이크 540g',
 '[임직원]햇반컵반 스팸마요덮밥219gx2개',
 '[300개한정]비비고 진국설렁탕 500gX3개',
 '[임직원]비비고 왕교자 455g*2번들x2개+[사은품]갓츄 핫소스 샘플키트X3개',
 '[500개한정]햇반쿡반 새우볶음밥 840gx2개',
 '[500개한정] 햇반쿡반 치킨갈릭마요주먹밥 500gx2개',
 '[500개한정]해찬들 고기찍어먹는장 찍장 매콤쌈장 300gX2개',
 '[100개한정]병아리콩 그레인보울 160gx2개',
 '[임직원]사천마라탕면 2인분 434gx2개',
 '[500개한정]비비고 수제깻잎고기만두400g*2번들X2개',
 '[200개한정]The더건강한 그릴비엔나 200g*2X2개',
 '[500개한정] 더건강한 닭가슴살 큐브톡톡 ALL 96gx2개',
 '[식물성] 햇반쿡반 플랜테이블 불고기주먹밥 500g',
 '[300개한정]고메 치즈함박스테이크 465gX2개',
 '[500개한정]고메 통모짜 핫도그 340gX2개',
 '[임직원]고메 중화짜장760gx2개',
 '[100개한정] 햇반쿡반 불닭마요주먹밥 500gx2개',
 '[500개한정]햇반 소프트밀 통단팥죽 420gX4개',
 '[200개한정]비비고 설렁탕 500gX4개',
 '[500개한정]행복한콩2가지국산콩부침찌개300g*2x2개',
 '[100개한정]비비고 GOTCHU 갓츄 핫소스 300gX3개',
 '[100개한정]EXCYCLE 바삭칩 오리지널 50gx2개',
 '[500개한정]스팸 김밥햄 260gx2개',
 '[300개한정]명가 감태김 4gX12EAx2개',
 '[500개한정]백설 찹쌀호떡믹스 400gx2개',
 '[100개한정]고메 봉골레 오일 파스타 626gx2개',
 '[500개한정]숯불향 치즈닭갈비&볶음밥_밀키트X2개',
 '[200개한정]크레잇 바삭통김말이1.4kgX2개',
 '[임직원]비비고 포기배추김치4.9kg',
 '[500개한정]햇반쿡반 치즈닭갈비주먹밥 500gX2개',
 '[임직원]리턴업 혈행케어 RTG오메가 30캡슐(1개월)x2개',
 '[임직원](냉동) 비비고 테이블 특양지곰탕 700gx8개',
 '[500개한정][택배배송] 스팸듬뿍 부대찌개_밀키트X2개',
 '[임직원]고메 숯불향오븐구이 400gx2개',
 '[500개한정]햇반쿡반 참치마요주먹밥 500gx2개+햇반쿡반 스팸김치주먹밥 500gx2개',
 '[임직원]The더건강한 그릴비엔나 200g*2x2개',
 '[500개한정]가쓰오튀김우동 2인분x2개',
 '[500개한정]BYO 식물유래 유산균 다이어트 30캡슐X2개',
 '[임직원]고메 화끈불닭봉 355gx2개',
 '[100개한정]햇반 컵반 미역국밥 167gX4개',
 '[500개한정]가쓰오얼큰우동2인분x2개',
 '[임직원]삼호정통어묵탕342gx2개',
 '[1000개한정미정당 스파이시로제떡볶이 376gx2개',
 '[임직원]정통식 야끼소바 2인분 412gx2개',
 '[임직원]백설너비아니560gx2개',
 '[임직원]밀당의고수 김말이400gx2개',
 '[200개한정]크레잇 생활반찬 꼬마돈카츠 1kgX2개',
 '[500개한정]The 더건강한 닭가슴살 통살 1000g(100g*10)',
 '[100개한정] 더건강한 닭가슴살 샌드위치햄 90gx2개',
 '[1000개한정]스팸라이트 200gx3번들(노캡)x2개',
 '[임직원]백설 토마토스파게티소스610gx3개',
 '[임직원]고메 알싸쯔란봉 355gx2개',
 '[임직원]비비고 돼지고기김치찌개 460gx4개',
 '[100개한정]비비고 한마리고등어구이 140gx2개',
 '[임직원]스팸 클래식200gx3개',
 '[500개한정] 스팸마일드(25%라이트) 200gx4개',
 '[500개한정] 햇반소프트밀 단호박죽 280gX4개',
 '[임직원]비비고 청양고기만두 400g*2x2개',
 '[800개한정]고메 포테이토치즈 핫도그400gX2개',
 '[임직원]하선정쌈무(새콤)350gx2개',
 '[임직원]비비고 진국설렁탕 500gx4개',
 '[300개한정]고메 베이커리 크로와상 630gx2개',
 '[임직원]고메 싱글피자 허니베이컨체다 135gx3개',
 '[100개한정]비비고 감자탕 460gX3개',
 '[500개한정]밸런스밀 견과 50gx2개',
 '[임직원]비비고 수제평양만두384g*2eax2개',
 '[500개한정][bibigo table] 비비고 특설렁탕 700gx2개(냉동)',
 '[500개한정]크레잇 칠리치즈 미트볼&파스타X2개',
 '[500개한정]비비고 찰보리 감자만두 400gx2개X2개',
 '[500개한정]고메 미니 치즈카츠 450gX2개',
 '[500개한정] CJ명가 토종김 참기름 5gx20eaX2개',
 '[600개한정] 햄스빌 베이컨160gX2X2개',
 '[500개한정]햇반컵반 BIG매콤로제치킨리조또 323gX2개',
 '[임직원]비비고 설렁탕 500gx6개',
 '[임직원]CJ명가 한식간장김자반50g*2eax2개',
 '[500개한정] CJ명가 직화구이김4.5g*16eax2개',
 '[임직원]햇반컵반 참치마요덮밥 204gx3개',
 '[500개한정] 리턴업 식물성 알티지오메가3 트리플 60캡술(1개월)',
 '[500개한정]햇반컵반 치킨마요덮밥 233gX2개',
 '[500개한정]삼호 매콤달콤 쫀득어묵볶이 330gx2개',
 '[임직원]CJ 꼬마새우까스 250Gx2개',
 '[500개한정]고메 미니치킨너겟 400gX2개',
 '[500개한정]해찬들 고기찍어먹는장 찍장 쌈장 300gX2개',
 '[임직원]삼호 곤약 250gx2개',
 '[200개한정]명가 버터간장김자반50gX4개',
 '[임직원]비비고 왕교자 라이트 455g*2eax2개',
 '[300개한정]명가 초사리곱창돌김 5gX12EAx2개',
 '[임직원][냉동] 탱글탱글 불쭈꾸미볶음_밀키트x2개',
 '[500개한정]고메 허니베이컨체다 피자 135gX2개',
 '[500개한정]비비고 담백평양만두 384g*2X2개',
 '[500개한정]주부초밥왕 한입사각유부초밥400gX2개',
 '[500개한정]햇반쿡반 버터장조림주먹밥 500gX2개',
 '[500개한정]우동 면사리 190gx2개',
 '[1000개한정] 명가 김밥김 22gx2개',
 '[임직원]비비고 파김치400gx2개',
 '[임직원]고메 칠리감바스 피자 350gx2개',
 '[800개한정]비비고 수삼갈비탕 400gx2개',
 '[200개한정]비비고 순댓국 460gX3개',
 '[300개한정]백설 남해굴소스 500gX2개',
 '[임직원]5가지 재료로만 만든 부침가루 1KG',
 '[500개한정] 햇반컵반 치킨커리덮밥 278gX2개',
 '[100개한정] 백설 매콤칼칼 돼지등갈비양념 470gX2개',
 '[500개한정]햇반 소프트밀 버섯야채죽 420gX3개',
 '[임직원]비비고 물만두370gx2번들x2개',
 '[임직원]밸런스밀 견과 50gx20개(1box)',
 '[500개한정]고메 알싸쯔란봉 355gX2개',
 '[100개한정]비비고 사골시래기된장국 460gX4개',
 '[300개한정]육공육 더블에이징 후랑크460gx2개',
 '[500개한정] 정통식 야끼소바 2인분 412gx2개',
 '[임직원]백설 참치액 진더풍부한맛500gx2개',
 '[200개한정]비비고 소고기무국 500gX4개',
 '[500개한정]비비고 부추새우만두509gX2개',
 '[300개한정]육공육 더블에이징 비엔나 475gx2개',
 '[임직원]고메 스윗치즈 피자 325gx2개',
 '[200개 한정]백설 스모크 치킨&포크 바베큐소스 315g+그릴드 씨푸드&베지 바베큐소스 285g+치폴레 스파이시 디핑소스 320g(유통기한:23-04-23)',
 '[500개한정]비비고 도가니곰탕 460gX2개',
 '[500개한정]삼호 쫀득어묵 500gx2개',
 '[700개한정] 스팸 싱글 25%라이트 80gx4개',
 '[100개한정] 리턴업 아이시안 루테인 아스타잔틴60+(1개월)X2개',
 '[500개한정]비비고 든든한섬만두 384g*2X2개',
 '[500개한정]햇반소프트밀 낙지김치죽 420gX4개',
 '[100개한정] 리턴업 아이시안 루테인 오메가3(1개월)X2개',
 '[식물성] 플랜테이블 김치왕교자420g',
 '[임직원]리턴업 뼈건강케어 칼슘+마그네슘+비타민D(1개월)x3개',
 '[임직원]햇반 솥반 전복내장영양밥 200gx3개',
 '[500개한정]햇반소프트밀 전복죽 420gX2개',
 '[200개 한정]백설 스모크 치킨&포크 바베큐소스 315g+치폴레 스파이시 디핑소스 320g(유통기한:2023-04-23)',
 '[임직원]햇반 쿡반 간장버터장조림볶음밥 400gx2개+[사은품]갓츄 핫소스 샘플키트X2개',
 '[임직원]비비고 전복미역국 460gx4개',
 '[임직원]맛밤80gx3개',
 '[600개한정]햇반쿡반 곤드레나물밥 433gX2개',
 '[임직원]햇반 쿡반 참치마요주먹밥 500gx2개',
 '[임직원]비비고 왕만두490g*2eax2개',
 '[500개한정]숯불향 고추장삼겹살 구이_밀키트X2개',
 '[임직원]CJ명가 한식간장김자반 50gx2개',
 '[택배배송] 쯔란 돼지고기 볶음_밀키트',
 '[600개한정]비비고 남도식 추어탕 460gX3개',
 '[200개한정]비비고 차돌육개장 500gX3개',
 '[임직원]밸런스밀 프로틴쉐이크 카카오 50gX5개',
 '[500개한정]명가 지구를생각한바삭한김 4gX20eaX2개',
 '[침착맨] 햇반컵반 BIG치즈닭갈비덮밥313G',
 '[임직원]비비고 한입떡갈비282gx2번들x2개',
 '[임직원]CJ명가 직화구이김4.5g*16eax2개',
 '[400개한정]고메 바삭촉촉한 깐풍기 450gX2개',
 '[1000개한정]고메 삼선해물 볶음밥 840gx2개',
 '[500개한정]백설 압착올리브유 900mlx2개',
 '[임직원]햇반 컵반 버터장조림비빔밥 216gx3개',
 '[임직원]쁘띠첼 과일젤리파인애플210gx5개',
 '[500개한정]  스팸마일드(25%라이트) 340gx2개',
 '[500개한정] 비비고 왕교자455g*2x2개',
 '[임직원]쁘띠첼 과일젤리밀감210gx5개',
 '[임직원]리턴업 팻다운 컷 잔티젠(1개월)x2개',
 '[200개한정]The더건강한 통삼겹스테이크 갈릭&바질 300gX2개',
 '[임직원] 닥터뉴트리 포커스 멀티비타민 60캡슐(2개월)X6개',
 '[임직원]고메 콰트로포르마지 피자 310gx2개',
 '[500개한정] 햇반소프트밀 버섯야채죽 280gX4개',
 '[임직원]비비고 잔칫집모둠잡채644gx2개',
 '[임직원]비비고 석박지를 넣은 포기김치3kg',
 '[임직원]삼호 오뎅한그릇 얼큰4입',
 '[2023설사원선물신청] 스팸12호',
 '[임직원]비비고 도톰해물완자510gx2개',
 '[임직원]햇반쿡반 플랜테이블 전주비빔주먹밥 500gx2개',
 '[임직원]비비고 차돌된장찌개 460gx4개',
 '[임직원]비비고 총각김치2.3kg',
 '[침착맨] 햇반컵반 BIG치킨마요덮밥313G',
 '[임직원]고메 통모짜핫도그 340gx2개',
 '[임직원]햄스빌 굿베이컨130g*2x2개',
 '[2023설사원선물신청] CJ명가 직화구이 1호',
 '[임직원][냉동] 숯불향 치즈닭갈비&볶음밥_밀키트x2개',
 '[임직원]더건강한 닭가슴살 쏙쏙한입큐브80gx2개',
 '[임직원]비비고 묵은지400gx2개',
 '[임직원]백설 참치액 진더풍부한맛900g',
 '[임직원]삼호 실곤약 200gx2개',
 '[임직원]미정당 매콤까르보나라 누들떡볶이x2개',
 '[2023설사원선물신청] 스팸 복합 E호',
 '[임직원]쁘띠첼 과일젤리복숭아210gx5개',
 '[임직원]고메 미니치킨너겟 400gx2개',
 '[임직원]오곡참깨드레싱 240gx2개',
 '[임직원]다담 차돌순두부찌개양념130gx2개',
 '[2023설사원선물신청] 스팸스위트1호',
 '[침착맨] 햇반컵반 BIG김치날치알밥263G',
 '[임직원]햇반 작은 공기130gx6개',
 '[임직원]크레잇 테이스티박스 만두그라탕 240gx2개',
 '[임직원]햇반 컵반 불닭마요덮밥219gx3개',
 '[임직원]비비고 특설렁탕 700gx2개',
 '[임직원]백설 햄스빌두툼한굿베이컨340gx2개',
 '[임직원]백설 베이컨까르보나라 파스타소스 355gx2개',
 '[임직원]햇반 쿡반 버터장조림주먹밥500gx2개',
 '[임직원]오리엔탈드레싱260gx2개',
 '[임직원]찹쌀호떡믹스400Gx2개',
 '[임직원]팻다운 파워번 스페셜 가르시니아 100mlx10병 x2개',
 '[임직원]밸런스밀 프로틴쿠키 치즈맛40gx5개',
 '[임직원]비비고 메추리알 장조림170gx4개',
 '[2023설사원선물신청] 특별한선택 1호',
 '[택배배송] 해물 짬뽕 비비고 만두 전골_밀키트x2개',
 '[56%선할인적용] 리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월)X3개',
 '[임직원]리턴업 팻다운 컷 가르시니아(4주)x2개',
 '[임직원]고메 바삭촉촉한 깐풍기450gx2개',
 '[침착맨] 햇반컵반 BIG스팸김치덮밥328G',
 '[500개한정]The더건강한 통삼겹스테이크 페퍼 300gX2개',
 '[식물성] 플랜테이블 왕교자420g',
 '[임직원]햇반 흑미밥 210gx18개',
 '[침착맨] 햇반컵반 BIG간장삼겹덮밥319G',
 '[식물성] 비비고 플랜테이블김치왕교자 420g*2번들',
 '[임직원]햇반소프트밀 누룽지닭백숙죽 280gx4개',
 '[임직원]The더건강한 그릴비엔나 200gx2개',
 '[임직원]스팸듬뿍 부대찌개_밀키트',
 '[임직원]비비고 찰보리 감자만두 400gx2번들x2개',
 '[임직원]백설 바삭한요리유900mlx2개',
 '[임직원]백설 포도씨유 900MLx2개',
 '[임직원]햇반 컵반철판김치덮밥254gx3개',
 '[임직원]햇반쿡반 베이컨김치볶음밥 400gx2개',
 '[임직원]백설 명란로제 파스타소스 370gx2개',
 '[임직원]스팸클래식 200gx3번들(노캡)x2개',
 '[임직원]스팸클래식340gx3개',
 '[임직원]햇반 컵반 돼지고기김찌밥 379gx2개',
 '[침착맨] 햇반컵반 BIG스팸마요덮밥307G',
 '[700개한정] 스팸 싱글 클래식 80gx4개',
 '[500개한정]톡톡까먹어밤 500gx2개',
 '[500개한정]고메 콰트로포르마지 피자 310gX2개',
 '[임직원]쁘띠첼 포도 90gx6eax2개',
 '[500개한정] 햇반소프트밀 전복버섯죽 280gX4개',
 '[500개한정][식물성] 비비고 플랜테이블김치왕교자 420g*2번들x2개',
 '[27%선할인적용] 이너비 글루타치온 필름 400mgX30매X2개',
 '[침착맨] 햇반컵반 BIG김치삼겹덮밥325G',
 '[택배배송] 스페인식 감바스_밀키트',
 '[임직원]베이컨로제스파게티2인분641gx2개',
 '[고메x덕후선생] 고메 덕후선생 마장반면 425g',
 '[500개한정]비비고 묵은지 1.5kgx2개',
 '[임직원]비비고 꼬리곰탕 460gx4개',
 '[500개한정]주부유부왕 300gx2개',
 '[임직원]비비고 묵은지900gx2개',
 '[임직원]비비고 닭곰탕 500gx4개',
 '[임직원]고메 오리지널 핫도그400gx2개',
 '[Special Course] 고메x덕후선생 (쯔란갈비1ea/마장반면1ea/납육초반1ea)',
 '[임직원]고메 포테이토치즈 핫도그400gx2개',
 '[앱전용특가] 고메 바삭튀겨낸모짜렐라돈카츠450g',
 '[임직원]스팸 싱글 25%라이트 80gx2개',
 '[임직원]다담 고깃집된장찌개양념 130Gx2개',
 '[임직원]백설 스모크 치킨&포크 바베큐소스 315gx2개(유통기한 23.04.24)',
 '[임직원]중화요리 간짜장2인분630gx2개',
 '[임직원]햇반100%현미로 지은밥 130gx24개',
 '[임직원]햇반 쿡반 김치치즈주먹밥 500gx2개',
 '[임직원]백설 압착올리브유900MLx2개',
 '[임직원] 리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월)X3개',
 '[임직원]전립소 아르기닌 6000 (15일분)X12개',
 '[임직원]다담 청국장찌개530g',
 '[식물성] 햇반쿡반 플랜테이블 전주비빔주먹밥 500g',
 '[임직원]삼호 안심부산어묵 도톰쫄깃240g*2x2개',
 '[임직원]주부초밥왕 새콤달콤 유부초밥 도시락기획280gx2개',
 '[임직원]삼호어묵 특선모둠어묵탕 301gx2개',
 '[임직원]백설 매콤화끈 닭갈비양념 470gx2개',
 '[임직원]BYO 식물유래 유산균 다이어트 30캡슐(1개월)',
 '[임직원]명가 직화구이김 4.5gx30eax2개',
 '[임직원] BYO 식물유래 다이어트 유산균 30캡슐X6개',
 '[임직원]해찬들 사과듬뿍 비빔장470gx2개',
 '[임직원]고메 순살치킨 스윗허니 450gx2개',
 '[임직원]칠리토마토 스파게티 640g 2인분x2개',
 '[유산균] BYO 면역플러스 60캡슐(2개월)',
 '[임직원]비비고 수제깻잎고기만두400*2x2개',
 '[임직원]스팸클래식340g*3ea',

In [17]:
# 이 중 이벤트가 아닌 상품 key words
# UPCYCLE, 식물성, 냉동, 새벽배송, 택배배송, 유산균, 눈건강, 피부건강, 1BOX
# 근데 UPCYCLE, 식물성, 냉동 이거 세개는 이벤트 같기도?

In [18]:
# key word가 포함된 event product 0, 나머지 1 처리 
df['event_product2'] = np.where(df['event_product'].str.contains('UPCYCLE|식물성|냉동|새벽배송|택배배송|유산균|눈건강|피부건강|1BOX'), 0, 1)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product,event_product2
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,[앱전용특가]비비고 차돌된장찌개 460gX4개,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,[앱전용특가]비비고 차돌된장찌개 460gX4개,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,[식물성]고메 플랜테이블 함박스테이크 150g,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0,0

In [19]:
# 이벤트 상품 구매 행만 따로 빼보기
df_pro = df[df['event_product2']==1]
df_pro

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product,event_product2
74,20230125156655,[임직원]가쓰오우동 4인분933.2gx2개,1,9.527921,0,3,Y,20230125,0,2,1,[임직원]가쓰오우동 4인분933.2gx2개,1
97,20230126162351,[임직원]햇반소프트밀 한우소고기죽 420gx3개,1,9.253017,0,3,Y,20230126,1,3,1,[임직원]햇반소프트밀 한우소고기죽 420gx3개,1
120,20230125160939,[임직원]비비고칩 포테이토40gx2개,1,8.169053,1,4,Y,20230125,1,2,1,[임직원]비비고칩 포테이토40gx2개,1
121,20230126164442,[임직원]고메 머쉬룸 투움바 파스타 740gx2개,1,9.449672,1,4,Y,20230126,1,3,1,[임직원]고메 머쉬룸 투움바 파스타 740gx2개,1
122,20230125159528,[임직원]밸런스밀 귀리 50gx4개+밸런스밀 견과 50gx4개+밸런스밀 고구마 50...,1,10.648088,1,4,Y,20230125,1,2,1,[임직원]밸런스밀 귀리 50gx4개+밸런스밀 견과 50gx4개+밸런스밀 고구마 50...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45845,20230102973341,[앱전용특가]햇반 작은공기130g*6X2개,2,9.638545,1,4,N,20230102,1,0,1,[앱전용특가]햇반 작은공기130g*6X2개,1
45851,20230101969574,[앱전용특가]햇반 작은공기130g*6X2개,3,10.043988,0,2,N,20230101,1,6,0,[앱전용특가]햇반 작은공기130g*6X2개,1
45860,20230102975115,[2023설사원선물신청] 흑삼정 골드클래스 100gx2,1,11.597276,1,5,Y,20230102,0,0,1,[2023설사원선물신청] 흑삼정 골드클래스 100gx2,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,[앱전용특가]비비고 차돌된장찌개 460gX4개,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,[앱전용특가]비비고 차돌된장찌개 460gX4개,1

In [20]:
# 실제 이벤트 행만 구매한 사람 중 프라임 회원이 더 많은지 확인
df_pro['prime_yn'].value_counts()
# 딱히 차이가...
# 쓰는 것이 맞을까??

1    7953
0    6721
Name: prime_yn, dtype: int64

In [21]:
# 전체 데이터의 프라임 비율: 0.537416
# 실제 이벤트 행만 구매한 사람 중 프라임 회원 비율: 0.541979
df['prime_yn'].value_counts()
# 딱히 차이가...
# 과연 주문번호별로 합치며 이벤트 제품을 많이 구매한 사람의 데이터를 도출하면 프라임 여부가 확 올라갈까?
# 사실 이건 해봐야 알듯

1    24654
0    21221
Name: prime_yn, dtype: int64

In [22]:
# event product의 갯수가 중요한 것이라 1이 아니라 net order qty로 바꿔줘야 함
df['event_product3'] = np.where(df['event_product'].str.contains('UPCYCLE|식물성|냉동|새벽배송|택배배송|유산균|눈건강|피부건강|1BOX'), 0, df['net_order_qty'])
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product,event_product2,event_product3
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,[식물성]고메 플랜테이블 함박스테이크 150g,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0,0,0

In [23]:
# 잘 들어갔나 확인
df.iloc[45845]

scd                        20230102973341
product_name      [앱전용특가]햇반 작은공기130g*6X2개
net_order_qty                           2
net_order_amt                    9.638545
gender                                  1
age_grp                                 4
employee_yn                             N
order_date                       20230102
prime_yn                                1
weekday                                 0
weekday2                                1
event_product     [앱전용특가]햇반 작은공기130g*6X2개
event_product2                          1
event_product3                          2
Name: 45845, dtype: object

In [24]:
# event_product2 와 event_product 지우고 event_product3 열 이름을 event_product로 바꾸기
df.drop(['event_product','event_product2'], axis=1,inplace=True)

In [25]:
df.columns

Index(['scd', 'product_name', 'net_order_qty', 'net_order_amt', 'gender',
       'age_grp', 'employee_yn', 'order_date', 'prime_yn', 'weekday',
       'weekday2', 'event_product3'],
      dtype='object')

In [26]:
df.columns = ['scd', 'product_name', 'net_order_qty', 'net_order_amt', 'gender',
       'age_grp', 'employee_yn', 'order_date', 'prime_yn', 'weekday',
       'weekday2', 'event_product']

In [27]:
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0

## 주문번호별 합치기

In [28]:
# order_date은 weekday 와 weekday2로 바꿔줬으니 지우기
df.drop('order_date',axis=1,inplace=True)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0

In [29]:
# 행 몇개가 합쳐졌는지 확인하기 위함
# 나중에 쓸 일이 생김
df['row_num'] = 1
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1

In [30]:
# 행을 기준으로 다 합쳐주기 이 과정에서 object인 productname을 제외하고 다 더해짐
df_group = df.groupby('scd').sum()
df_group

,net_order_qty,net_order_amt,gender,age_grp,prime_yn,weekday,weekday2,event_product,row_num
scd,,,,,,,,,
20230101963226,6,39.433806,4,12,0,24,0,0,4
20230101963235,2,19.234566,0,8,2,12,0,2,2
20230101963244,3,10.234373,0,4,1,6,0,0,1
20230101963247,6,45.516855,5,15,5,30,0,0,5
20230101963251,2,10.845621,0,3,1,6,0,0,1
...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0,8,0,2,2,0,2
20230131216771,2,9.125762,0,4,1,1,1,0,1
20230131216842,1,10.176411,1,3,0,1,1,0,1
20230131216844,8,44.927942,0,20,0,5,5,0,5
20230131216857,5,43.364081,5,25,5,5,5,4,5

In [31]:
# net_order_qty, net_order_amt, event_product는 더해진채로 둔다
# 각각 총 주문 수량, 총 주문 금액, 총 주문한 이벤트 제품 수량이 된다.

In [32]:
# 나머지 값들은 다 같은 값이나 행들만큼 더해진 상황이다
# 따라서 전에 만든 row_num만큼 나누어주면 된다.
df_group['gender'] = df_group['gender'] / df_group['row_num']
df_group['age_grp'] = df_group['age_grp'] / df_group['row_num']
df_group['prime_yn'] = df_group['prime_yn'] / df_group['row_num']
df_group['weekday'] = df_group['weekday'] / df_group['row_num']
df_group['weekday2'] = df_group['weekday2'] / df_group['row_num']
df_group

,net_order_qty,net_order_amt,gender,age_grp,prime_yn,weekday,weekday2,event_product,row_num
scd,,,,,,,,,
20230101963226,6,39.433806,1.0,3.0,0.0,6.0,0.0,0,4
20230101963235,2,19.234566,0.0,4.0,1.0,6.0,0.0,2,2
20230101963244,3,10.234373,0.0,4.0,1.0,6.0,0.0,0,1
20230101963247,6,45.516855,1.0,3.0,1.0,6.0,0.0,0,5
20230101963251,2,10.845621,0.0,3.0,1.0,6.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0.0,4.0,0.0,1.0,1.0,0,2
20230131216771,2,9.125762,0.0,4.0,1.0,1.0,1.0,0,1
20230131216842,1,10.176411,1.0,3.0,0.0,1.0,1.0,0,1
20230131216844,8,44.927942,0.0,4.0,0.0,1.0,1.0,0,5
20230131216857,5,43.364081,1.0,5.0,1.0,1.0,1.0,4,5

In [33]:
df_group.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10653 entries, 20230101963226 to 20230131216857
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   net_order_qty  10653 non-null  int64
 1   net_order_amt  10653 non-null  float64
 2   gender         10653 non-null  float64
 3   age_grp        10653 non-null  float64
 4   prime_yn       10653 non-null  float64
 5   weekday        10653 non-null  float64
 6   weekday2       10653 non-null  float64
 7   event_product  10653 non-null  int64
 8   row_num        10653 non-null  int64
dtypes: float64(6), int64(3)
memory usage: 832.3 KB

In [34]:
# 데이터 타입을 int로 바꿔주기
df_group[['gender','age_grp','prime_yn','weekday','weekday2']] = df_group[['gender','age_grp','prime_yn','weekday','weekday2']].astype(int)
df_group

,net_order_qty,net_order_amt,gender,age_grp,prime_yn,weekday,weekday2,event_product,row_num
scd,,,,,,,,,
20230101963226,6,39.433806,1,3,0,6,0,0,4
20230101963235,2,19.234566,0,4,1,6,0,2,2
20230101963244,3,10.234373,0,4,1,6,0,0,1
20230101963247,6,45.516855,1,3,1,6,0,0,5
20230101963251,2,10.845621,0,3,1,6,0,0,1
...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0,4,0,1,1,0,2
20230131216771,2,9.125762,0,4,1,1,1,0,1
20230131216842,1,10.176411,1,3,0,1,1,0,1
20230131216844,8,44.927942,0,4,0,1,1,0,5
20230131216857,5,43.364081,1,5,1,1,1,4,5

## 제품명 인코딩 - based on crawling

#### 양념/소스/가루/오일

In [35]:
# 양념/소스/가루/오일 
df_sauce = pd.read_csv('crawling_cj0004.csv')
df_sauce

     category                              item
0           4              [1+1]다담 된장찌개 양념 530g
1           4                [1+1]백설 포도씨유 900ml
2           4                   다담 된장찌개 양념 530g
3           4                     백설 포도씨유 900ml
4           4       [1+1]해찬들 고기찍어먹는장 찍장 쌈장 300g
..        ...                               ...
345         4                     바삭한 요리유 500ml
346         4                       백설 요리당 700g
347         4               해찬들 맛있는 재래식된장 2.3kg
348         4                  해찬들 사계절쌈장500g(봉)
349         4  해찬들 우리쌀로 만든 매운 태양초골드 고추장 900g(봉)

[350 rows x 2 columns]

In [36]:
li_sauce = list(df_sauce['item'].unique())
li_sauce

['[1+1]다담 된장찌개 양념 530g',
 '[1+1]백설 포도씨유 900ml',
 '다담 된장찌개 양념 530g',
 '백설 포도씨유 900ml',
 '[1+1]해찬들 고기찍어먹는장 찍장 쌈장 300g',
 '해찬들 고기찍어먹는장 찍장 쌈장 300g',
 '[1+1]백설 압착올리브유 900ml',
 '[1+1]해찬들 사계절쌈장 500g',
 '백설 압착올리브유 900ml',
 '[1+1]백설 참치액 진더풍부한맛 900g',
 '해찬들 사계절쌈장 500g',
 '[1+1]해찬들 100% 우리쌀 태양초 고추장 1kg',
 '해찬들 100% 우리쌀 태양초 고추장 1kg',
 '백설 돈까스 소스 255g',
 '백설 참치액 진더풍부한맛 900g',
 '[1+1]해찬들 물로만끓여도 시원깔끔한 바지락꽃게 된장찌개양념 450g',
 '[3+3]다담 장조림 반찬양념 150G',
 '[1+1]산들애 처음부터 멸치다시마 육수 525g',
 '백설 허니머스터드 소스 250g',
 '다담 순두부찌개 양념 140g',
 '5가지 재료로만 만든 부침가루 1kg',
 '백설 면비빔용소스 890g',
 '[3+3]다담 오이소박이 김치양념 150G',
 '[1+1]해찬들 물로만 끓여도 부드럽고 순한 미소된장 450g',
 '백설 남해굴소스 500g',
 '해찬들 물로만끓여도 시원깔끔한 바지락꽃게된장찌개양념 450g',
 '[3+3]다담 진미채 반찬양념 150G',
 '[3+3]다담 멸치볶음 반찬양념 150G',
 '산들애 처음부터 멸치다시마 육수 525g',
 '[3+3]다담 겉절이 양념 150g',
 '백설 맛술 생강 800ml',
 '백설 다담 장조림양념 150g',
 '[3+3]다담 파김치양념 150G',
 '다담 매콤두부조림양념140g',
 '[1+1]해찬들 물로만끓여도 깊고진한 차돌된장찌개양념 450g',
 '다담 차돌순두부찌개양념130g',
 '백설 진한참기름 500ml',
 '백설 고소함가득 참기름 430ml',
 '해찬들 사과듬뿍 비빔장 470g',
 '해찬들 물로만 끓여도 부드럽고 순한 미소된장 450g',
 '다담 국물떡볶이양념 530g',
 '다담 부대찌개 양념 140g',
 '다담 순두부찌개양념 140gX4번들',
 '[1+1]백설 참치액 순더깔끔한맛 900g',
 '[3+3]다담 깻잎지 반찬양념 150G',
 '오곡참깨드레싱 240g',
 '백설 카놀라유 900ml',
 '다담 진미채 양념 150g',
 '백설 다담 멸치볶음양념 150g',
 '백설 다담 오이소박이양념 150g',
 '[1+1]해찬들 물로만끓여도 칼칼한 청양초 된장찌개양념 450g',
 '백설 유러피안 엑스트라버진 올리브유 스프레이 200ml',
 '하선정 다진마늘 250g',
 '해찬들 물로만끓여도 깊고진한 차돌된장된장찌개양념 450g',
 '백설 치폴레 스파이시 소스 260g',
 '백설 허브맛솔트시즈닝 순한맛 50g',
 '백설 콩기름 1.8L',
 '해찬들 새콤달콤 초고추장 1050g',
 '백설 베이컨까르보나라 파스타소스 355g',
 '백설 유러피안 퓨어 올리브유 500ml',
 '백설 참치액 진더풍부한맛 500g',
 '다담 정통된장찌개양념 140g x4번들',
 '백설 참치액 순더깔끔한맛 900g',
 '다담 청국장찌개 양념 530g',
 '백설 100% 통참깨 참기름 300ml',
 '백설 하얀설탕 3kg',
 '백설 다담 겉절이양념 150g',
 '다담 국물떡볶이양념 145g',
 '백설 토마토라구 파스타소스 375g',
 '다담 파김치 양념 150g',
 '해찬들 명품 집된장 900g',
 '해찬들 궁중식 쇠고기 볶음고추장 500g',
 '이츠웰 참진한 진간장 1.8L',
 '백설 바삭한 요리유 900ml',
 '다담 깻잎지 양념 150g',
 '다담 베스트 골라담기',
 '백설 상큼하고 깔끔한 사과식초 900ml',
 '백설 토마토스파게티소스610g',
 '다담 양념듬뿍쌈장 570g',
 '다담 차돌된장찌개양념 145g',
 '100% 통들깨 들기름 300ml',
 '해찬들 100% 국산고추장 1kg',
 '해찬들 물로만끓여도 칼칼한 청양초 된장찌개양념 450g',
 '해찬들 고기전용 쌈장 450g',
 '해찬들100%국산고추장500g',
 '다담 차돌고추장찌개양념130g',
 '백설 스테이크 소스 255g',
 '맛소금 250g',
 '조미료 키트 골라담기',
 '백설 소불고기양념 840g',
 '백설 쌀올리고당 700g',
 '백설 토마토 바질 파스타소스 365g',
 '발사믹드레싱 250g',
 '우리쌀로 만든 바삭 튀김가루 1kg',
 '백설 통손질국물내기 국내산멸치디포리 10gX6개입',
 '해찬들 고기찍어먹는장 찍장 매콤쌈장 300g',
 '백설 하얀설탕 5kg',
 '해찬들 찹쌀 태양초고추장 1kg',
 '쇠고기다시다골드전문식당용1kg',
 '고소한 볶음참깨 1kg',
 '해찬들 구수한집된장 1kg',
 '백설 스파이시 아라비아따 파스타소스 365g',
 '다시다 프리미엄골드 숙성한우 60g',
 '백설 하얀설탕1kg',
 '해찬들 새콤달콤 초고추장 500g (튜브)',
 '다시다 골드 쇠고기 96g',
 '백설 크리미 로제 파스타소스 365g',
 '해찬들 재래식된장 3kg',
 '백설 트러플크림 파스타소스 355g',
 '하선정 덧장명품액젓 남해안멸치 1Kg',
 '찹쌀 호떡믹스 400g',
 '오리엔탈드레싱260g',
 '백설 맛술 생강 500ml',
 '다시다 골드 쇠고기 600g',
 '고추장/된장/쌈장 소용량 골라담기',
 '해찬들 사계절쌈장 170g',
 '해찬들 100% 우리쌀 매운 태양초 고추장 1kg',
 '다담 마늘닭볶음탕양념 230g',
 '비비고 GOTCHU 갓츄 핫소스 300g',
 '백설 갈색설탕 5Kg',
 '하선정 다진마늘 150g',
 '백설 프락토 올리고당 1.2kg',
 '해찬들 궁중식 쇠고기 볶음고추장 200g',
 '백설 2배사과식초 1.8L',
 '산들애 국내산 한우 250g',
 '해찬들 볶음요리 고추장양념 500g',
 '백설 유러피안 올리브유 500ml(유통기한:2024-03-24)',
 '다시다 쇠고기 1kg',
 '백설 소갈비양념 840g',
 '백설 상큼하고 깔끔한 사과식초 500ml',
 '백설 흑설탕 1kg',
 '백설 쌀올리고당 1.2kg',
 '해찬들 고기전용쌈장 900g',
 '백설 명란로제 파스타소스 370g',
 '백설 로제스파게티소스610g',
 '백설 갈색설탕 3Kg',
 '중력 밀가루 1kg',
 'CJ 오리엔탈드레싱 620g',
 '백설 콩기름 0.9L',
 '해찬들 새콤달콤 초고추장 300g (튜브)',
 '백설 돼지갈비양념 840g',
 '백설 올리브유 500ml',
 '백설 건강발효 사과식초 500ml',
 '백설 갈색설탕 1Kg',
 '백설 매콤한 돼지불고기양념 500g',
 '우리밀부침가루 500g',
 '감자수제비가루500g',
 '[3+3]다담 깍두기 김치양념 155G',
 '다담 갈치조림양념150g',
 '하선정 까나리액젓 골드 800g',
 '해찬들 100% 우리쌀 매운 태양초 고추장 3kg',
 '찰밀가루2.5kg',
 '백설 유러피안 스프레이 오일 기프트 세트',
 '다담 마파두부양념150g',
 '해찬들 100% 우리쌀 태양초 고추장 500g',
 '오천년의 신비 명품천일염(굵은입자) 10kg',
 '오천년의 신비 명품천일염(가는입자) 250g',
 '해찬들 사계절쌈장 3kg',
 '[1+1]해찬들 원조 태양초고추장 1kg',
 '다시다 프리미엄골드 멸치디포리 60g',
 '백설 상큼하고 깔끔한 2배사과식초 900ml',
 '백설 튀김전용유 1.8L',
 '박력 밀가루 2.5kg',
 '중력 밀가루 2.5kg',
 '백설 유러피안 해바라기유 스프레이 200ml',
 '이츠웰 참진한 국간장 1.8L',
 '다담 안동찜닭 양념 220g',
 '백설 매콤화끈 닭갈비양념 470g',
 '고소한 볶음참깨 430g',
 '해찬들 명품 집된장 450g',
 '다시다 골드 쇠고기 250g',
 '해찬들 쇠고기 볶음 고추장 60gx3입',
 '오천년의 신비 명품천일염(굵은입자) 3kg',
 '해찬들 원조 태양초고추장 1kg',
 '다담 우렁강된장양념 140gX4번들',
 '백설 사리원 불고기 480g',
 '해찬들 사계절쌈장 1kg',
 '오천년의 신비 명품천일염(중간입자) 500g',
 '5가지 재료로만 만든 튀김가루 1kg',
 '파인애플 샐러드소스 250g',
 '다담 고깃집된장찌개양념 130g',
 '백설 닭볶음탕양념 490g',
 '바질&로즈마리드레싱 235g',
 '산들애 처음부터 가쓰오 육수 525g',
 '백설 브라운 자일로스 설탕 1kg',
 '백설 진한 참기름 320ml',
 '백설 우리밀 밀가루 750g',
 '핫케익믹스1kg',
 '백설 남해 전복굴소스 350g',
 '백설 옥수수유 1.8L',
 '해찬들 8가지 국산양념쌈장 500g',
 '백설 찰밀가루1kg',
 '백설 브라운 자일로스 설탕 5Kg',
 '백설 고기양념 골라담기',
 '백설 소갈비양념 500g',
 '백설 매콤한 돼지불고기양념 840g',
 '백설 브라운 자일로스설탕 500g',
 '백설 남해굴소스 210g',
 '백설 와플믹스 450g',
 '백설 바삭한 빵가루 450g',
 '다담 깍두기 양념 155g',
 '산들애 처음부터 멸치다시마 육수 275g',
 '다담 순두부찌개양념 130g',
 '사골곰탕 한 그릇 100g (1-2인분X5개입)',
 '백설 소불고기양념 500g',
 '튀김가루1kg',
 '백설 허브맛솔트시즈닝 마늘맛 50g',
 '백설 쌀엿1.2Kg',
 '다시다 명품골드 쇠고기 100g',
 '백설 물엿 2.45kg',
 '백설 진한참기름 110ml',
 '다담 청국장찌개 양념 130g',
 '백설 토마토스파게티소스 150g',
 '백설 맛술 로즈마리 800ml',
 '백설 하얀 자일로스 설탕 5kg',
 '백설 로제스파게티소스 150g',
 '해찬들 100% 우리쌀 태양초 고추장 200g',
 '아메리칸 와플믹스 10kg',
 '해찬들 구수한 집된장 2.3kg',
 '해찬들 100% 우리쌀 태양초 고추장 2kg',
 '백설 통손질국물내기 얼큰해물 10gX6개입',
 '유자샐러드소스 250g',
 '백설 아라비아따스파게티소스 150g',
 '백설 해바라기씨유 900ml',
 '백설 브라운 자일로스 설탕 2kg',
 '해찬들 구수한집된장 500g',
 '다담 우렁강된장 양념 500g',
 '하선정 멸치액젓 골드 400g',
 '백설 남해굴소스 350g',
 '백설 매콤칼칼 돼지등갈비양념 470g',
 '청양레몬간장 드레싱 245g',
 '다담 냉이된장찌개양념 140g x4번들',
 '백설 스테이크 솔트&시즈닝 40g',
 '백설 요리올리고당 1.2Kg',
 '백설 포도씨유 500ml',
 '백설 100% 통참깨 참기름 110ml',
 '백설 요리 올리고당 2.45kg',
 '오천년의 신비 명품구운소금 400g',
 '강력 밀가루 2.5kg',
 '백설 아라비아따 토마토스파게티소스 610g',
 '백설 갈비양념 480g',
 '고추장/된장/쌈장 대용량 골라담기',
 '해찬들 재래식된장 1kg',
 '아몬드 호두 드레싱 230g',
 '백설 우리밀핫케익믹스500g',
 '해찬들 궁중식 쇠고기 볶음고추장 120g',
 '백설 옥수수전분 20kg',
 '해찬들 태양초고추장 6.5kg',
 '다담 보리쌈장 570g',
 '비건다시다 콩으로 만든 쇠고기향 가득 100g',
 '비건다시다 콩으로 만든 쇠고기향 가득 60g',
 '아티장 밀가루 강력소프트 2kg',
 '물엿1.2kg',
 '하선정 까나리액젓 실속형 3kg',
 '백설 카놀라유 500ml',
 '백설 요리당 1.2Kg',
 '백설 프락토 올리고당 2.45kg',
 '백설 토마토 파스타소스 455g',
 '해찬들 100% 우리쌀 매운 태양초 고추장 500g',
 '해찬들 100% 우리쌀 태양초 고추장 3kg',
 '다시다 멸치 1kg',
 '하선정 까나리액젓 골드 400g',
 '백설 돼지갈비양념 500g',
 '시저드레싱 235g',
 '백설 초코케익믹스 350g',
 '아티장 밀가루 박력마일드 2kg',
 '백설 맛술 로즈마리 500ml',
 '다담 떡볶이양념 150g',
 '해찬들 구수한 집된장 3kg',
 '하선정 멸치액젓 골드 800g',
 '해찬들 사계절쌈장 골드 14kg',
 '배터믹스20kg',
 '통감자 바삭부침가루 1Kg',
 '다시다 쇠고기 25kg',
 '백설 통밀밀가루 1kg',
 '영양균형 핫케익믹스 400g',
 '백설 100% 통들깨 들기름 160ml',
 '중력 밀가루 10kg',
 '오리엔탈 드레싱 105g',
 '박력 밀가루 1kg',
 '다시다 냉면 300g',
 '레몬&라임드레싱260g',
 '키위 샐러드소스 250g',
 '백설 하얀 자일로스 설탕 1kg',
 '백설 고추장삼겹살구이양념 500g',
 '키위 샐러드소스 115g',
 '백설 남해 매운굴소스 350g',
 '다시다 조개 500g',
 '백설 초당옥수수호떡믹스 300g(유통기한: 2023-08-12)',
 '요거트 드레싱245g',
 '오곡참깨 드레싱105g',
 '오천년의 신비 명품천일염(굵은입자) 1kg',
 '백설 유기농 갈색설탕 1kg',
 '부침가루1kg',
 '백설 프락토 올리고당 700g',
 '백설 고소함가득 참기름300ml',
 '백설 굴소스해물맛 360g',
 '유러피안 포도씨유 0.5L',
 '브라우니믹스 320g',
 '식빵믹스760g',
 '백설머핀믹스500g',
 '오븐용깨찰빵믹스500g',
 '옥수수식빵믹스 760g',
 '건강곡물 부침가루 400g',
 '다시다 골드 쇠고기 400g',
 '요리당2.45kg',
 '백설 닭볶음탕양념 290g',
 '해찬들 재래식된장 500g(유통기한:2023-09-14)',
 '다시다 쇠고기 500g',
 '서리태드레싱240g',
 '백설 물엿 700g',
 '다담 우렁강된장 비빔 양념 140g',
 '백설 하얀 자일로스설탕 500g',
 '백설 허브맛솔트시즈닝 매콤한맛 50g',
 '산들애 그대로멸치다시마육수500g',
 '백설 옥수수유 0.9L',
 '백설 참치액 순더깔끔한맛 500g',
 '백설 매실당1.2kg',
 '건강을 생각한 요리유 900ml',
 '백설 해바라기씨유 500ml',
 '아티장 밀가루 티(T)55 2kg',
 '백설 하얀 자일로스 설탕 2kg',
 '강력 밀가루 1kg',
 '치킨튀김가루1kg',
 '다담 사골부대찌개양념 130g',
 '다담 강된장찌개양념 130g',
 '백설 5가지 재료로만 만든 부침가루 350g',
 '하선정 멸치액젓 실속형 9kg',
 '백설 쌀엿 700g',
 '초코칩 쿠키믹스 290g',
 '백설 돼지갈비양념 290g',
 '해찬들 원조 태양초고추장 3kg',
 '해찬들 태양초고추장 14kg(캔)',
 '다시다 해물 1kg',
 '건강을 생각한 요리유 500ml',
 '다담 냉이된장찌개 양념 140g',
 '다담 정통된장찌개 양념 140g',
 '다담 매콤 떡볶이양념 140g',
 '녹차맛 찹쌀호떡믹스 400 g',
 '해찬들 재래식된장 500g(봉)',
 '하선정 까나리액젓 실속형 9kg',
 '해찬들 100% 우리쌀 매운 태양초 고추장 2kg',
 '해찬들 찰골드고추장 14kg',
 '바삭한 빵가루 1kg',
 '해찬들 고기전용쌈장 200g',
 '바삭한 요리유 500ml',
 '백설 요리당 700g',
 '해찬들 맛있는 재래식된장 2.3kg',
 '해찬들 사계절쌈장500g(봉)',
 '해찬들 우리쌀로 만든 매운 태양초골드 고추장 900g(봉)']

In [37]:
# 리스트에 있으면 10
df['category_10'] = df['product_name'].apply(lambda x: 10 if x in li_sauce else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0

In [38]:
# 3180개 해당
df[df['category_10']==10]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10
17,20230125156209,사골곰탕 한 그릇 100g (1-2인분X5개입),2,8.777247,0,5,Y,1,2,1,0,1,10
20,20230125159133,하선정 다진마늘 250g,1,8.839422,0,2,Y,1,2,1,0,1,10
59,20230120142140,다시다 명품골드 쇠고기 100g,1,8.120291,0,3,Y,0,4,1,0,1,10
64,20230126167369,다담 순두부찌개 양념 140g,2,7.951207,0,4,N,1,3,1,0,1,10
69,20230124154033,백설 토마토스파게티소스610g,1,8.541300,1,3,Y,0,1,1,0,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45722,20230122146896,물엿1.2kg,1,8.254269,1,5,Y,1,6,0,0,1,10
45762,20230102972448,하선정 덧장명품액젓 남해안멸치 1Kg,1,8.358666,0,5,N,0,0,1,0,1,10
45773,20230101965615,5가지 재료로만 만든 부침가루 1kg,2,8.803725,1,2,Y,1,6,0,0,1,10
45776,20230101965894,백설 진한참기름 500ml,1,8.856661,0,4,N,0,6,0,0,1,10
45793,20230102972448,백설 100% 통참깨 참기름 300ml,2,9.267193,0,5,N,0,0,1,0,1,10

#### 스팸/닭가슴살/소시지

In [39]:
df_spam = pd.read_csv('crawling_cj0023.csv')
df_spam

    category                         item
0         23   [5+5]더건강한 닭가슴살 직화 통살구이100g
1         23  [3+3]김처럼 밥에 싸먹는 햄 구이 한판 60g
2         23        더건강한 닭가슴살 직화 통살구이100g
3         23       김처럼 밥에 싸먹는 햄 구이 한판 60g
4         23  [3+3]더건강한 닭가슴살 큐브톡톡 ALL 96g
..       ...                          ...
78        23          스팸리치치즈 200gx3번들(노캡)
79        23              햄스빌 아침에 베이컨 70g
80        23              백설 오리지널 비엔나400g
81        23                 스팸 리치치즈 200g
82        23           The더건강한 등심슬라이스250g

[83 rows x 2 columns]

In [40]:
li_spam = list(df_spam['item'].unique())
li_spam

['[5+5]더건강한 닭가슴살 직화 통살구이100g',
 '[3+3]김처럼 밥에 싸먹는 햄 구이 한판 60g',
 '더건강한 닭가슴살 직화 통살구이100g',
 '김처럼 밥에 싸먹는 햄 구이 한판 60g',
 '[3+3]더건강한 닭가슴살 큐브톡톡 ALL 96g',
 '[5+5]더건강한 닭가슴살 직화 스테이크100g',
 '햄스빌굿베이컨130g*3',
 '[2+2]더건강한 닭가슴살 청양 소시지 120g',
 '육공육 더블에이징 후랑크 460g',
 '[1+1]백설 햄스빌두툼한굿베이컨340g',
 '스팸마일드(25%라이트) 200g',
 '[3+3]더건강한 닭가슴살 소시지120g',
 '[3+3]더건강한 닭가슴살 직화 화다닭 75g',
 '백설 햄스빌두툼한굿베이컨340g',
 '더건강한 닭가슴살 큐브톡톡 ALL 96g',
 '더건강한 닭가슴살 직화 스테이크100g',
 '[2+2]스팸 싱글 25%라이트 80g',
 'The더건강한 그릴비엔나280g*2',
 '[2+2]더건강한 닭가슴살 샌드위치햄 90g',
 '더건강한 닭가슴살 청양 소시지 120g',
 '육공육 통삼겹 바베큐 갈릭&바질 300g',
 '[2+2]더건강한 닭가슴살 쏙쏙한입큐브80g',
 '스팸클래식 200gx3번들(노캡)',
 '더건강한 닭가슴살 소시지120g',
 '[3+3]더건강한 닭가슴살 꼬지 청양고추 80g',
 '스팸 싱글 25%라이트 80g',
 '더건강한 닭가슴살 직화 화다닭 75g',
 '백설 한입쏙비엔나120g*3',
 '더건강한 닭가슴살 쏙쏙한입큐브80g',
 '닭가슴살 골라담기',
 '육공육 더블에이징 비엔나 475g',
 '더건강한 닭가슴살 비엔나 120g',
 '더건강한 닭가슴살 샌드위치햄 90g',
 '스팸라이트 200gx3번들(노캡)',
 '맥스봉 팝비엔나 120g',
 '더건강한 닭가슴살 꼬지 청양고추 80g',
 '[2+2]더건강한 닭가슴살 소시지(꼬치)80g',
 '육공육 더블에이징 롱후랑크 250g',
 '육공육 골라담기',
 '육공육 더블에이징 킬바사 270g',
 '육공육 통삼겹 바베큐 페퍼 300g',
 'The더건강한 그릴후랑크300g*2',
 '더건강한 닭가슴살 소시지(꼬치)80g',
 'The더건강한 그릴비엔나 200g*2',
 'The더건강한 샌드위치햄 90g',
 '더건강한 의성마늘햄 150g',
 '백설 칼집 그릴후랑크 300g*2',
 '육공육 더블에이징 후랑크 허브&페퍼 360g',
 '스팸 김밥햄 260g',
 'The더건강한 그릴김밥햄 140g*2',
 '육공육 더블에이징 비엔나 225g',
 '백설 숯불구이맛김밥햄 260g',
 '더건강한 닭가슴살 통살 페퍼 100g',
 '백설 칼집 그릴후랑크 마늘맛 225gx2',
 '백설 그릴후랑크 240g*2',
 '백설햄 알찬 소시지 500g',
 '스팸라이트 340gx3번들(노캡)',
 '아메리칸 핫도그용 포크소시지 950g',
 '스팸클래식200g',
 '스팸클래식340gx3번들',
 '정말맛있는소시지160g',
 '햄스빌베이컨165g*2',
 'The더건강한 오리지널 부어스트 260g*2',
 '백설 캠핑에딱그릴후랑크마늘맛 300gx2번들',
 'The더건강한 그릴비엔나 200g',
 '햄스빌 굿베이컨130g*2',
 '백설 숯불갈비후랑크120g',
 '백설 구이한판 그릴스모크 60g',
 'The더건강한 후랑크 150g',
 '백설 오리지널후랑크 500g',
 '스팸마일드(25%라이트) 340g',
 '햄스빌베이컨160g',
 '스팸 클래식 340g',
 '햄스빌 바로먹는햄 등심 140g',
 '스팸 싱글 클래식 80g',
 '백설 구이한판 그릴스모크 60gX4',
 '백설 한입쏙 비엔나 120g*2',
 '스팸리치치즈 200gx3번들(노캡)',
 '햄스빌 아침에 베이컨 70g',
 '백설 오리지널 비엔나400g',
 '스팸 리치치즈 200g',
 'The더건강한 등심슬라이스250g']

In [41]:
# 리스트에 있으면 1
df['category_1'] = df['product_name'].apply(lambda x: 1 if x in li_spam else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0

In [42]:
df[df['category_1']==1]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1
10,20230125161346,더건강한 닭가슴살 소시지120g,8,9.784760,1,3,Y,1,2,1,0,1,0,1
140,20230124154359,더건강한 닭가슴살 소시지(꼬치)80g,3,8.579417,0,3,N,0,1,1,0,1,0,1
151,20230125159472,더건강한 닭가슴살 소시지120g,1,8.135933,1,3,Y,1,2,1,0,1,0,1
153,20230126162478,더건강한 닭가슴살 소시지(꼬치)80g,9,9.703877,1,2,N,0,3,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45706,20230124152244,더건강한 닭가슴살 소시지(꼬치)80g,1,7.690286,1,5,N,0,1,1,0,1,0,1
45723,20230120141572,The더건강한 그릴비엔나 200g,1,7.548556,1,4,N,1,4,1,0,1,0,1
45778,20230101963359,The더건강한 그릴비엔나 200g*2,1,8.847504,0,3,N,1,6,0,0,1,0,1
45788,20230102972388,스팸마일드(25%라이트) 200g,2,8.571681,0,3,N,1,0,1,0,1,0,1
45791,20230101965870,스팸라이트 200gx3번들(노캡),1,9.443909,0,5,N,0,6,0,0,1,0,1

#### 돈까스/함박/구이

In [43]:
df_katsu = pd.read_csv('crawling_cj0022.csv')
df_katsu

    category                            item
0         22             [5+5]고메 함박스테이크 152g
1         22                  고메 함박스테이크 152g
2         22             [2+2]고메 토마토미트볼 147G
3         22                  고메 토마토미트볼 147g
4         22              고메 바삭튀겨낸통등심돈카츠450g
5         22                  비비고 남도떡갈비 450g
6         22             고메 바삭튀겨낸모짜렐라돈카츠450g
7         22                 비비고 도톰동그랑땡 560g
8         22                   비비고 한식반찬 골라담기
9         22          [2+2]플랜테이블 토마토미트볼 165G
10        22  [2+2][식물성]고메 플랜테이블 함박스테이크 150g
11        22               비비고 한입떡갈비 282gx2개
12        22           [식물성]플랜테이블 토마토미트볼165g
13        22                  CJ 꼬마돈까스 1.2kg
14        22                   고메함박스테이크 540g
15        22              비비고 언양식 바싹불고기 460g
16        22                     꼬마새우까스 250g
17        22       [식물성]고메 플랜테이블 함박스테이크 150g
18        22                     꼬마 돈까스 400g
19        22                  백설 야채고기말이 448g
20        22                  비비고 도톰해물완자510g
21        22                 비비고 도톰해물완자 795g
22        22    크레잇 테이스티박스 블랙페퍼 폭찹 스테이크 300g
23        22                      백설너비아니560g
24        22                  고메치즈함박스테이크152g
25        22                고메 치즈함박스테이크 465g
26        22                비비고 매콤바싹불고기 460g
27        22        [식물성] 비비고 플랜테이블 떡갈비 450g
28        22                  고메 미니치즈카츠 450g
29        22                    숯불향바베큐바 280g
30        22                      동그랑땡200g*2
31        22                빕스 하와이안 찹스테이크 3팩
32        22      [식물성] 고메 플랜테이블 함박스테이크 540g
33        22                 빕스 단호박 찹스테이크 3팩

In [44]:
li_katsu = list(df_katsu['item'].unique())
li_katsu

['[5+5]고메 함박스테이크 152g',
 '고메 함박스테이크 152g',
 '[2+2]고메 토마토미트볼 147G',
 '고메 토마토미트볼 147g',
 '고메 바삭튀겨낸통등심돈카츠450g',
 '비비고 남도떡갈비 450g',
 '고메 바삭튀겨낸모짜렐라돈카츠450g',
 '비비고 도톰동그랑땡 560g',
 '비비고 한식반찬 골라담기',
 '[2+2]플랜테이블 토마토미트볼 165G',
 '[2+2][식물성]고메 플랜테이블 함박스테이크 150g',
 '비비고 한입떡갈비 282gx2개',
 '[식물성]플랜테이블 토마토미트볼165g',
 'CJ 꼬마돈까스 1.2kg',
 '고메함박스테이크 540g',
 '비비고 언양식 바싹불고기 460g',
 '꼬마새우까스 250g',
 '[식물성]고메 플랜테이블 함박스테이크 150g',
 '꼬마 돈까스 400g',
 '백설 야채고기말이 448g',
 '비비고 도톰해물완자510g',
 '비비고 도톰해물완자 795g',
 '크레잇 테이스티박스 블랙페퍼 폭찹 스테이크 300g',
 '백설너비아니560g',
 '고메치즈함박스테이크152g',
 '고메 치즈함박스테이크 465g',
 '비비고 매콤바싹불고기 460g',
 '[식물성] 비비고 플랜테이블 떡갈비 450g',
 '고메 미니치즈카츠 450g',
 '숯불향바베큐바 280g',
 '동그랑땡200g*2',
 '빕스 하와이안 찹스테이크 3팩',
 '[식물성] 고메 플랜테이블 함박스테이크 540g',
 '빕스 단호박 찹스테이크 3팩']

In [45]:
# 리스트에 있으면 1
df['category_5'] = df['product_name'].apply(lambda x: 5 if x in li_katsu else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0,5
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0,0

In [46]:
df[df['category_5']==5]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5
11,20230112079453,비비고 도톰해물완자 795g,3,10.150230,0,4,Y,0,3,1,0,1,0,0,5
31,20230125159318,고메 함박스테이크 152g,4,9.316590,0,5,N,0,2,1,0,1,0,0,5
41,20230125159131,비비고 언양식 바싹불고기 460g,1,9.003808,1,5,Y,1,2,1,0,1,0,0,5
49,20230125158618,고메 토마토미트볼 147g,1,7.351800,0,3,N,0,2,1,0,1,0,0,5
61,20230126164638,고메 함박스테이크 152g,2,8.716208,0,4,N,1,3,1,0,1,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45821,20230101963599,비비고 매콤바싹불고기 460g,1,8.468213,0,5,N,1,6,0,0,1,0,0,5
45824,20230101965237,비비고 남도떡갈비 450g,2,9.288042,0,4,N,0,6,0,0,1,0,0,5
45827,20230101965912,비비고 남도떡갈비 450g,2,9.284241,0,3,N,0,6,0,0,1,0,0,5
45863,20230101965870,비비고 남도떡갈비 450g,1,9.006632,0,5,N,0,6,0,0,1,0,0,5
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0,5

#### 핫도그/떡볶이/간식

In [47]:
df_hotdog = pd.read_csv('crawling_cj0021.csv')
df_hotdog

     category                   item
0          21      고메 치즈크리스피핫도그 340g
1          21             맛밤 42gx10입
2          21        고메 빅크리스피핫도그520g
3          21      고메 포테이토치즈 핫도그400g
4          21  [3+3]쁘띠첼 워터젤리포도 130ml
..        ...                    ...
125        21        햇반 흰쌀밥 라이스크림 4개
126        21   쁘띠첼x공차 클래식밀크티젤리 160g
127        21    쁘띠첼x공차 자몽블랙티젤리 160g
128        21   쁘띠첼x공차 망고요구르트젤리 160g
129        21          슈스트링 냉동감자 2kg

[130 rows x 2 columns]

In [48]:
li_hotdog = list(df_hotdog['item'].unique())
li_hotdog

['고메 치즈크리스피핫도그 340g',
 '맛밤 42gx10입',
 '고메 빅크리스피핫도그520g',
 '고메 포테이토치즈 핫도그400g',
 '[3+3]쁘띠첼 워터젤리포도 130ml',
 '쁘띠첼 워터젤리포도 130ml',
 '밀당의고수 바삭한 김말이 400g',
 '고메 간식 골라담기',
 '고메 오리지널 핫도그 400g',
 '[1+1]맥스봉 프로틴 675G (45g*15EA)',
 '[3+3]밸런스밀 프로틴쿠키 치즈맛 40g',
 '즐거운동행미정당 국물떡볶이401.2g',
 '밀당의고수 쫄면 4인',
 '고메 통모짜 핫도그 340g',
 '[3+3]미정당 어묵떡볶이346g(용기형)',
 'EXCYCLE 바삭칩 오리지널 45g',
 '[3+3]미정당 컵 쫄면볶이 212.2g',
 '고메 크리스피핫도그 400g',
 '고메 베이커리 치즈볼 270g',
 '밸런스밀 프로틴쿠키 치즈맛 40g',
 '고메 크리스피 핫도그 720g',
 '[3+3]톡톡까먹어밤 500g',
 '미정당 방앗간 가래떡 떡볶이 400g',
 '[3+3]미정당비엔나떡볶이300g(용기형)',
 '맥스봉치즈162g',
 '맛밤 80g',
 '크레잇 간편식 골라담기',
 '톡톡까먹어밤 500g',
 'EXCYCLE 바삭칩 핫스파이시 45g',
 '미정당 어묵떡볶이346g',
 '쁘띠첼 워터젤리복숭아 130ml',
 '쁘띠첼과일젤리밀감210g',
 '비비고칩 오리지널40g',
 '크레잇 테이스티박스 다시다떡볶이 265g',
 '크레잇 바베큐치즈핫랩175g',
 '쁘띠첼 밀감 90gx6개',
 '미정당 컵 쫄면볶이 212.2g',
 '쁘띠첼과일젤리파인애플 210g',
 '쁘띠첼과일젤리복숭아210g',
 '밀당의고수 쫄면 2인',
 'EXCYCLE 바삭칩 트러플 45g',
 '쁘띠첼 포도 90gx6개',
 '크레잇 스팸에그치즈핫랩 175g',
 '맥스봉 구운풍미 마늘 후랑크 80g',
 '미정당비엔나떡볶이300g(용기형)',
 '미정당 매콤까르보나라 누들떡볶이',
 '프레시웨이 간식/아이스크림 골라담기',
 '쁘띠첼과일젤리포도210g',
 '고메 베이커리 크로와상 330g',
 '쁘띠첼 복숭아 90gx6개',
 '고메 베이커리 크로와상 630g (유통기한 23.09.26까지)',
 '즐거운동행미정당 순쌀떡볶이401.2g',
 '미정당 스파이시로제떡볶이 376g',
 '쁘띠첼 요거젤리 블루베리 210g',
 '맥스봉 치즈 525g(35g*15ea)',
 '비비고칩 포테이토40g',
 '비비고칩 스위트콘40G',
 '쁘띠첼 요거젤리 딸기 210g',
 '쁘띠첼 요거젤리 화이트코코 210g',
 '달콤한 쁘띠첼 골라담기',
 '크레잇 테이스티박스 콰트로 콘맥앤치즈 250g',
 '맥스봉 청양고추 후랑크80g',
 '쁘띠첼 복숭아 90gx3개',
 '쁘띠첼 워터젤리 골라담기',
 '쁘띠첼 워터젤리오렌지 130ml',
 '쁘띠첼 요거젤리 복숭아 210g',
 '해쉬브라운 냉동감자 1.2kg',
 '쁘띠첼 자몽상큼함듬뿍워터젤리 130ml',
 '쁘띠첼 워터젤리사과 130ml',
 '쁘띠첼 코코그린애플 210g',
 '쁘띠첼 망고달달함듬뿍워터젤리 130ml',
 '크레잇 트러플맥앤치즈핫랩175g',
 '맥스봉치즈825g',
 '맥스봉 오리지널 525g',
 '쁘띠첼 파인애플달콤함듬뿍워터젤리 130ml',
 '고메 베이커리 플레인스콘 400g',
 '즐거운동행 미정당 국물떡볶이 4인분기획 912.4g',
 '[가정의달] 촉촉한 꿀고구마 말랭이 선물세트',
 '크레잇 꼬마핫도그 1.25kg(50gX 25개)',
 '이츠웰 포켓팝콘 카라멜맛 25g X 10봉',
 '케이준프라이 냉동감자 2kg',
 '고메 베이커리 크림치즈파이370g',
 '즐거운동행 미정당 쫄볶이 470g',
 '쁘띠첼 요거젤리 밀감 210g',
 '이츠웰 포켓팝콘 크리미카라멜맛 25g',
 '맛밤 42g',
 '쁘띠첼 밀감 90gx3개',
 '맥스봉치즈1.08kg',
 '맥스봉 숯불구이맛 핫바 70g',
 '쁘띠첼 망고90gx3개',
 '쁘띠첼 망고 90g',
 '울트라레귤러컷 냉동감자 2kg',
 '쁘띠첼 요거젤리 딸기 90gx3개',
 '맥스봉 체다치즈어랏400g (20g*20EA)',
 '맥스봉 직화구이꼬치바오리지널 70g',
 '맥스봉 치즈후랑크70g',
 '쁘띠첼 요거젤리 밀감 90gx3개',
 '쁘띠첼 복숭아 90g',
 '서울우유 흰우유 아이스크림 474ml 3개',
 '쁘띠첼파인애플90g',
 '쁘띠첼 코코포도 90gx3개',
 '쁘띠첼 밀감 90g',
 '햇반 라이스크림 흰쌀밥 2입 + 흑미밥 2입',
 '맥스봉 크레이지핫 핫바90g',
 '맥스봉 직화구이꼬치바청양고추 70g',
 '쿠캣 티라미수쏙 찹쌀떡 540g',
 '이츠웰 포켓팝콘 블라썸맛 25g X 10봉',
 '비요뜨 아이스크림 3종(딸기, 블루베리, 초코볼)',
 '구워만든 곡물그대로 21 블랙에디션',
 '[가정의달] 구워만든 곡물그대로 21 블랙에디션',
 '쁘띠첼 워터젤리 포도 160ml',
 '이츠웰 포켓팝콘 화이트블라썸 25g',
 '쁘띠첼 요거젤리복숭아 90gx6개',
 '쁘띠첼 복숭아 90gx9개',
 '이츠웰 포켓팝콘 딸기맛 25g X 10봉',
 '쁘띠첼요거젤리 화이트코코 90g',
 '이츠웰 포켓팝콘 딸기맛 25g',
 '이츠웰 허니버터아몬드 10g X 40봉',
 '비요뜨 아이스크림 초코볼x3개',
 '햇반 흑미밥 라이스크림 4개',
 '맥스봉 빅소시지 150g',
 '비요뜨 아이스크림 딸기x3개',
 '비요뜨 아이스크림 블루베리x3개',
 '쿠캣 딸기쏙우유 찹쌀떡 540g',
 'EXCYCLE 바삭칩 골라담기',
 '햇반 흰쌀밥 라이스크림 4개',
 '쁘띠첼x공차 클래식밀크티젤리 160g',
 '쁘띠첼x공차 자몽블랙티젤리 160g',
 '쁘띠첼x공차 망고요구르트젤리 160g',
 '슈스트링 냉동감자 2kg']

In [49]:
# 리스트에 있으면 1
df['category_4'] = df['product_name'].apply(lambda x: 4 if x in li_hotdog else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0,5,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0,0,0

In [50]:
df[df['category_4']==4]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4
7,20230125160921,맥스봉 체다치즈어랏400g (20g*20EA),1,8.974998,0,2,Y,0,2,1,0,1,0,0,0,4
13,20230125159833,고메 치즈크리스피핫도그 340g,1,8.327001,0,4,N,1,2,1,0,1,0,0,0,4
19,20230124153976,고메 포테이토치즈 핫도그400g,1,9.151969,0,2,Y,0,1,1,0,1,0,0,0,4
21,20230125156789,고메 포테이토치즈 핫도그400g,1,8.786151,0,3,N,0,2,1,0,1,0,0,0,4
33,20230125158618,밀당의고수 쫄면 4인,1,8.358432,0,3,N,0,2,1,0,1,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45758,20230101963302,밀당의고수 바삭한 김말이 400g,1,7.992945,0,4,N,0,6,0,0,1,0,0,0,4
45781,20230101965615,쁘띠첼과일젤리포도210g,2,7.892452,1,2,Y,1,6,0,0,1,0,0,0,4
45802,20230101964512,맛밤 80g,3,8.507143,1,4,Y,1,6,0,0,1,0,0,0,4
45805,20230101965870,맛밤 80g,1,7.740230,0,5,N,0,6,0,0,1,0,0,0,4
45838,20230102972731,고메 치즈크리스피핫도그 340g,1,8.592115,0,4,N,0,0,1,0,1,0,0,0,4

#### 만두/피자/치킨

In [51]:
df_pizza = pd.read_csv('crawling_cj0020.csv')
df_pizza

     category                  item
0          20  [1+1]고메 갈릭치즈 피자 325g
1          20       고메 갈릭치즈 피자 325g
2          20        비비고 왕교자 1.05kg
3          20   [1+1]고메 크리스피너겟 450g
4          20     고메 바삭쫄깃한 탕수육 450g
..        ...                   ...
116        20   [식물성] 플랜테이블 왕교자420g
117        20        바삭군만두 445g*2EA
118        20        비비고 깔끔고기만두200g
119        20  옥사부반점 광동식난자완스250gx3개
120        20   옥사부반점 사천식류산슬250gx3개

[121 rows x 2 columns]

In [52]:
li_pizza = list(df_pizza['item'].unique())
li_pizza

['[1+1]고메 갈릭치즈 피자 325g',
 '고메 갈릭치즈 피자 325g',
 '비비고 왕교자 1.05kg',
 '[1+1]고메 크리스피너겟 450g',
 '고메 바삭쫄깃한 탕수육 450g',
 '[소바바 치밥SET] 소이허니 순살 375g x2개+새우볶음밥 420g x2개',
 '[맵단 순살SET] 소이허니 순살 375g x2개+순살치킨 고추 450g x1개',
 '[소바바치킨SET] 소이허니 순살 375g x3개',
 '[소바바+치즈볼SET] 소이허니 순살 375g x1개+소이허니 윙 300g x1개+소이허니 봉 300g x1개+치즈볼 270g x1개',
 '[소바바+피자SET] 소이허니 순살 375g x1개+소이허니 윙 300g x1개+소이허니 봉 300g x1개+고메 칠리감바스피자 350g x1개',
 '[소바바FULLSET] 소이허니 순살 375g x2개+소이허니 윙 300g x1개+소이허니 봉 300g x1개',
 '비비고 진한고기만두400g*2번들',
 '비비고 만두 골라담기',
 '고메 중화짬뽕 652g',
 '고메 중화요리 골라담기',
 '고메 크리스피너겟 450g',
 '[고메 소바바치킨] 소이허니 순살 375g',
 '비비고 물만두 370gx2개',
 '[1+1]고메 화끈불닭봉 355g',
 '[1+1]고메 숯불향오븐구이 400g',
 '비비고 왕교자 455gx2개',
 '[소바바치킨SET] 소이허니 윙 300g x3개',
 '고메 화끈불닭봉 355g',
 '비비고 교자만두 골라담기',
 '비비고 김치 왕교자 420gx2개',
 '고메 숯불향오븐구이 400g',
 '[고메 소바바치킨] 소이허니 윙 300g',
 '비비고 수제진한김치만두 400gx2',
 '고메치킨 후라이드550g',
 '[1+1]고메 스윗치즈 피자 325g',
 '[소바바치킨SET] 소이허니 봉 300g x3개',
 '[2+2]고메 꿀고구마치즈 피자 140g',
 '[1+1]고메 칠리감바스 피자 350g',
 '고메 바삭탱글한 칠리새우 300g',
 '비비고 새우왕교자 315gx2번들',
 '고메 간식 골라담기',
 '고메 스윗치즈 피자 325g',
 '[2+2]고메 허니베이컨체다 피자 135g',
 '[1+1]고메 토마토치즈 피자 345g',
 '[고메 소바바치킨] 소이허니 봉 300g',
 '[1+1]고메 알싸쯔란봉 355g',
 '고메 바삭쫄깃한 탕수육 900g',
 '고메 칠리감바스 피자 350g',
 '[1+1][식물성] 플랜테이블 왕교자 420g*2 (유통기한 23.10.04까지)',
 '고메 싱글피자 골라담기',
 '고메 꿀고구마치즈 피자 140g',
 '고메 토마토치즈 피자 345g',
 '고메 알싸쯔란봉 355g',
 '고메 중화짜장 760g',
 '고메 클래식 콤비네이션 피자 405g',
 '[식물성] 플랜테이블 왕교자 420g*2 (유통기한 23.10.04까지)',
 '고메 허니베이컨체다 피자 135g',
 '비비고 바삭군교자 360g*2',
 '고메 바삭촉촉한 깐풍기 450g',
 '비비고 깻잎고기만두400g*2',
 '[2+2]고메 케이준프라이즈 피자 145g',
 '고메 시카고피자 골라담기',
 '고메 페퍼로니토마토 시카고피자 390g',
 '비비고 매운왕교자 385gx2번들',
 '고메 로제크림치킨 시카고피자 400g',
 '고메 순살크리스피 치킨 고추크런치 450g',
 '[1+1]비비고X호족반 트러플감자전만두 350g*2번들 (유통기한 23.08.28까지)',
 '고메 소보로 고르곤졸라 시카고 피자 370g',
 '고메 순살치킨 스윗허니 450g',
 '비비고 찰보리 감자만두 600gx2개',
 '고메 케이준프라이즈 피자 145g',
 '고메 중화게살볶음밥 420g',
 '비비고 군만두 450g*2EA',
 '비비고X호족반 트러플감자전만두 350g*2번들 (유통기한 23.08.28까지)',
 '고메 클래식 불고기 피자 405g',
 '고메치킨 달콤양념 550g',
 '비비고X호족반 NY 양념갈비만두 384g*2번들',
 '비비고 든든한섬만두 384g*2',
 '비비고 왕교자 라이트 455g*2EA',
 '비비고 왕교자 420g',
 '비비고 청양고기만두 400g*2',
 '고메 바삭쫄깃한 사천탕수육 450g',
 '고메 삼선해물볶음밥 420g',
 '고메 마르게리타 피자 325g',
 '크레잇 전문점 물만두 1kg',
 '고메 치킨 후라이드 850g',
 '비비고 김치왕교자 라이트 455g*2EA',
 '크레잇 전문점 고기왕만두 1.4kg',
 '[고메x덕후선생] 고메 덕후선생 마장반면 425g',
 'CJ 꼬마너겟 750g',
 '프레시웨이 간식/아이스크림 골라담기',
 '비비고 진한고기만두980g',
 '고메 중화소고기볶음밥 420g',
 '크레잇 전문점 김치왕만두1.4kg',
 '비비고 찰보리 감자만두 400gx2개',
 '[고메x덕후선생] 고메 덕후선생 쯔란갈비 465g',
 'CJ 교자만두1.41kg',
 '비비고 든든소고기한섬만두320g*2',
 '숯불향 닭강정 200g',
 '빕스 버팔로 윙봉 3팩 세트',
 '[고메x덕후선생] 고메 호남식납육초반 420g',
 '비비고 닭가슴살왕교자 라이트455g*2EA',
 '고메 콰트로포르마지 피자 310g',
 'CJ 납작군만두 700g',
 '비비고 김치왕만두 420gx2',
 '고메x롯데리아 불고기버거 피자 410g',
 '[식물성] 비비고 플랜테이블김치왕교자 420g*2번들',
 '비비고 버섯소고기만두618g',
 '크레잇 테이스티박스 만두그라탕 240g',
 '비비고 청양고추 찐만두 168g',
 '비비고 왕만두490gx2개',
 '고메 미니치즈너겟 400g',
 '중화요리간짜장 2인분 630g',
 '비비고 청양고추 찐만두 392gX2개',
 '비비고 찐만두168g',
 '[식물성] 플랜테이블 김치왕교자420g',
 '이츠웰 빵가루왕새우튀김300gx3개',
 '이츠웰 빵가루코코넛새우튀김200gx3개',
 '비비고 찐만두 392gX2개',
 '빕스 피자 4종(페퍼로니,고르곤졸라,콤비네이션,불고기)',
 '비비고 진한김치만두200g',
 '[식물성] 플랜테이블 왕교자420g',
 '바삭군만두 445g*2EA',
 '비비고 깔끔고기만두200g',
 '옥사부반점 광동식난자완스250gx3개',
 '옥사부반점 사천식류산슬250gx3개']

In [53]:
# 리스트에 있으면 1
df['category_3'] = df['product_name'].apply(lambda x: 3 if x in li_pizza else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0,0,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0,0,0,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0,5,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0,0,0,0

In [54]:
df[df['category_3']==3]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0,0,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0,0,0,3
8,20230125157569,고메 바삭쫄깃한 사천탕수육 450g,1,8.938007,1,4,Y,1,2,1,0,1,0,0,0,0,3
14,20230111075349,비비고 깻잎고기만두400g*2,1,8.850947,0,6,N,0,2,1,0,1,0,0,0,0,3
16,20230124153976,고메 칠리감바스 피자 350g,1,9.103089,0,2,Y,0,1,1,0,1,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45852,20230101963370,고메 크리스피너겟 450g,1,8.622454,1,4,N,1,6,0,0,1,0,0,0,0,3
45859,20230102972321,비비고 매운왕교자 385gx2번들,1,8.753845,1,5,Y,1,0,1,0,1,0,0,0,0,3
45862,20230101966441,고메 순살크리스피 치킨 고추크런치 450g,1,8.622454,0,3,N,1,6,0,0,1,0,0,0,0,3
45866,20230101966635,고메 순살크리스피 치킨 고추크런치 450g,1,8.659560,1,3,N,0,6,0,0,1,0,0,0,0,3
45868,20230102972321,고메 바삭쫄깃한 탕수육 450g,1,8.702510,1,5,Y,1,0,1,0,1,0,0,0,0,3

#### 국/김치/김/반찬/두부

In [55]:
df_kimchi = pd.read_csv('crawling_cj0019.csv')
df_kimchi

     category                             item
0          19    [생산직송]비비고 포기배추김치 5kg+총각김치 2kg
1          19  [생산직송]비비고 포기김치 5kg+열무김치 900gX2개
2          19                 비비고 순살 고등어구이 60g
3          19       비비고 소고기 미역국 500gx18개(1box)
4          19              비비고 소고기 미역국 500gX6개
..        ...                              ...
296        19        행복한콩 2가지로만 국산콩두부 찌개용 180g
297        19        행복한콩 2가지로만 국산콩두부 부침용 180g
298        19                  비비고 두부김치찌개 460g
299        19                  토종김 참기름 5gX12ea
300        19              하선정 먹기좋게썰어놓은오이지 1kg

[301 rows x 2 columns]

In [56]:
li_kimchi = list(df_kimchi['item'].unique())
li_kimchi

['[생산직송]비비고 포기배추김치 5kg+총각김치 2kg',
 '[생산직송]비비고 포기김치 5kg+열무김치 900gX2개',
 '비비고 순살 고등어구이 60g',
 '비비고 소고기 미역국 500gx18개(1box)',
 '비비고 소고기 미역국 500gX6개',
 '비비고 갈비탕 400gx18개(1box)',
 '비비고 사골곰탕 500gX18개(1box)',
 '비비고 열무김치 1.5kg',
 '비비고 육개장 500gX6개',
 '비비고 육개장 500gx18개(1box)',
 '비비고 소고기 미역국 500g',
 '비비고 갈비탕 400g',
 '[1+1]행복한콩 2가지로만 국산콩두부 부침용 300g',
 '비비고 닭곰탕 500gX4개',
 '[3+3]비비고 돼지고기김치찌개 460G',
 '비비고 돼지고기김치찌개 460gX4개',
 '[3+3]행복한콩 콩국물 350g',
 '[2+2]CJ명가 한식간장김자반 50g',
 '[5+5]비비고 한우사골곰탕 500g',
 '비비고 한우사골곰탕 500gx18개(1box)',
 '[1+1]행복한콩 2가지로만 국산콩두부 찌개용 300g',
 '(냉동) 비비고 테이블 본갈비탕 700gX2개 + 특설렁탕 700gX2개 + 특양지곰탕 700gX2개',
 '행복한콩 2가지로만 국산콩두부 부침용 300g',
 '비비고 국물요리 골라담기',
 '비비고 육개장 500g',
 '비비고 사골곰탕 500g',
 '(냉동) 비비고 테이블 본갈비탕 700gX3개',
 '행복한콩 2가지로만 국산콩두부 찌개용 300g',
 '비비고 닭곰탕 500g',
 '비비고 총각김치 1.5kg',
 '(냉동) 비비고 테이블 특설렁탕 700g',
 '비비고 돼지고기김치찌개 460g',
 '비비고 소고기무국 500gX4개',
 'CJ명가 김밥김 22g',
 '(냉동) 비비고 테이블 특 선물세트 (본갈비탕700g + 특양지곰탕700g + 특설렁탕700g)',
 '(냉동) 비비고 테이블 본갈비탕 700g',
 '비비고 냉동국물 골라담기',
 '비비고 스팸부대찌개 460gX4개',
 '[3+3]비비고 스팸부대찌개 460G',
 '비비고 소고기장터국 500gX4개',
 '행복한콩 콩국물350g',
 '비비고 도가니곰탕 460gx18개(1box)',
 '비비고 도가니곰탕 460gX6개',
 '비비고 진국설렁탕 500gX4개',
 'CJ명가 한식간장김자반 50g',
 '비비고 감자탕 460gX4개',
 '비비고 차돌육개장 500gX4개',
 '비비고 노릇하게 구운 갈치구이 70g',
 '비비고 설렁탕 500gX4개',
 '비비고 한우사골곰탕 500g',
 '[생산직송]비비고 BASIC 포기배추김치 10kg',
 '비비고 남도식 추어탕 460gx18개(1box)',
 '비비고 남도식 추어탕 460gX4개',
 '비비고 차돌된장찌개 460gX4개',
 '(냉동) 비비고 테이블 특양지곰탕 700g',
 '행복한콩 2가지로만 국산콩두부 부침찌개300gX 2개입',
 '비비고 소고기무국 500g',
 '비비고 꼬리곰탕 460gX4개',
 '비비고 콩나물황태국 500gX4개',
 'CJ명가 직화구이김 4.5gX 30개',
 '비비고 순살 삼치구이 60g',
 '비비고 파김치 800g',
 '비비고 백김치 500gx2개',
 '비비고 스팸부대찌개 460g',
 '비비고 누룽지닭다리삼계탕 600g',
 '비비고 소고기장터국 500g',
 '비비고 도가니곰탕 460g',
 '비비고 가자미구이 70g',
 '행복한콩 콩국물350gX 4개 + 전통냉면사리150gX 4개',
 '행복한콩 콩국물350gX 4개 + 삼호 실곤약200gX 4개',
 '비비고 진국육수 소고기양지 500gX6개',
 '[4+4]비비고 진국육수 소고기양지 500g',
 '비비고 진국설렁탕 500g',
 '[40%할인] 영양 보양식 골라담기',
 '비비고 감자탕 460g',
 '주부초밥왕 새콤달콤유부초밥 320g',
 '비비고 차돌육개장 500g',
 '비비고 총각김치 2.3kg',
 '비비고 설렁탕 500g',
 '행복한콩 몽글몽글순두부350gx2개',
 '비비고 백김치 500g',
 '비비고 열무물김치 900gX2개',
 '[2+2]CJ명가 버터간장김자반 50g',
 '비비고 메추리알장조림 170g',
 '비비고 한마리고등어구이 140g',
 '[4+4]비비고 진국육수 멸치해물 500g',
 '비비고 진국육수 멸치해물 500gX6개',
 '비비고 남도식 추어탕 460g',
 '비비고 차돌된장찌개 460g',
 '비비고 사골시래기된장국 460gX4개',
 '비비고 임연수구이 60g',
 '비비고 소고기장조림 125g',
 '비비고 두부청국장찌개 460gX4개',
 '훈제대란 20구',
 '비비고 수삼갈비탕 400gx18개(1box)',
 '비비고 수삼갈비탕 400gX4개',
 '삼호 꼬치어묵 600g',
 '육수가득 소불고기 전골_밀키트',
 '비비고 썰은배추김치 500gx2개',
 '비비고 꼬리곰탕 460g',
 '비비고 콩나물황태국 500g',
 '비비고 오징어채볶음55g',
 '행복한콩 콩국물 350gX 4번들',
 'CJ명가 재래김 4gX 16개',
 '비비고 전복미역국 460gX4개',
 '비비고 별미김치 4종세트 (열무김치/총각김치/파김치/갓김치)',
 'CJ명가 한식간장김자반 50gX 2개',
 '비비고 묵은지 900gx2개',
 '행복한콩 모닝두부 오리엔탈소스 150g',
 '삼호 모둠어묵탕374g',
 '[1+1]밥이랑 20개입 실속포장 36g',
 '비비고 총각김치 900gx2개',
 '비비고 썰은배추김치 1.8kg',
 '비비고 썰은배추김치1.8kgx2개',
 '한입사각유부초밥 400gX 2개',
 '삼호 부산어묵 바른사각240g*2',
 '행복한콩 국산콩 순두부 330g',
 'CJ명가 파래김 4gX 16개',
 '비비고 갓김치 900gx2개',
 '4無 김밥단무지 370g',
 '행복한콩 모닝두부 플레인 140g',
 '행복한콩 두부 골라담기',
 'CJ 동물복지 유정란15구',
 '비비고 썰은배추김치 500g (용기형)',
 '밥이랑 20개입 실속포장 36g',
 '비비고 삼계탕 800g',
 '삼호 가쓰오모둠어묵탕413g',
 '주부초밥왕 한입사각유부초밥400g',
 '비비고 포기배추김치4.9kg',
 '비비고 사골시래기된장국 460g',
 '비비고 묵은지 900g',
 '비비고 진국육수 소고기양지 500g',
 '반숙대란 20구',
 '삼호어묵 골라담기',
 '삼호 정통어묵탕 336g',
 '비비고 포기배추김치1.8kg x2개',
 '비비고 찌개 골라담기',
 '비비고 두부청국장찌개 460g',
 'CJ명가 버터간장김자반50g',
 '삼호어묵 안심부산어묵 도톰쫄깃240g*2',
 '비비고 견과류멸치볶음60g',
 '비비고 수삼갈비탕 400g',
 '4無 치자단무지와 우엉 220g',
 '비비고 총각김치 900g',
 '비비고 썰은배추김치 3kg',
 '비비고소고기꽈리고추장조림125g',
 '비비고 전복미역국 460g',
 '삼호 오색어묵탕365g',
 '비비고 열무김치 400g',
 '비비고 고추장쥐포볶음60g',
 '비비고 포기배추김치 3.3Kg',
 '깐메추리알 450g',
 '비비고 갓김치 900g',
 '하선정 쌈무(새콤한맛) 350g',
 '비비고 진국육수 멸치해물 500g',
 '비비고칩 오리지널40g',
 '삼호 매콤달콤 쫀득어묵볶이330gX 2개',
 '주부초밥왕 새콤달콤320g+160g',
 '비비고 고등어구이 60g',
 '비비고 생선구이 골라담기',
 '행복한콩 양념이잘배는찌개두부 300g',
 '비비고 파김치 300g',
 '비비고무말랭이무침110g',
 '비비고 총각김치 400g',
 '비비고 보쌈김치 400gx2개',
 '즐거운동행 가벼운 고단백 두부면(얇은면) 100g',
 '비비고 반찬 골라담기',
 '비비고 호두연근조림90g',
 '[생산직송]비비고 포기배추김치 5kg X 2개',
 '삼호 매콤달콤 쫀득어묵볶이 330g',
 '비비고 삼치구이 60g',
 '행복한콩 폭신폭신 두부볼 750g',
 'CJ명가 지구를생각한바삭한김 4gX 20개',
 '삼호 김치모둠어묵탕 396g',
 '삼호 오뎅한그릇 얼큰4입',
 '삼호 매운어묵꼬치360g',
 '1+등급 건강란 15구',
 '즐거운동행 가벼운 고단백 두부면(넓은면) 100g',
 '깐메추리알 270g',
 '[4+4]비비고 진국육수 닭고기 500g',
 '비비고 진국육수 닭고기 500gX6개',
 '비비고 포기배추김치 더풍부한맛 3.3kg',
 '행복한콩 큰두부520g',
 '비비고 우리아이한입 백김치 270gx2개',
 '명가 감태김 4gX12EA',
 '행복한콩 콩비지 320g',
 '하선정 쌈무(와사비맛)350g',
 '비비고 김치볶음 150gx2개',
 '비비고 보쌈김치 400g',
 '비비고 썰은배추더풍부한맛 900gx2개',
 '삼호 쫀득어묵 500g',
 '삼호 순살가득 담은어묵 오리지널240g',
 '비비고 썰은배추김치 900gx2개',
 '[생산직송]비비고 포기배추김치 5kg',
 '비비고 열무를 넣은 총각김치1.3kg',
 '밥이랑야채 27g',
 '삼호 안심부산어묵 얇은사각300g',
 '비비고칩 포테이토40g',
 '비비고칩 스위트콘40G',
 '삼호 특선모둠어묵탕 301g',
 '비비고 우리아이한입 백김치270g',
 '행복한콩 촌두부 380g',
 '행복한콩 반모두부(150g+150g)',
 '비비고 김치볶음150g',
 '삼호 실곤약 200g',
 'CJ명가 직화구이김 4.5gX 16개',
 '주부초밥왕 새콤달콤 꼬마 149.2g',
 '명가 초사리곱창돌김 5gX12EA',
 '비비고 열무김치 900gx2개',
 '삼호 곤약 250g',
 '비비고 썰은배추김치 더풍부한맛 900g',
 '비비고 썰은배추김치 900g',
 '4無 꼬들꼬들 단무지 200g',
 '비비고 깍두기 500g',
 '비비고 보쌈무김치 150g',
 '삼호 안심부산어묵 종합276g*2',
 'CJ명가 직화구이김 4.5gX 20개',
 '삼호어묵 안심부산어묵 얇은사각200g*2',
 '비비고 김치 골라담기',
 '비비고 썰은배추김치 500g',
 '비비고 묵은지 1.5kg',
 '비비고 진국육수 닭고기 500g',
 '비비고 진국육수 골라담기',
 '하선정 쌈무(새콤한맛) 200g',
 '비비고열무김치480gx2개',
 '비비고 열무김치 900g',
 '비비고 갓김치 300g',
 '비비고 석박지를 넣은 포기김치3kg',
 '명가 토종김 들기름4gX12ea',
 '비비고 우리아이한입 썰은김치270g',
 '비비고 썰은배추김치 더풍부 500g(용기형)',
 '얼큰 버섯 비비고 만두 전골_밀키트',
 '[택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)',
 '삼호어묵 부산어묵 바른사각 240g',
 '4無 맛 단무지 260g',
 'CJ명가 토종김 참기름 20gX3ea',
 '비비고 김치볶음80g',
 '주부초밥왕 새콤달콤 유부초밥 도시락기획280g',
 '행복한콩 노릇하게잘구워지는부침두부 300g',
 '명가 담백구운김 2gX16ea',
 '명가미역 80g',
 '하선정 통오이지 1kg',
 '두부면 들기름 간장파스타 2인분',
 '4無 치자 이절 단무지 400g',
 '삼호 만선모둠어묵(꽃게) 726g',
 '비비고 열무김치480g',
 '주부유부왕 300g',
 '비비고 썰은배추김치 100gx6개',
 '비비고 김치볶음80g*5EA',
 '비비고 김치볶음 80g*5EA',
 '비비고 별미김치 골라담기',
 '비비고 묵은지400g',
 '삼호 순살가득 담은어묵 야채200g',
 '하선정 알마늘(간장숙성)380g',
 '하선정 통오이지300g',
 '[택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)',
 '해물 짬뽕 비비고 만두 전골_밀키트',
 '주부초밥왕 국산콩 328 g',
 '김밥용 하선정 우엉조림130g',
 '명가 초사리곱창돌김 25gX2EA',
 '두부면 토마토파스타 2인분',
 '두부면 중화짜장면 2인분',
 '하선정 4무첨가 장아찌 150g',
 '비비고 썰은배추김치 100g',
 '주부초밥왕 새콤달콤꼬마 447.6g',
 '비비고 포기배추김치5kg',
 '삼호 얇은포 부산어묵 1kg',
 '비비고 고등어구이 60g+소스15g',
 '하선정 포기김치 3kg',
 '하선정 알찬 알마늘 1kg',
 '밥이랑 해물 24g',
 '하선정 먹기좋게썰어놓은오이지210g',
 '하선정 장아찌 1kg',
 '비비고 썰은 배추김치 300g(용기)',
 '행복한콩 2가지로만 국산콩두부 부침용180gX3',
 'CJ 하선정 포기김치 5kg',
 '삼호 부산어묵 사각540g',
 '하선정 4無 치자 김밥단무지 250g',
 '삼호 안심 부산어묵 볼192g',
 'CJ명가 직화돌김 4.5gX 16개',
 '즐거운동행 가벼운 고단백 쌈두부(사각면) 100g',
 '비비고 썰은배추김치 100gX5',
 'CJ명가 토종김 참기름5gX6ea',
 '밥이랑치즈 27g',
 'CJ명가 토종김 참기름 5gX 20개',
 '하선정 쌈무(와사비) 200g',
 'CJ명가 한식간장김자반 20g',
 '비비고 베이컨 김치볶음 70g',
 '통단무지 400g',
 '하선정 이절단무지 400g',
 '삼호 부산어묵 사각200g',
 'CJ 동물복지 유정란10구',
 'CJ명가 한식간장김 4gX 12개',
 '명가 감태김 25gX2EA',
 '삼호 부산어묵 떡볶이용사각360g',
 '하선정 락교380g',
 '행복한콩 2가지로만 국산콩두부 찌개용 180g',
 '행복한콩 2가지로만 국산콩두부 부침용 180g',
 '비비고 두부김치찌개 460g',
 '토종김 참기름 5gX12ea',
 '하선정 먹기좋게썰어놓은오이지 1kg']

In [57]:
# 리스트에 있으면 12
df['category_12'] = df['product_name'].apply(lambda x: 12 if x in li_kimchi else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3,category_12
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1,0,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0,0,0,3,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0,0,0,3,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0,5,0,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0,0,0,0,0

In [58]:
df[df['category_12']==12]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3,category_12
15,20230125156838,행복한콩 2가지로만 국산콩두부 부침용 300g,1,7.658700,0,5,N,0,2,1,0,1,0,0,0,0,0,12
24,20230125158618,행복한콩 2가지로만 국산콩두부 부침용 300g,2,8.310661,0,3,N,0,2,1,0,1,0,0,0,0,0,12
25,20230125155865,비비고 사골곰탕 500g,10,9.481969,1,4,Y,1,2,1,0,1,0,0,0,0,0,12
28,20230122146013,비비고 사골곰탕 500g,10,9.266721,1,4,Y,1,6,0,0,1,0,0,0,0,0,12
37,20230126162655,비비고 임연수구이 60g,2,8.397508,0,4,N,0,3,1,0,1,0,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45853,20230101964905,비비고 진국육수 멸치해물 500g,1,7.687539,0,4,N,1,6,0,0,1,0,0,0,0,0,12
45855,20230101966525,비비고 순살 고등어구이 60g,9,10.112613,1,3,N,0,6,0,0,1,0,0,0,0,0,12
45857,20230101969192,4無 치자단무지와 우엉 220g,1,7.959625,1,4,Y,0,6,0,0,1,0,0,0,0,0,12
45861,20230101966441,삼호 꼬치어묵 600g,1,8.573574,0,3,N,1,6,0,0,1,0,0,0,0,0,12
45864,20230101964918,비비고 설렁탕 500g,1,7.959975,0,2,N,0,6,0,0,1,0,0,0,0,0,12

#### 밥/죽/면

In [59]:
df_rice = pd.read_csv('crawling_cj0018.csv')
df_rice

     category                              item
0          18                 햇반소프트밀 차돌된장죽 420g
1          18        [UPCYCLE]햇반 210gx24개(1box)
2          18  [UPCYCLE]햇반 매일잡곡밥 210gx24개(1box)
3          18                [6+6]햇반 작은 공기 130g
4          18                      고메 중화짬뽕 652g
..        ...                               ...
300        18                햇반 매일찰잡곡밥 210g*3번들
301        18                       햇반 현미밥 130g
302        18                    햇반작은공기130g*6번들
303        18                      둥근햇반 210gx3입
304        18                     햇반 매일오곡밥 210g

[305 rows x 2 columns]

In [60]:
li_rice = list(df_rice['item'].unique())
li_rice

['햇반소프트밀 차돌된장죽 420g',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[UPCYCLE]햇반 매일잡곡밥 210gx24개(1box)',
 '[6+6]햇반 작은 공기 130g',
 '고메 중화짬뽕 652g',
 '[9+9]햇반 큰공기 300g',
 '[5+5]밸런스밀 귀리 50g',
 '[5+5]동치미냉면육수 300g',
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[2+2]플랜테이블 병아리콩 그레인보울 160g',
 '햇반 현미귀리곤약밥 150gX12개',
 '[1+1]가쓰오우동 2인분+튀김우동 2인분 (유통기한 23.08.04까지)',
 '동치미물냉면 2인분+함흥비빔냉면 2인분',
 '[5+5]밸런스밀 프로틴쉐이크 카카오 50g',
 '[5+5]햇반 매일잡곡밥210g',
 '햇반 매일잡곡밥210gX18개',
 '[1+1]햇반쿡반 새우볶음밥 840g',
 '[1+1]햇반쿡반 차돌깍두기볶음밥 820g',
 '햇반 발아현미밥 작은공기 130gx3입X6개',
 '햇반 골라담기',
 '햇반 작은 공기 130g',
 '동치미냉면육수 300g',
 '햇반 솥반 꿀약밥 210gX9개',
 '[3+3]햇반 솥반 꿀약밥 210g',
 '가쓰오우동 2인분+튀김우동 2인분 (유통기한 23.08.04까지)',
 '햇반쿡반 새우볶음밥 840g',
 '햇반 큰공기 300g',
 '햇반 귀리흑미곤약밥 150gX12개',
 '햇반쿡반 차돌깍두기볶음밥 820g',
 '[1+1]햇반 쿡반 베이컨김치볶음밥 800g',
 '밸런스밀 귀리 50g',
 '플랜테이블 병아리콩 그레인보울 160g',
 '[4+4]밸런스밀 바나나 50g',
 '햇반 발아현미밥 작은공기 130gx3입',
 '햇반 현미귀리곤약밥 150g',
 '[5+5]밸런스밀 견과 50g',
 '[3+3]햇반 솥반 버섯영양밥 200g',
 '밸런스밀 프로틴쉐이크 카카오 50g',
 '햇반 매일잡곡밥210g',
 '햇반 쿡반 베이컨김치볶음밥 800g',
 '간편한끼! 볶음밥 골라담기',
 '동치미물냉면 4인분',
 '[3+3]햇반 솥반 뿌리채소영양밥 200g',
 '햇반 솥반 뿌리채소영양밥 200gX9개',
 '[4+4]밸런스밀 고구마 50g',
 '햇반솥반 불고기버섯영양밥 200gX9개',
 '[3+3]햇반솥반 불고기버섯영양밥 200g',
 '햇반쿡반 김치치즈주먹밥 500g',
 '[2+2]햇반 소프트밀 단호박죽 420g',
 '[1+1]햇반 쿡반 낙지비빔밥 820g',
 '햇반솥반 전복내장영양밥 200gX9개',
 '[1+1]햇반쿡반 닭갈비볶음밥 880g',
 '햇반솥반 골라담기',
 '햇반 솥반 꿀약밥 210g',
 '가쓰오메밀생면1136.8g(4인분)',
 '햇반컵반 BIG스팸마요덮밥 307gX4개',
 '[3+3]햇반솥반 흑미밤찰밥 210g',
 '햇반컵반 BIG치즈닭갈비덮밥 313gX4개',
 '햇반 컵반 강된장보리비빔밥 280gX4개',
 '햇반 귀리흑미곤약밥 150g',
 '[1+1]가쓰오우동 2인분 466.6g',
 '햇반 쿡반 낙지비빔밥 820g',
 '햇반컵반 BIG스팸김치덮밥 328gX4개',
 '햇반쿡반 닭갈비볶음밥 880g',
 '햇반컵반 BIG김치날치알밥 263gX4개',
 '비비고 잔칫집모둠잡채644g',
 '햇반컵반 치킨마요덮밥 233g',
 '가쓰오우동 2인+얼큰우동 2인 (유통기한 23.07.19까지)',
 '밸런스밀 바나나 50g',
 '햇반컵반 BIG치킨마요덮밥 313gX4개',
 '햇반솥반 불고기버섯영양밥 200g',
 '햇반소프트밀 누룽지닭백숙죽 280gX6개',
 '고메 중화짜장 760g',
 '햇반 쿡반 스팸김치주먹밥 500g',
 '밸런스밀 견과 50g',
 '햇반쿡반 치즈닭갈비주먹밥 500g',
 '햇반솥반 전복내장영양밥 200g',
 '[1+1]국물가득 토마토매콤 파스타 632.2g',
 '햇반 솥반 버섯영양밥 200g',
 '햇반 소프트밀 단호박죽 420g',
 '뜨끈한 우동 골라담기',
 '가쓰오우동 2인분 466.6g',
 '[1+1]햇반 쿡반 간장버터장조림볶음밥 800g',
 '햇반 솥반 뿌리채소영양밥 200g',
 '밸런스밀 고구마 50g',
 '햇반소프트밀 한우소고기죽 420gX6개',
 '매콤달큰시원한배물냉면1940g(4인)',
 '햇반컵반 BIG스팸마요덮밥 307g',
 '햇반소프트밀 황기삼계죽 420g(유통기한 : 23.08.01)',
 '햇반컵반 닭가슴살 현미밥 간장찜닭 262gX4개',
 '햇반 소프트밀 단호박죽 280gX6개',
 '삼호 모둠어묵탕 374gX 2개 + 우동면사리 190gX 2개',
 '햇반컵반BIG 골라담기',
 '햇반컵반 BIG치즈닭갈비덮밥 313g',
 '햇반 소프트밀 전복내장죽 420g',
 '햇반 컵반 강된장보리비빔밥 280g',
 '국물가득 토마토매콤 파스타 632.2g',
 '[1+1]햇반 쿡반 매콤부추고기볶음밥 800g (유통기한 23.08.17까지)',
 '햇반 쿡반 곤드레나물밥 866g',
 '햇반솥반 흑미밤찰밥 210g',
 '[3+3]가쓰오 우동한그릇',
 '햇반 쿡반 간장버터장조림볶음밥 800g',
 '함흥비빔냉면 2인분',
 '햇반컵반 BIG스팸김치덮밥 328g',
 '햇반 소프트밀 전복삼계죽 420gX6개',
 '정통식 야끼소바 2인분 412g',
 '비비고 시원바지락칼국수642g (2인분)',
 '동치미물냉면 2인분',
 '햇반컵반 BIG김치날치알밥 263g',
 '면요리 골라담기',
 '베트남 쌀국수 2인분 375g',
 '햇반컵반 BIG치킨마요덮밥 313g',
 '햇반소프트밀 누룽지닭백숙죽 280g',
 '햇반소프트밀 동지팥죽 420g(유통기한 : 23.08.01)',
 '햇반컵반 닭가슴살 현미밥 스파이시커리 275gX4개',
 '햇반쿡반 불고기주먹밥 500g',
 '가쓰오우동 4인분 933.2g',
 '햇반쿡반 주먹밥 골라담기',
 '햇반 쿡반 참치마요주먹밥 500g',
 '고메 봉골레 오일 파스타 626g (2인분)',
 '햇반 컵반 치킨커리덮밥 278g',
 '햇반쿡반 버터장조림주먹밥 500g',
 '햇반소프트밀 한우소고기죽 420g',
 '고메 중화게살볶음밥 420g',
 '햇반 쿡반 매콤부추고기볶음밥 800g (유통기한 23.08.17까지)',
 '햇반 컵반 스팸김치덮밥 251g',
 '햇반 흑미밥 작은공기 130gx3입',
 '햇반컵반 스팸마요덮밥219g',
 '[3+3]햇반소프트밀 닭가슴살 곤약죽 180g',
 '평양물냉면1800g(4인)',
 '햇반 소프트밀 전복죽 420g',
 '햇반컵반 닭가슴살 현미밥 간장찜닭 262g',
 '햇반컵반 BIG소고기미역국밥311gX4개',
 '햇반컵반 직화짜장덮밥 281g',
 '[3+3]얼큰 우동 한그릇',
 '[1+1]햇반 쿡반 불고기비빔밥820g (유통기한 23.08.11까지)',
 '고메 머쉬룸 투움바 파스타 740g (2인분)',
 '햇반소프트밀 해물누룽지죽 420g',
 '햇반소프트밀 낙지김치죽 420g',
 '햇반 컵반 김치날치알밥 188g',
 '고소한 콩국수 2인 880g',
 '햇반 소프트밀 단호박죽 280g',
 '햇반소프트밀 누룽지닭백숙죽 420g',
 '햇반 컵반 불닭마요덮밥 219g',
 '햇반 컵반 미역국밥 167g',
 '햇반컵반 직화불고기덮밥 258g',
 '햇반소프트밀 전복버섯죽 280g',
 '백설 소면 900g',
 '햇반 소프트밀 전복삼계죽 420g',
 '햇반 솥반 통곡물밥 200gX9개',
 '햇반쿡반 치킨갈릭마요주먹밥 500g',
 '햇반컵반 중화마파덮밥 275g',
 '고메 삼선해물볶음밥 420g',
 '햇반컵반 닭가슴살 현미밥 스파이시커리 275g',
 '햇반소프트밀 소고기죽 280g',
 '햇반솥반 소고기우엉밥 200g',
 '[1+1]즐거운동행 김치버섯칼국수 392G (유통기한 23.06.14까지)',
 '햇반 소프트밀 버섯야채죽 420g',
 '햇반 쿡반 불고기비빔밥820g (유통기한 23.08.11까지)',
 '햇반컵반 순두부찌개국밥173g',
 '햇반컵반 철판제육덮밥 256gX4개',
 '제일제면소 부산밀면 4인_1734g',
 '백설 자른햇당면 500g',
 '사천마라탕면 2인분 434g',
 '햇반컵반 BIG황태콩나물국밥321gX4개',
 '가쓰오우동한그릇',
 '국물가득 바지락시원파스타 403g',
 '[식물성] 햇반쿡반 플랜테이블 전주비빔주먹밥 500g',
 '햇반 컵반 황태국밥 170g',
 '햇반컵반 참치마요덮밥 204gX4개',
 '햇반소프트밀 녹두닭죽 420g',
 '햇반 쿡반 소고기버섯주먹밥 500g',
 '햇반 쿡반 불닭마요주먹밥 500g',
 '햇반컵반 버터장조림비빔밥 216g',
 '비비고 얼큰버섯칼국수632g',
 '[고메x덕후선생] 고메 덕후선생 마장반면 425g',
 '햇반소프트밀 통단팥죽 280g',
 '백설 파스타 면 500g',
 '햇반소프트밀 닭가슴살 곤약죽 180g',
 '햇반컵반 BIG소고기미역국밥311g',
 '플랜테이블 할라피뇨 그레인보울 160g',
 '까르보나라스파게티 2인분 600g',
 '고메 중화소고기볶음밥 420g',
 '햇반컵반 BIG김치삼겹덮밥 325gX4개',
 '햇반소프트밀 새우계란죽 280g',
 '햇반 소프트밀 통단팥죽 420g',
 '햇반소프트밀 소고기죽 420g',
 '햇반 소프트밀 파우치 골라담기',
 '고메 트러플 크림 파스타 740g (2인분)',
 '햇반컵반 BIG간장삼겹덮밥 319gX4개',
 '우동 면사리 190g',
 '빕스 볶음밥 1인분 X 6종(감바스,나시고랭,불고기,치킨김치,멕시코식,바비큐포크)',
 '크레잇 테이스티박스 칠리치즈 미트볼&파스타 300g',
 '제일제면소 코다리냉면 2인분',
 '얼큰우동한그릇 용기',
 '함흥비빔냉면소스 85g',
 '볼로냐스파게티2인625g',
 '전통 냉면사리 150g',
 '햇반 소프트밀 버섯야채죽 280g',
 '햇반 소프트밀 전복죽 280g',
 '즐거운동행 미정당 쫄면사리 800g',
 '햇반소프트밀 새우계란죽 420g',
 '즐거운동행 미정당 우리땅우리쌀떡국떡1kg',
 '햇반 컵반 골라담기',
 '햇반 컵반 사골곰탕국밥 166g',
 '즐거운동행 미정당 냉면사리 800g',
 '[고메x덕후선생] 고메 호남식납육초반 420g',
 '햇반소프트밀 흑임자죽 280g',
 '햇반 소프트밀 트레이 골라담기',
 '햇반컵반 불닭소스 스팸덮밥 222gX4개',
 '햇반 솥반 통곡물밥 200g',
 '비비고 진한교자칼국수630g',
 '햇반컵반 철판제육덮밥 256g',
 '햇반 매일잡곡밥210g*3',
 '햇반컵반 BIG황태콩나물국밥321g',
 '햇반소프트밀 들깨버섯죽 420g',
 '비비고 버섯잡채1180g',
 '햇반 쿡반 불고기비빔밥 410g',
 '즐거운동행 미정당 방앗간참쌀떡국떡 400g',
 '햇반컵반 참치마요덮밥 204g',
 '햇반 발아현미밥210g',
 '크레잇 테이스티박스 토마토파스타 250g',
 '햇반 식후혈당조절도움밥 210gx6입',
 '[식물성] 햇반쿡반 플랜테이블 불고기주먹밥 500g',
 '평양물냉면900g(2인)',
 '햇반 귀리흑미곤약밥 150gx12번들',
 '햇반컵반 철판김치덮밥 254g',
 '햇반 현미귀리곤약밥 150gx12번들',
 '햇반컵반 BIG김치삼겹덮밥 325g',
 '매콤달큰시원한배물냉면970g(2인)',
 '고메 머쉬룸크림수프 180g*4입',
 '햇반쿡반 차돌깍두기볶음밥 410g',
 '햇반컵반 BIG간장삼겹덮밥 319g',
 '햇반 유기농쌀밥 130g*3',
 '고메 콘크림수프 180g*4입',
 '햇반 스팸김치볶음밥 220g(컵)',
 '햇반 흑미밥 210g',
 '칠리토마토 스파게티 640g 2인분',
 '즐거운동행 미정당 방앗간참쌀왕떡볶이떡 400g',
 '고메 브로콜리크림수프 180g*4입',
 '햇반컵반 소고기육개장국밥 253g',
 '햇반쿡반 새우볶음밥 420g',
 '햇반컵반 불닭소스 스팸덮밥 222g',
 '중화요리간짜장 2인분 630g',
 '햇반쿡반 닭갈비볶음밥 440g',
 '가쓰오튀김우동 2인분',
 '햇반소프트밀 매콤차돌된장죽 280g',
 '햇반 쿡반 간장버터장조림볶음밥 400g',
 '백설 메밀소바 400g',
 '비비고 버섯잡채590g',
 '비비고 잔칫집모둠잡채322g',
 '햇반컵반 불닭소스 치킨덮밥 236g',
 '햇반 현미귀리곤약밥 150gX3번들',
 '빕스 소고기 쌀국수 3팩',
 '미정당 생칼국수 1kg',
 '햇반 쿡반 곤드레나물밥 433g',
 '제일제면소 생칼국수550g',
 '백설 자른햇당면 300g',
 '햇반컵반 낙지콩나물비빔밥 216g',
 '백설 칼국수면 900g',
 '백설 만능 사리당면 80g',
 '햇반쿡반 스팸김치볶음밥 440g',
 '백설 소면 500g',
 '햇반 쿡반 낙지비빔밥 410g',
 '쿠캣 티라미수쏙 찹쌀떡 540g',
 '가쓰오얼큰우동 2인분',
 '햇반솥반 미미달 기획세트(유통기한23.07.28)(전복내장영양밥 200gX2개+불고기버섯영양밥 200gX2개+뿌리채소영양밥 200gX2개+꿀약밥 200gX2개+컵 코스터 2개입)',
 '햇반 100%현미로 지은밥 130g',
 '햇반쿡반 깍두기볶음밥 201g',
 '햇반 쿡반 매콤부추고기볶음밥 400g',
 '햇반 귀리흑미곤약밥 150gX3번들',
 '빕스 단호박 뇨끼 3팩',
 '청양초 매운물냉면 2인 954.4g',
 '제일제면소 생칼국수 300g',
 '햇반컵반 BIG바질크림리조또 306g',
 '빕스 뇨끼감바스 3팩',
 '햇반소프트밀 소고기죽 420gx3개+누룽지닭백숙죽 420gx3개',
 '햇반 쿡반 베이컨김치볶음밥 400g',
 '즐거운동행 미정당 방앗간 참쌀떡볶이떡360g',
 '즐거운동행 미정당 생칼국수 400g',
 '빕스 고르곤졸라 뇨끼 3팩',
 '쿠캣 딸기쏙우유 찹쌀떡 540g',
 '백설 사리소면 100g',
 '냉면 골라담기',
 '빕스 미트라자냐 3팩',
 '[UPCYCLE]햇반 매일찰잡곡밥 210gx24개(1box)',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[20+20]햇반 210g',
 '[3+3]둥근햇반 210gx3입',
 '햇반소프트밀 소고기죽 420gx4개',
 '크레잇 그레인믹스 400g(유통기한 23.05.20)',
 '햇반 매일찰잡곡밥 210g',
 '햇반컵반 BIG매콤로제치킨리조또 323g',
 '햇반컵반 BIG트러플크림리조또 301g',
 '백설 중면 900g',
 '백설 대왕 납작당면 300g',
 '햇반 현미쌀밥 210gx3번들',
 '햇반 매일찰잡곡밥 210g*8번들',
 '햇반 매일잡곡밥 210gx8번들',
 '햇반 매일찰잡곡밥 210g*3번들',
 '햇반 현미밥 130g',
 '햇반작은공기130g*6번들',
 '둥근햇반 210gx3입',
 '햇반 매일오곡밥 210g']

In [61]:
# 리스트에 있으면 1
df['category_6'] = df['product_name'].apply(lambda x: 6 if x in li_rice else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3,category_12,category_6
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1,0,0,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0,0,0,3,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0,0,0,3,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0,5,0,0,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0,0,0,0,0,0

In [62]:
df[df['category_6']==6]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3,category_12,category_6
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0,0,0,0,6
5,20230126167696,[UPCYCLE]햇반 흑미밥 210gx24개(1box),1,10.125110,0,3,N,0,3,1,0,1,0,0,0,0,0,0,6
6,20230125159705,햇반 매일찰잡곡밥 210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0,0,0,0,6
9,20230125156655,고메 콘크림수프 180g*4입,1,8.997518,0,3,Y,0,2,1,0,1,0,0,0,0,0,0,6
18,20230124154184,고메 중화짬뽕 652g,8,10.614106,0,3,N,0,1,1,0,1,0,0,0,0,3,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45823,20230101963226,햇반 소프트밀 단호박죽 420g,2,8.995289,1,3,Y,0,6,0,0,1,0,0,0,0,0,0,6
45836,20230101968087,햇반솥반 소고기우엉밥 200g,2,9.196748,1,4,Y,0,6,0,0,1,0,0,0,0,0,0,6
45841,20230101965486,크레잇 테이스티박스 토마토파스타 250g,2,9.037058,1,2,Y,1,6,0,0,1,0,0,0,0,0,0,6
45856,20230101965240,햇반 쿡반 낙지비빔밥 820g,1,8.702178,0,4,N,1,6,0,0,1,0,0,0,0,0,0,6
45858,20230101964922,햇반소프트밀 통단팥죽 280g,1,7.887959,0,4,N,1,6,0,0,1,0,0,0,0,0,0,6

#### 건강식품

In [63]:
df_health = pd.read_csv('crawling_cj0006.csv')
df_health

     category                                       item
0           6                          닥터뉴트리 알티지오메가3 트리플
1           6             아이시안 루테인+아스타잔틴 300mgX30캡슐(1개월)
2           6               아이시안 루테인+아스타잔틴 300mg(1개월)X2개
3           6                  바이오코어 데일리 유산균 30포(1개월)X3개
4           6                     바이오코어 데일리 유산균 30포(1개월)
..        ...                                        ...
110         6  한뿌리 흑도라지 스틱 8.7mlX60포(2개월)(유통기한:23.12.15)
111         6                 리턴업 전립소 파워 500mgX60캡슐(2개월)
112         6     리턴업 발효효소 홍삼플러스 30포(1개월)(유통기한:23.09.20)
113         6         닥터뉴트리 포커스 비타민D 4000IU 60캡슐(2개월)X3개
114         6            닥터뉴트리 포커스 비타민D 4000IU 60캡슐(2개월)

[115 rows x 2 columns]

In [64]:
li_health = list(df_health['item'].unique())
li_health

['닥터뉴트리 알티지오메가3 트리플',
 '아이시안 루테인+아스타잔틴 300mgX30캡슐(1개월)',
 '아이시안 루테인+아스타잔틴 300mg(1개월)X2개',
 '바이오코어 데일리 유산균 30포(1개월)X3개',
 '바이오코어 데일리 유산균 30포(1개월)',
 '남성 기초영양 골라담기',
 '리턴업 아이시안 루테인 지아잔틴40+ 60캡슐(2개월)X2개(유통기한:24.02.18)',
 '전립소 아르기닌 6000(16.5mlX15포)X2개',
 '전립소 아르기닌 6000 (16.5mlX15포)',
 '[1+1]전립소 아르기닌 6000 (16.5mlX15포)',
 '팻다운 컷 잔티젠(1개월)',
 '팻다운 컷 잔티젠(1개월)X2개',
 '[1+1]바이오코어 다이어트 유산균 30캡슐 (1개월)',
 '바이오코어 다이어트 유산균 30캡슐(1개월)X2개',
 '바이오코어 다이어트 유산균 30캡슐 (1개월)',
 '리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월)',
 '리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월)X2개',
 '리턴업 아이시안 루테인 지아잔틴100mgX30캡슐(1개월)X2개',
 '리턴업 아이시안 루테인 지아잔틴100mgX30캡슐(1개월)',
 '여성 기초영양 골라담기',
 '바이오코어 건강한 생유산균 100억(캡슐)(1개월)X2개',
 '바이오코어 100억 유산균 30캡슐(1개월)',
 '바이오코어 500억 유산균 60캡슐(1개월)',
 '바이오코어 500억 유산균 60캡슐(1개월)X2개',
 '바이오코어 건강한 생유산균 100억(스틱)(1개월)X2개',
 '바이오코어 100억 유산균 30포(1개월)',
 '닥터뉴트리 포커스 멀티비타민 60캡슐(2개월)X3개',
 '닥터뉴트리 포커스 멀티비타민 60캡슐(2개월)',
 '닥터뉴트리 아쿠아셀오메가3 60캡슐 (1개월)',
 '닥터뉴트리 아쿠아셀오메가3 60캡슐(1개월)X2개',
 'BYO 유산균 면역플러스 60캡슐(2개월)',
 'BYO 면역플러스 60캡슐(2개월)X2개',
 '리턴업 관절케어 MSM (1개월분)',
 '리턴업 관절케어 MSM (1개월분)X2개',
 '리턴업 갱년기케어 500mgX60캡슐(1개월)X2개',
 '리턴업 갱년기케어 500mgX60캡슐(1개월)',
 '아이시안 루테인+빌베리 600mgX30캡슐',
 '아이시안 루테인+빌베리 600mgX30캡슐(1개월)X2개',
 '바이오코어 질건강 유산균 30캡슐(1개월)',
 '바이오코어 질건강 유산균(1개월)X2개',
 '리턴업 팻다운 톡 깔라만시맛(10포)X3개',
 '리턴업 팻다운 톡 깔라만시맛(10포)X6개',
 '팻다운 파워번 마스터 가르시니아 100mlX10개',
 '팻다운 파워번 마스터 가르시니아 100mlX10개X3개',
 '팻다운 파워번 마스터 가르시니아 100mlX10개X6개',
 '이너비 콜렉티브 콜라겐 930mgx84정(4주)',
 '이너비 콜렉티브 콜라겐 930mgx84정(4주)X2개',
 '한뿌리 홍삼수 340mlX20개',
 '바이오코어 가벼워질 시간 6입',
 '바이오코어 가벼워질시간 6병X2개',
 '바이오코어 키즈 유산균 30포(1개월)X2개',
 '바이오코어 키즈 유산균 30포',
 '한뿌리 흑삼진액 40mlX30입X2개',
 '한뿌리 흑삼진액 40mlX30입',
 '바이오코어 피부면역 유산균 30포(1개월)X2개',
 '바이어코어 피부면역 유산균 30포(1개월)',
 '닥터뉴트리 멀티 위드 이너뷰티 30포(1개월)(유통기한:23.09.20)',
 '리턴업 팻다운 톡 깔라만시맛(10포)',
 '팻다운 파워번 스페셜 가르시니아 100mlX10병',
 '팻다운 파워번 스페셜 가르시니아 100mlX10병X3개',
 '리턴업 면역케어 프로폴리스(1개월)X2개',
 '닥터뉴트리 포커스 비타민D 트윈세트 120캡슐(4개월)',
 '한뿌리 홍삼식스플러스40mlX60입',
 '리턴업 발효효소 베이직 90g(1개월)(유통기한:23.11.10까지)',
 '리턴업 발효효소 베이직 90g(1개월)X2개(유통기한:23.11.10까지)',
 '리턴업 면역케어 프로폴리스(1개월)',
 '한뿌리 맛있는 양배추 80mlX30입',
 '이너비 글로우샷 콜라겐(6개)X2개',
 '바이오코어 구강유산균 30정X2개',
 '바이오코어 구강유산균 30정',
 '구증구포 흑삼진 스틱 10gX30포',
 '한뿌리 흑삼 젠스틱 10gx30포',
 '전립소 쏘팔메토 아연 500mgX60캡슐(2개월)X2개',
 '전립소 쏘팔메토 아연 500mg(2개월)x60캡슐',
 '한뿌리 홍삼수 340ml',
 '이너비 글로우샷 콜라겐(6개)',
 '이너비 아쿠아뱅크 300mgX56캡슐(4주)X2개',
 '이너비 아쿠아뱅크 300mgX56캡슐(4주)',
 '닥터뉴트리 슬립메이트 락티움 30정',
 '닥터뉴트리 슬립메이트 락티움 30정X2개',
 '구증구포 흑삼진 블랙 스틱 10gX30포',
 '흑삼정 골드클래스 100gX2개',
 '닥터뉴트리 멀티 위드 본케어(1개월)(유통기한:23.09.15)',
 '닥터뉴트리 멀티 베이직 30포(1개월)(유통기한:23.09.20)',
 '한뿌리 구증구포 흑삼진 골드스틱 10gx30포',
 '이너비 스노우화이트 500mgX56캡슐(4주)',
 '이너비 스노우화이트 500mgX56캡슐(4주)X2개',
 '이너비 아쿠아리치 더블업 600mgX56캡슐(4주)X2개',
 '이너비 아쿠아리치 더블업 600mgX56캡슐(4주)',
 '한뿌리 석류콜라겐 50mlX24포',
 '한뿌리 흑삼달임액 30입',
 '팻다운 부스터 카르니틴 50mlX14병X2개',
 '팻다운 부스터 카르니틴 50mlX14병',
 '리턴업 전립소 맥스 60캡슐(2개월)',
 '헬씨누리 침향환 환심 10환X6입(1BOX)',
 '구증구포 흑삼대보 40mlX30포',
 '한뿌리 홍삼식스플러스40mlX30입',
 '헬씨누리 침향환 환심 10환',
 '닥터뉴트리 포커스 비타민B 트윈세트 120캡슐(4개월)(유통기한:23.10.24)',
 '한뿌리 흑삼대보 흑마늘세트(유통기한:23.12.23)',
 '한뿌리 배도라지 50mlX24입',
 '한뿌리 흑마늘달임진액 50mlX24입',
 '한뿌리 양배추&브로콜리 골드 80mlx30입',
 '바이오코어 하이프로틴 유산균 10일분',
 '바이오코어 하이프로틴 유산균 10일분 X 3개',
 '구증구포 흑삼대보 골드 40mlX30포',
 '한뿌리 블랙99 흑삼 아르기닌 50mlX7병',
 '한뿌리 블랙99 흑삼 아르기닌 50mlX7병X2개',
 '리턴업 식물성 알티지오메가3콰트로 60캡슐(1개월)',
 '한뿌리 흑도라지 스틱 8.7mlX60포(2개월)(유통기한:23.12.15)',
 '리턴업 전립소 파워 500mgX60캡슐(2개월)',
 '리턴업 발효효소 홍삼플러스 30포(1개월)(유통기한:23.09.20)',
 '닥터뉴트리 포커스 비타민D 4000IU 60캡슐(2개월)X3개',
 '닥터뉴트리 포커스 비타민D 4000IU 60캡슐(2개월)']

In [65]:
# 리스트에 있으면 8
df['category_8'] = df['product_name'].apply(lambda x: 8 if x in li_health else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3,category_12,category_6,category_8
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,0,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,0,1,0,0,0,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,0,0,0,0,3,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,0,0,0,0,3,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,0,0,0,0,0,0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,0,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,0,0,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,0,0,5,0,0,0,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0,0,0,0,0,0,8

In [66]:
df[df['category_8']==8]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category_10,category_1,category_5,category_4,category_3,category_12,category_6,category_8
420,20230119140589,닥터뉴트리 포커스 멀티비타민 60캡슐(2개월)X3개,1,10.728058,0,3,Y,1,3,1,0,1,0,0,0,0,0,0,0,8
613,20230125159133,이너비 콜렉티브 콜라겐 930mgx84정(4주)X2개,1,11.319632,0,2,Y,1,2,1,0,1,0,0,0,0,0,0,0,8
629,20230124153269,이너비 아쿠아뱅크 300mgX56캡슐(4주)X2개,1,10.775220,0,3,Y,1,1,1,0,1,0,0,0,0,0,0,0,8
809,20230119140589,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월)X2개,1,11.364344,0,3,Y,1,3,1,0,1,0,0,0,0,0,0,0,8
1014,20230124154076,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.681366,1,3,Y,1,1,1,0,1,0,0,0,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45528,20230101965570,팻다운 부스터 카르니틴 50mlX14병X2개,2,12.129629,0,5,Y,1,6,0,0,1,0,0,0,0,0,0,0,8
45741,20230101965016,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),3,11.526019,1,6,N,0,6,0,0,1,0,0,0,0,0,0,0,8
45854,20230101969653,리턴업 갱년기케어 500mgX60캡슐(1개월)X2개,1,10.449149,1,2,N,0,6,0,0,1,0,0,0,0,0,0,0,8
45869,20230101969615,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월)X2개,1,11.364344,0,2,Y,1,6,0,0,1,0,0,0,0,0,0,0,8
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,0,0,0,0,0,0,0,8

#### 신선식품

In [67]:
df_fresh = pd.read_csv('crawling_cj0007.csv')
df_fresh

    category                                       item
0          7  [가정의달] 혼합과일선물세트(사과4+참외4+골드키위6+백자메론2)5.2Kg
1          7                            이츠웰 훈제오리600gx3개
2          7                             꿀 고구마 2kg (특상)
3          7                     이츠웰 냉동블루베리(60g*10입)x2개
4          7           [가정의달] 사과배혼합세트4호(사과8수+배3수 4.5Kg)
..       ...                                        ...
72         7               정품진 1+ 등심300g+채끝300g+갈비살300g
73         7                               [행사]청매실 10kg
74         7                                [행사]청매실 5kg
75         7                           무항생제 백숙용 생닭 830g
76         7           정품진 무항생제 1+등급 한우 사태 200g+목심 200g

[77 rows x 2 columns]

In [68]:
li_fresh = list(df_fresh['item'].unique())
li_fresh

['[가정의달] 혼합과일선물세트(사과4+참외4+골드키위6+백자메론2)5.2Kg',
 '이츠웰 훈제오리600gx3개',
 '꿀 고구마 2kg (특상)',
 '이츠웰 냉동블루베리(60g*10입)x2개',
 '[가정의달] 사과배혼합세트4호(사과8수+배3수 4.5Kg)',
 '양갈비 프렌치랙 300g+시즈닝 2종',
 '퓨어스펙 블랙라벨 고당도 오렌지 3kg내외',
 '이츠웰 아이스애플망고바(80g*10입)x2개',
 '프레시웨이 간식/아이스크림 골라담기',
 '이츠웰 냉동애플망고(100g*7입)x2개',
 '꿀 고구마 2kg (중)',
 '미트마스터 한돈 삼겹살300g+목심살300g(총600g)',
 '이츠웰 해물모둠500gX2개',
 '무농약 대추방울토마토 1kg',
 '양갈비 숄더랙 300g+시즈닝 2종',
 '랍스터홍새우가리비관자플래터',
 '이츠웰 THE감바스X2개',
 '이츠웰 더쫄깃한 육포 (45gx10봉)',
 '미트마스터 한돈 항정살 300g x 2팩',
 '[가정의달] 명란시대 짜지않고 맛있는 명란젓 800g',
 '[가정의달] 배선물세트(9입 6.5Kg)',
 '양갈비 어깨살 300g+시즈닝 2종',
 '퓨어스펙 블랙라벨 고당도 오렌지 1.8kg내외',
 '이츠웰 빵가루왕새우튀김300gx3개',
 '미트마스터 한돈 삼겹살 300g x 2팩',
 '[가정의달] 청도 반건시 선물세트 1.5kg(30개입)',
 '정품진 무항생제 1+등급 한우 등심 200g+채끝 200g',
 '무농약 토마토 2kg내외',
 '[가정의달] 청도 반건시 프리미엄 선물세트 1.5kg (24개입)',
 '이츠웰 원터치 스위트콘 425g',
 '이츠웰 빵가루코코넛새우튀김200gx3개',
 '제스프리 골드키위 15입(2.1kg내외)',
 '이츠웰 더쫄깃한 육포 (45gx6봉)',
 '미트마스터 한돈 목심살300gx2팩(총600g)',
 '미트마스터 한돈 등심덧살300gx2팩',
 '정품진 무항생제 1+등급 한우 양지 200g+설도 200g',
 '미트마스터 한돈 삼겹살 300g+목심살 300g+항정살 300g',
 '[가정의달] 이스라엘 메르쥴 품종 대추야자 선물세트 700g',
 '친환경 감자 3kg',
 '무항생제 닭다리 400g 2팩',
 '정품진 무항생제 1+등급 한우 등심 200gx2팩',
 '무항생제 윗날개(봉) 350g 2팩',
 '이츠웰 원터치 황도캔 400g',
 '무항생제 아랫날개(윙) 350g 2팩',
 '무항생제 닭볶음용 800g',
 '정품진 무항생제 1+등급 한우 등심 200gx3팩',
 '정품진 무항생제 한우차돌박이 200g 2팩',
 '[가정의달] 송이고버섯선물세트 700g',
 '정품진 무항생제 1+등급 한우 채끝 200gx2팩',
 '친환경 채소꾸러미(표고버섯 300g 감자 1kg 양파 1kg 애호박 1개)',
 '미트마스터 한돈 삼겹살300g+목심살300g+갈매기살300g',
 '정품진 무항생제 1+등급 한우 양지 200g',
 '정품진 무항생제 1+등급 한우 안심 200g+채끝 200g',
 '미트마스터 한돈 수육용 삼겹살 500gx2팩',
 '미트마스터 한돈 수육용 목심살 500gx2팩',
 '정품진 무항생제 1+등급 한우 안심 200gx2팩',
 '무항생제 닭가슴살 400g 2팩',
 '메르쥴품종 대추야자 350g x2개',
 '미트마스터 한돈 삼겹살300g+목심살300g+항정살300g+등심덧살300g (총 1.2kg)',
 '미트마스터 한돈 갈매기살300gx2팩(총600g)',
 '미트마스터 한돈 항정살300g+등심덧살300g+갈매기살300g (총 900g)',
 '미트마스터 한돈 수육용 삼겹살 500g+목심살 500g',
 '정품진 무항생제 1+등급 한우 안심 200g+등심 200g+채끝 200g(구이용)',
 '정품진 무항생제 1+등급 한우 안심 200g+등심 200g+채끝 200g(스테이크용)',
 '정품진 무항생제 1+등급 한우 등심200gx2팩+채끝200g',
 '정품진 무항생제 1+등급 한우 설도 200g x 2팩',
 '[가정의달] 국내산 함안 백자메론(5수) 선물세트 6kg',
 '[가정의달] 사과 선물세트 4.2kg 12입',
 '[가정의달] 머스크 멜론 선물세트 4.5kg(3수)',
 '무농약 양파 3kg',
 '정품진 1+ 등심 300g+갈비살 300g',
 '정품진 1+ 갈비살 600g(300gX2팩)',
 '정품진 1+ 등심300g+채끝300g+갈비살300g',
 '[행사]청매실 10kg',
 '[행사]청매실 5kg',
 '무항생제 백숙용 생닭 830g',
 '정품진 무항생제 1+등급 한우 사태 200g+목심 200g']

In [69]:
# 리스트에 있으면 2
df['category_2'] = df['product_name'].apply(lambda x: 2 if x in li_fresh else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,row_num,category_10,category_1,category_5,category_4,category_3,category_12,category_6,category_8,category_2
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,1,0,0,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,1,0,1,0,0,0,0,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,1,0,0,0,0,3,0,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,1,0,0,0,0,3,0,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,1,0,0,0,0,0,0,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,1,0,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,1,0,0,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,1,0,0,0,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,1,0,0,5,0,0,0,0,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,1,0,0,0,0,0,0,0,8,0

In [70]:
df[df['category_2']==2]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,row_num,category_10,category_1,category_5,category_4,category_3,category_12,category_6,category_8,category_2
51,20230126161562,꿀 고구마 2kg (중),1,9.615872,0,3,N,0,3,1,...,1,0,0,0,0,0,0,0,0,2
3034,20230126170456,이츠웰 해물모둠500gX2개,1,9.854717,1,4,Y,1,3,1,...,1,0,0,0,0,0,0,0,0,2
3038,20230128186937,이츠웰 원터치 스위트콘 425g,1,7.710205,0,2,Y,1,5,0,...,1,0,0,0,0,0,0,0,0,2
3085,20230126176297,이츠웰 원터치 스위트콘 425g,1,7.710205,1,5,Y,1,3,1,...,1,0,0,0,0,0,0,0,0,2
3472,20230126176297,이츠웰 아이스애플망고바(80g*10입)x2개,1,10.152494,1,5,Y,1,3,1,...,1,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40849,20230115111328,양갈비 어깨살 300g+시즈닝 2종,1,9.527266,1,3,Y,1,6,0,...,1,0,0,0,0,0,0,0,0,2
41375,20230126169410,이츠웰 THE감바스X2개,1,9.898023,1,5,Y,0,3,1,...,1,0,0,0,0,0,0,0,0,2
42545,20230102979276,무항생제 닭다리 400g 2팩,1,9.789591,0,3,Y,1,0,1,...,1,0,0,0,0,0,0,0,0,2
42592,20230104001095,무항생제 윗날개(봉) 350g 2팩,1,9.691160,0,4,Y,1,2,1,...,1,0,0,0,0,0,0,0,0,2
44255,20230114101022,이츠웰 냉동애플망고(100g*7입)x2개,3,10.823651,1,3,Y,1,5,0,...,1,0,0,0,0,0,0,0,0,2

#### 음료/생수/시럽

In [71]:
df_water = pd.read_csv('crawling_cj0005.csv')
df_water

    category                        item
0          5           아이시스 8.0 2L x 24펫
1          5     트레비 ECO 플레인 350ml x 20펫
2          5        아이시스 ECO 500ml x 40펫
3          5     아이시스 8.0 ECO 1.5L x 24펫
4          5  제주 삼다수 500ml 40입 (20입x2묶음)
..       ...                         ...
81         5              메티에 리치초코소스 2kg
82         5                투썸 초콜릿라떼 10입
83         5              메티에 뱅쇼향시럽700ml
84         5         펩시 제로슈거 355ml X 24캔
85         5    칠성사이다 제로 ECO 300ml x 20펫

[86 rows x 2 columns]

In [72]:
li_water = list(df_water['item'].unique())
li_water

['아이시스 8.0 2L x 24펫',
 '트레비 ECO 플레인 350ml x 20펫',
 '아이시스 ECO 500ml x 40펫',
 '아이시스 8.0 ECO 1.5L x 24펫',
 '제주 삼다수 500ml 40입 (20입x2묶음)',
 '제주 삼다수 2L 12입 (6입x2묶음)',
 '코카-콜라 제로 190ml x 30캔',
 '아이시스 8.0 ECO 300ml x 80펫',
 '토레타 500ml x 24개',
 '코카-콜라 190ml x 30캔',
 '쁘띠첼 미초 석류 900ml',
 '코카-콜라 제로 300ml x 24개',
 '코카-콜라 300ml x 24개',
 '칠성사이다 제로 250ml x 30캔',
 '컨디션헛개수 340mlx20개(1박스)',
 '코카콜라 제로 라벨프리 370ml 24입',
 '컨디션헛개수 500mlx20개(1박스)',
 '태양의 식후비법 W차 500ml x 24개',
 '컨디션 스틱 그린애플맛 10입',
 '한뿌리 홍삼수 340mlX20개',
 '얼티브 오리지널 190mlx24개',
 '아이시스 8.0 2L x 12펫',
 '메티에 요거트 파우더 1kg',
 '컨디션환 20포',
 '컨디션 헛개수 340ml',
 '투썸 캡슐커피 다크블렌드 10입',
 '잔치집 식혜 240ml x 30캔',
 '제주 삼다수 330ml x 40입',
 '백설 매실청 1.025Kg',
 '투썸 에이리스트 스틱커피 다크블렌드 150입',
 '컨디션 헛개수 500ml',
 '얼티브 비건커피 에스프레소 190mlx24개',
 '쁘띠첼 미초 파인애플 900ml',
 '칠성사이다 제로 500ml x 20펫',
 '한뿌리 홍삼수 340ml',
 '메티에 클래식슈가시럽700ml',
 '얼티브 오리지널 190ml',
 '투썸 캡슐커피 콜롬비아 10입',
 '트레비 레몬 500ml x 18펫',
 '백설 리얼 레몬청 310ml',
 '코카콜라 라벨프리 370ml 24입',
 '아이누리 마시는 귤귤이 한라봉 100ml',
 '컨디션 헛개 100mlx2병',
 '컨디션 헛개수 1.5L',
 '메티에 리치카라멜시럽700ml',
 '백설 리얼 매실청 310ml',
 '얼티브 비건커피 에스프레소 190mlx4번들',
 '백설 매실청 645g',
 '투썸 에이리스트 핸드드립커피 디카페인 브라질',
 '투썸 에이리스트 핸드드립커피 마일드 블렌드',
 '투썸 에이리스트 핸드드립커피 다크블렌드',
 '컨디션 스틱 컨디션맛 10입',
 '투썸 캡슐커피 에티오피아 10입',
 '얼티브 오리지널 730ML',
 '투썸 에이리스트 스틱커피 바닐라라떼 10입',
 '아이시스 8.0 300ml x 80펫',
 '메티에 청포도 시럽 700ml',
 '메티에 그린티 파우더 500g',
 '메티에 리치바닐라시럽700ml',
 '트레비 라임 500ml x 18펫',
 '투썸 에이리스트 스틱커피 마일드블렌드 30입',
 '이츠웰 플리또(망고파인) 130ml',
 '투썸 캡슐커피 마일드블렌드 10입',
 '새싹보리 500ml',
 '투썸 에이리스트 스틱커피 카페라떼 10입',
 '백설 리얼 오미자청 310ml',
 '투썸 에이리스트 스틱커피 마일드블렌드 150입',
 '투썸 에이리스트 스틱커피 다크블렌드 30입',
 '메티에 리치카라멜소스 2kg',
 '아이누리 마시는 야채친구들 100ml',
 '에비앙 330ml x 24펫',
 '얼티브 바리스타 730ML',
 '아이시스 8.0 300ml x 40펫',
 '백설 리얼 배도라지청 310ml',
 '이츠웰 플리또(청포도) 130ml',
 '아이누리 마시는 샤이한 청사과 100ml',
 '메티에 토피넛향 시럽 700ml',
 '메티에 리치바닐라시럽 700ml(펌프세트)',
 '백설 리얼 생강청 310ml',
 '플리또 골드키위배 130ml',
 '컨디션CEO 150mlx6병',
 '메티에 리치초코소스 2kg',
 '투썸 초콜릿라떼 10입',
 '메티에 뱅쇼향시럽700ml',
 '펩시 제로슈거 355ml X 24캔',
 '칠성사이다 제로 ECO 300ml x 20펫']

In [73]:
# 리스트에 있으면 1
df['category_9'] = df['product_name'].apply(lambda x: 9 if x in li_water else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_10,category_1,category_5,category_4,category_3,category_12,category_6,category_8,category_2,category_9
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,0,1,0,0,0,0,0,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,0,0,0,0,3,0,0,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,0,0,0,0,3,0,0,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,0,0,0,0,0,6,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,0,0,5,0,0,0,0,0,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,0,0,0,0,0,8,0,0

In [74]:
df[df['category_9']==9]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_10,category_1,category_5,category_4,category_3,category_12,category_6,category_8,category_2,category_9
53,20230124154286,코카-콜라 190ml x 30캔,1,9.946595,0,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,9
56,20230124154286,제주 삼다수 500ml 40입 (20입x2묶음),1,9.955178,0,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,9
86,20230123149955,백설 매실청 645g,1,8.513386,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,9
104,20230125159549,코카-콜라 190ml x 30캔,1,9.946595,0,5,Y,0,2,1,...,0,0,0,0,0,0,0,0,0,9
1233,20230126162507,백설 리얼 오미자청 310ml,1,8.513386,0,4,N,0,3,1,...,0,0,0,0,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45615,20230122146896,쁘띠첼 미초 석류 900ml,1,8.884887,1,5,Y,1,6,0,...,0,0,0,0,0,0,0,0,0,9
45636,20230125156718,코카-콜라 제로 190ml x 30캔,2,10.656812,1,3,Y,0,2,1,...,0,0,0,0,0,0,0,0,0,9
45654,20230124150278,제주 삼다수 500ml 40입 (20입x2묶음),1,9.907380,0,3,Y,1,1,1,...,0,0,0,0,0,0,0,0,0,9
45655,20230124153190,코카-콜라 190ml x 30캔,1,9.946595,1,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,9
45733,20230123149608,제주 삼다수 330ml x 40입,1,9.881395,0,3,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,9

#### 대용량 식자재

In [75]:
df_large = pd.read_csv('crawling_cj0009.csv')
df_large

    category                   item
0          9         크레잇 치킨가라아게 1kg
1          9    해찬들 새콤달콤 초고추장 1050g
2          9           백설 하얀설탕 15kg
3          9        크레잇 육질탄탄 베이컨1kg
4          9       해쉬브라운 냉동감자 1.2kg
..       ...                    ...
84         9            크레잇 베이컨 1kg
85         9                 요리당5kg
86         9        크레잇 햄야채볶음밥 280g
87         9      쉐프솔루션 고기팡팡 미트볼1kg
88         9  크레잇 생활반찬 고추송송 고기말이1kg

[89 rows x 2 columns]

In [76]:
li_large = list(df_large['item'].unique())
li_large

['크레잇 치킨가라아게 1kg',
 '해찬들 새콤달콤 초고추장 1050g',
 '백설 하얀설탕 15kg',
 '크레잇 육질탄탄 베이컨1kg',
 '해쉬브라운 냉동감자 1.2kg',
 '케이준프라이 냉동감자 2kg',
 '아메리칸 핫도그용 포크소시지 950g',
 '크레잇 꼬마핫도그 1.25kg(50gX 25개)',
 '크레잇 로스트 핫윙 1kg',
 '백설 하얀설탕 5kg',
 '백설 2배사과식초 1.8L',
 '해찬들 재래식된장 3kg',
 '하선정 통오이지 1kg',
 '백설 콩기름 3.6L',
 '백설 갈색설탕 5Kg',
 '크레잇 으라차차 버거패티1kg',
 '크레잇 생활반찬 꼬마돈카츠 1kg',
 '크레잇 로스트 핫봉 1kg',
 '해찬들 사계절쌈장 3kg',
 '크레잇 미니크리스피핫도그 500g',
 '크레잇 찹쌀등심탕수육 스틱형1kg',
 '백설 콩기름 1.5L',
 '크레잇 육질쫀득 후랑크1kg',
 '울트라레귤러컷 냉동감자 2kg',
 '크레잇 고소담백햄(슬라이스) 500g',
 '크레잇 떡갈비스테이크1kg',
 '크레잇 바삭통김말이1.4Kg',
 '백설 갈색설탕 15kg',
 '해찬들 100% 우리쌀 매운 태양초 고추장 3kg',
 '크레잇 주먹떡갈비 960g',
 '크레잇바삭한입김말이1kg',
 '크레잇 한판치킨까스1.45kg',
 '백설 요리 올리고당 2.45kg',
 '크레잇 으라차차 두부너비아니1kg',
 '아메리칸 와플믹스 10kg',
 '크레잇 으라차차 불고기맛함박1.3kg',
 '크레잇 유연한소불고기 500g',
 '백설 맥아물엿 5kg',
 '백설 브라운 자일로스 설탕 5Kg',
 '크레잇 구이한판 400g',
 '크레잇 유연한LA양념갈비 500g',
 '백설 옥수수전분 20kg',
 '크레잇 탕수육 1kg',
 '하선정 알찬 알마늘 1kg',
 '백설 하얀 자일로스 설탕 5kg',
 '배터믹스20kg',
 '다시다 쇠고기 25kg',
 '하선정 장아찌 1kg',
 '크레잇 김치손만두 2kg',
 '중력 밀가루 10kg',
 '하선정 까나리액젓 실속형 3kg',
 '해찬들 태양초고추장 6.5kg',
 '강력 밀가루 20kg',
 '크레잇 그릴후랑크 660g',
 '백설 아이미 1kg',
 '하선정 멸치액젓 실속형 9kg',
 '백설 프락토 올리고당 2.45kg',
 '크레잇 고깃집맛 소금구이1.05kg',
 '크레잇 소보로 순살치킨1kg',
 '중화면용 고급면골드 밀가루 20kg',
 '해찬들 사계절쌈장 골드 14kg',
 '크레잇 맛밤고구마인스틱 1.056kg',
 '크레잇 맛밤송송 함박스테이크1kg',
 '요리당2.45kg',
 '백설 올리고당을 더한 물엿 2.45kg',
 '백설 미풍 3kg',
 '고급면용1호 20kg',
 '해찬들 태양초고추장 14kg(캔)',
 '호도과자용가루5 11kg',
 '크레잇 복주머니딤섬 1kg',
 '크레잇 으라차차 미트볼 1kg',
 '크레잇 감자칩바삭카즈 1.5kg',
 '크레잇 전문점 햄치즈카츠 1.5kg',
 '쉐프솔루션 브로스햄 340gx20개(1BOX)',
 '크레잇 누룩치킨가라아게2kg',
 '하선정 까나리액젓 실속형 9kg',
 '백설 아이미 2kg',
 '해찬들 찰골드고추장 14kg',
 '백설 흑설탕 15kg',
 '크레잇 맛밤송송떡갈비1kg',
 '크레잇 김치왕교자1.05kg',
 '크레잇 고기왕교자1.05kg',
 '백설 치킨전용믹스순한맛 5kg',
 '크레잇 포자찐만두1.4kg',
 '크레잇 베이컨 1kg',
 '요리당5kg',
 '크레잇 햄야채볶음밥 280g',
 '쉐프솔루션 고기팡팡 미트볼1kg',
 '크레잇 생활반찬 고추송송 고기말이1kg']

In [77]:
# 리스트에 있으면 11
df['category_11'] = df['product_name'].apply(lambda x:11 if x in li_large else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_1,category_5,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,1,0,0,0,0,0,0,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,0,0,0,3,0,0,0,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,0,0,0,3,0,0,0,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,0,0,0,0,6,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,0,5,0,0,0,0,0,0,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,0,0,0,0,8,0,0,0

In [78]:
df[df['category_11']==11]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_1,category_5,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11
192,20230125160496,해찬들 새콤달콤 초고추장 1050g,1,8.529714,0,3,Y,1,2,1,...,0,0,0,0,0,0,0,0,0,11
194,20230120141066,크레잇 생활반찬 꼬마돈카츠 1kg,1,8.945202,1,4,N,0,4,1,...,0,0,0,0,0,0,0,0,0,11
1168,20230120141066,크레잇 육질쫀득 후랑크1kg,1,8.906664,1,4,N,0,4,1,...,0,0,0,0,0,0,0,0,0,11
1263,20230126163042,해쉬브라운 냉동감자 1.2kg,1,9.421897,1,4,Y,1,3,1,...,0,0,4,0,0,0,0,0,0,11
1323,20230116123719,크레잇 생활반찬 꼬마돈카츠 1kg,1,8.791942,1,3,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45299,20230101965559,크레잇 육질탄탄 베이컨1kg,1,9.358847,1,3,Y,1,6,0,...,0,0,0,0,0,0,0,0,0,11
45448,20230101971713,크레잇 생활반찬 꼬마돈카츠 1kg,1,8.906122,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,11
45643,20230122146771,크레잇 치킨가라아게 1kg,1,9.052399,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,11
45677,20230122146790,크레잇 치킨가라아게 1kg,1,9.031094,1,3,N,1,6,0,...,0,0,0,0,0,0,0,0,0,11
45751,20230101964628,백설 콩기름 3.6L,1,9.576025,0,4,Y,1,6,0,...,0,0,0,0,0,0,0,0,0,11

In [79]:
# 해찬들 새콤달콤 초고추장은 카테고리 10과 11 모두에 있다...

#### 밀키트

In [80]:
df_mealkit = pd.read_csv('crawling_cj0010.csv')
df_mealkit

    category                                          item
0         10            [쿡킷] 캠핑C세트 (새우가득 김치필라프+흑후추항정살스테이크)
1         10                   [지정일 택배배송][쿡킷] 새우 가득 김치 필라프
2         10                      [지정일 택배배송][쿡킷] 부채살 찹스테이크
3         10                          [지정일 택배배송][쿡킷] 밀푀유나베
4         10              [쿡킷] 캠핑B세트 (얼큰 소고기샤브샤브+우삼겹순두부찌개)
5         10                       [지정일 택배배송][쿡킷] 우삼겹순두부찌개
6         10                         [지정일 택배배송][쿡킷] 달래된장전골
7         10                     [지정일 택배배송][쿡킷] 얼큰 소고기샤브샤브
8         10                              육수가득 소불고기 전골_밀키트
9         10                        [지정일 택배배송][쿡킷] 육개장 칼국수
10        10                          [지정일 택배배송][쿡킷] 사골황태국
11        10                         [지정일 택배배송][쿡킷] 버섯소불고기
12        10                          [지정일 택배배송][쿡킷] 소고기뭇국
13        10                        [지정일 택배배송][쿡킷] 토마토비프스튜
14        10                [쿡킷] 캠핑A세트 (청경채 소고기볶음+토마토비프스튜)
15        10                                 완도 전복 미역국_밀키트
16        10                         [지정일 택배배송][쿡킷] 시래기된장국
17        10                   [지정일 택배배송][쿡킷] 흑후추 항정살 스테이크
18        10                        [지정일 택배배송][쿡킷] 우삼겹샤브샤브
19        10                      [지정일 택배배송][쿡킷] 청경채 소고기볶음
20        10                       [지정일 택배배송][쿡킷] 수삼양지수육전골
21        10                        [지정일 택배배송][쿡킷] 소고기두부전골
22        10                      [지정일 택배배송][쿡킷] 얼큰소고기우거지탕
23        10                      [지정일 택배배송][쿡킷] 스팸리치치즈존슨탕
24        10               [지정일 택배배송][쿡킷] 더건강한 닭가슴살 토마토리조또
25        10                  [지정일 택배배송][쿡킷] 칼칼한 순두부 스팸김치찜
26        10                                  스페인식 감바스_밀키트
27        10  [택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)
28        10                           얼큰 버섯 비비고 만두 전골_밀키트
29        10                             트러플 부채살 찹스테이크_밀키트
30        10  [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)
31        10                           해물 짬뽕 비비고 만두 전골_밀키트
32        10                                  얼큰시원 동태탕_밀키트
33        10                                 스팸듬뿍 부대찌개_밀키트
34        10                       [지정일 택배배송][쿡킷] 평양식 어복쟁반
35        10              탱글탱글 불쭈꾸미볶음_밀키트(유통기한 : 23.08.01)

In [81]:
li_mealkit = list(df_mealkit['item'].unique())
li_mealkit

['[쿡킷] 캠핑C세트 (새우가득 김치필라프+흑후추항정살스테이크)',
 '[지정일 택배배송][쿡킷] 새우 가득 김치 필라프',
 '[지정일 택배배송][쿡킷] 부채살 찹스테이크',
 '[지정일 택배배송][쿡킷] 밀푀유나베',
 '[쿡킷] 캠핑B세트 (얼큰 소고기샤브샤브+우삼겹순두부찌개)',
 '[지정일 택배배송][쿡킷] 우삼겹순두부찌개',
 '[지정일 택배배송][쿡킷] 달래된장전골',
 '[지정일 택배배송][쿡킷] 얼큰 소고기샤브샤브',
 '육수가득 소불고기 전골_밀키트',
 '[지정일 택배배송][쿡킷] 육개장 칼국수',
 '[지정일 택배배송][쿡킷] 사골황태국',
 '[지정일 택배배송][쿡킷] 버섯소불고기',
 '[지정일 택배배송][쿡킷] 소고기뭇국',
 '[지정일 택배배송][쿡킷] 토마토비프스튜',
 '[쿡킷] 캠핑A세트 (청경채 소고기볶음+토마토비프스튜)',
 '완도 전복 미역국_밀키트',
 '[지정일 택배배송][쿡킷] 시래기된장국',
 '[지정일 택배배송][쿡킷] 흑후추 항정살 스테이크',
 '[지정일 택배배송][쿡킷] 우삼겹샤브샤브',
 '[지정일 택배배송][쿡킷] 청경채 소고기볶음',
 '[지정일 택배배송][쿡킷] 수삼양지수육전골',
 '[지정일 택배배송][쿡킷] 소고기두부전골',
 '[지정일 택배배송][쿡킷] 얼큰소고기우거지탕',
 '[지정일 택배배송][쿡킷] 스팸리치치즈존슨탕',
 '[지정일 택배배송][쿡킷] 더건강한 닭가슴살 토마토리조또',
 '[지정일 택배배송][쿡킷] 칼칼한 순두부 스팸김치찜',
 '스페인식 감바스_밀키트',
 '[택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)',
 '얼큰 버섯 비비고 만두 전골_밀키트',
 '트러플 부채살 찹스테이크_밀키트',
 '[택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)',
 '해물 짬뽕 비비고 만두 전골_밀키트',
 '얼큰시원 동태탕_밀키트',
 '스팸듬뿍 부대찌개_밀키트',
 '[지정일 택배배송][쿡킷] 평양식 어복쟁반',
 '탱글탱글 불쭈꾸미볶음_밀키트(유통기한 : 23.08.01)']

In [82]:
# 리스트에 있으면 7
df['category_7'] = df['product_name'].apply(lambda x: 7 if x in li_mealkit else 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_5,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,0,0,3,0,0,0,0,0,0,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,0,0,3,0,0,0,0,0,0,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,0,0,0,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,5,0,0,0,0,0,0,0,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,0,0,0,8,0,0,0,0

In [83]:
# 하나도 없다...
df[df['category_7']==7]

Empty DataFrame
Columns: [scd, product_name, net_order_qty, net_order_amt, gender, age_grp, employee_yn, prime_yn, weekday, weekday2, event_product, row_num, category_10, category_1, category_5, category_4, category_3, category_12, category_6, category_8, category_2, category_9, category_11, category_7]
Index: []

[0 rows x 24 columns]

In [84]:
df.columns

Index(['scd', 'product_name', 'net_order_qty', 'net_order_amt', 'gender',
       'age_grp', 'employee_yn', 'prime_yn', 'weekday', 'weekday2',
       'event_product', 'row_num', 'category_10', 'category_1', 'category_5',
       'category_4', 'category_3', 'category_12', 'category_6', 'category_8',
       'category_2', 'category_9', 'category_11', 'category_7'],
      dtype='object')

In [85]:
# category 1~12 합치기
df['category'] = df['category_1'] + df['category_2'] + df['category_3'] +df['category_4'] + df['category_5'] + df['category_6'] + df['category_7'] + df['category_8'] + df['category_9'] + df['category_10'] + df['category_11'] + df['category_12']
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,0,3,0,0,0,0,0,0,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,0,3,0,0,0,0,0,0,0,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,0,0,6,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,0,0,0,0,0,0,0,0,0,5
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,0,0,8,0,0,0,0,8

In [86]:
# category 1~12 없애기
# df.drop(['category_10', 'category_1', 'category_5',
#       'category_4', 'category_3', 'category_12', 'category_6', 'category_8',
#       'category_2', 'category_9', 'category_11', 'category_7'], axis=1, inplace = True)
# df
# 나중에 해야한다. 우선 중복되는 카테고리 해결

In [87]:
# 크롤링이 잡지 못한 것들 알아보기
# 21991으로 너무 많다...
# 1월과 많이 바꼈네ㅠㅠ
df[df['category']==0]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,0
12,20230125160689,가쓰오얼큰우동2인분,1,8.543056,1,3,Y,1,2,1,...,0,0,0,0,0,0,0,0,0,0
23,20230111077114,해찬들 우리쌀로 만든 태양초골드고추장 2kg,1,9.759964,0,3,N,0,2,1,...,0,0,0,0,0,0,0,0,0,0
27,20230127178915,미트마스터 한돈 삼겹살 300g x 2팩_패밀리데이,1,10.226585,1,3,Y,1,4,1,...,0,0,0,0,0,0,0,0,0,0
42,20230125156200,비비고 꼬리곰탕 460gx2개,1,9.503383,1,3,Y,1,2,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45865,20230102973798,CJ명가 한식간장김자반 50g*2EA,1,8.288786,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45867,20230102974273,비비고 사골순댓국 460g,10,10.518646,1,4,N,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,0

## 논란거리
- 카테고리가 중복으로 있는 제품이 몇 개 있다

In [88]:
df.columns

Index(['scd', 'product_name', 'net_order_qty', 'net_order_amt', 'gender',
       'age_grp', 'employee_yn', 'prime_yn', 'weekday', 'weekday2',
       'event_product', 'row_num', 'category_10', 'category_1', 'category_5',
       'category_4', 'category_3', 'category_12', 'category_6', 'category_8',
       'category_2', 'category_9', 'category_11', 'category_7', 'category'],
      dtype='object')

In [89]:
df.iloc[:,12:24]

,category_10,category_1,category_5,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7
0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,3,0,0,0,0,0,0,0
3,0,0,0,0,3,0,0,0,0,0,0,0
4,0,0,0,0,0,0,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,0,0,0,0,0,0,0,0,0,0,0,0
45871,0,0,0,0,0,0,0,0,0,0,0,0
45872,0,0,0,0,0,0,0,0,0,0,0,0
45873,0,0,5,0,0,0,0,0,0,0,0,0
45874,0,0,0,0,0,0,0,8,0,0,0,0

In [90]:
# 카테고리에 중복이 있는 행의 인덱스 추출
list= []
for i in range(0,45875):
    if df.iloc[i,12:24].values.tolist().count(0) < 11:
        list.append(i)

In [91]:
list

[18,
 66,
 77,
 85,
 95,
 118,
 158,
 160,
 180,
 192,
 228,
 332,
 476,
 522,
 1217,
 1263,
 1284,
 1287,
 1306,
 1308,
 1368,
 1408,
 1477,
 1571,
 1589,
 1682,
 2463,
 2862,
 3040,
 3075,
 3077,
 3117,
 3138,
 3166,
 3263,
 3445,
 3688,
 4064,
 4099,
 4121,
 4175,
 4199,
 4231,
 4254,
 4293,
 4295,
 4433,
 4480,
 4486,
 4498,
 4865,
 4900,
 4920,
 5099,
 5100,
 5102,
 5107,
 5134,
 6302,
 6316,
 6331,
 6372,
 6410,
 6465,
 6484,
 6516,
 6518,
 6570,
 6656,
 6678,
 6730,
 6805,
 7095,
 7113,
 7115,
 7116,
 7126,
 7334,
 7428,
 7465,
 7639,
 8904,
 10225,
 10622,
 10635,
 10661,
 10699,
 10857,
 10880,
 10889,
 12082,
 12087,
 12107,
 12126,
 12183,
 12187,
 12188,
 12239,
 13696,
 13723,
 13740,
 13747,
 13772,
 13809,
 14000,
 14011,
 14018,
 14027,
 14078,
 14174,
 14240,
 14372,
 14484,
 14507,
 14639,
 14648,
 15058,
 15098,
 15132,
 15234,
 15273,
 15297,
 15349,
 15413,
 15526,
 15529,
 15549,
 15746,
 15761,
 15836,
 15948,
 16028,
 16375,
 16382,
 16460,
 16469,
 16541,
 16557,
 16588,
 16591,
 16610,
 16712,
 16742,
 16757,
 16758,
 17159,
 17289,
 17302,
 17596,
 17753,
 17759,
 17917,
 17931,
 17972,
 17984,
 17994,
 18000,
 18214,
 18231,
 18335,
 18415,
 18535,
 18588,
 18786,
 18787,
 18903,
 19079,
 19114,
 19166,
 19189,
 19199,
 19441,
 20041,
 20083,
 20103,
 20149,
 20226,
 20243,
 20322,
 20352,
 20358,
 20466,
 20482,
 20562,
 20683,
 20795,
 21409,
 21412,
 21419,
 21480,
 21502,
 21573,
 21607,
 21704,
 21715,
 21894,
 22118,
 22123,
 22134,
 22199,
 22234,
 22271,
 22304,
 22396,
 22505,
 22584,
 22592,
 22665,
 22831,
 22879,
 22957,
 22972,
 23016,
 23546,
 23549,
 23556,
 23590,
 23612,
 23631,
 23632,
 23645,
 23728,
 23804,
 23883,
 23994,
 24010,
 24069,
 24149,
 24526,
 24620,
 24655,
 24661,
 24699,
 24868,
 24900,
 25042,
 25118,
 25125,
 25193,
 25330,
 25419,
 25497,
 25572,
 26176,
 26186,
 26450,
 26709,
 26801,
 26802,
 26807,
 27366,
 27368,
 27380,
 27452,
 27681,
 27687,
 28015,
 28209,
 28289,
 28437,
 28465,
 28467,
 28534,
 28764,
 28805,
 28809,
 28823,
 28825,
 28862,
 28867,
 28882,
 28922,
 28933,
 28940,
 28989,
 29055,
 29064,
 29072,
 29084,
 29093,
 29152,
 29183,
 29284,
 29296,
 29307,
 29363,
 29364,
 29368,
 29381,
 29425,
 29429,
 29430,
 29439,
 29442,
 29445,
 29446,
 29468,
 29509,
 29510,
 29524,
 29547,
 29616,
 29621,
 29627,
 29633,
 29664,
 29682,
 29688,
 29703,
 30125,
 30153,
 30160,
 30169,
 30173,
 30174,
 30323,
 30471,
 30574,
 30643,
 30749,
 30927,
 31065,
 31135,
 31156,
 31197,
 31240,
 31298,
 31308,
 31346,
 31356,
 31360,
 31375,
 31418,
 31439,
 31463,
 31479,
 31535,
 31542,
 31553,
 31555,
 31557,
 31559,
 31566,
 31589,
 31592,
 31625,
 31655,
 31740,
 31788,
 32112,
 32119,
 32177,
 32180,
 32214,
 32501,
 32810,
 33299,
 33669,
 33697,
 34134,
 34146,
 34150,
 34151,
 34168,
 34181,
 34192,
 34195,
 34215,
 34231,
 34246,
 34263,
 34266,
 34438,
 34440,
 34453,
 34455,
 34456,
 34461,
 34472,
 34476,
 34491,
 34495,
 34516,
 34543,
 34567,
 34569,
 34587,
 34761,
 34777,
 34799,
 34802,
 34808,
 34833,
 34835,
 34855,
 34862,
 34871,
 34872,
 34903,
 34905,
 34907,
 34916,
 34920,
 34941,
 34968,
 35068,
 35092,
 35402,
 35436,
 35555,
 35561,
 35584,
 35693,
 35703,
 35725,
 35728,
 35780,
 36183,
 36192,
 36195,
 36271,
 36494,
 36541,
 36739,
 36752,
 37056,
 37203,
 37253,
 37263,
 37277,
 37292,
 37296,
 37314,
 37319,
 37347,
 37372,
 37374,
 37384,
 37390,
 37408,
 37421,
 37430,
 37466,
 37482,
 37653,
 37675,
 37681,
 37759,
 37760,
 37814,
 37831,
 38100,
 38569,
 38697,
 38711,
 38719,
 38905,
 39279,
 39296,
 39368,
 39377,
 39379,
 39391,
 39446,
 39456,
 39461,
 39488,
 39494,
 39499,
 39506,
 39518,
 39522,
 39534,
 39559,
 39574,
 39577,
 39588,
 39600,
 39601,
 39602,
 39641,
 39645,
 39685,
 39734,
 39782,
 39813,
 40134,
 40725,
 40869,
 41116,
 41138,
 41165,
 41204,
 41226,
 41228,
 41316,
 41318,
 41586,
 41650,
 41886,
 41902,
 41935,
 42008,
 42120,
 42124,
 42139,
 42151,
 42155,
 42169,
 42192,
 42220,
 42543,
 42546,
 42562,
 42636,
 42670,
 42676,
 42686,
 42851,
 42868,
 42871,
 42891,
 42898,
 42908,
 42925,
 42947,
 42972,
 42977,
 42994,
 43030,
 43043,
 43081,
 43090,
 43106,
 43338,
 43387,
 43397,
 43421,
 43484,
 43541,
 43543,
 43544,
 43576,
 43630,
 43831,
 43855,
 43912,
 44142,
 44311,
 44646,
 44662,
 44718,
 44747,
 44760,
 44776,
 45625,
 45816]

In [92]:
# 667개
df_2cat = df.iloc[list]
df_2cat
# 이 데이터 어떻게 할건지 정하기

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
18,20230124154184,고메 중화짬뽕 652g,8,10.614106,0,3,N,0,1,1,...,0,3,0,6,0,0,0,0,0,9
66,20230126166173,고메 중화짬뽕 652g,3,9.368198,0,4,N,1,3,1,...,0,3,0,6,0,0,0,0,0,9
77,20230111071784,고메 중화짬뽕 652g,2,9.140883,1,4,N,0,2,1,...,0,3,0,6,0,0,0,0,0,9
85,20230124151352,고메 중화짜장 760g,2,9.035511,0,4,N,0,1,1,...,0,3,0,6,0,0,0,0,0,9
95,20230123150007,고메 중화짬뽕 652g,3,10.038761,1,4,Y,0,0,1,...,0,3,0,6,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44747,20230103985075,고메 중화짜장 760g,3,9.767897,1,5,Y,1,1,1,...,0,3,0,6,0,0,0,0,0,9
44760,20230102977531,고메 중화짬뽕 652g,3,10.038761,1,4,Y,0,0,1,...,0,3,0,6,0,0,0,0,0,9
44776,20230103990705,고메 중화짬뽕 652g,1,8.892337,0,3,Y,1,1,1,...,0,3,0,6,0,0,0,0,0,9
45625,20230124152010,고메 중화짜장 760g,1,8.639234,1,4,N,0,1,1,...,0,3,0,6,0,0,0,0,0,9
45816,20230102972321,중화요리간짜장 2인분 630g,5,10.376175,1,5,Y,1,0,1,...,0,3,0,6,0,0,0,0,0,9

In [93]:
# 카테고리 중복 중 대용량이 포함된 것의 인덱스 리스트
li_2cat_11 = df_2cat[df_2cat['category_11']==11].index.tolist()
li_2cat_11

[192,
 1263,
 1682,
 2463,
 3138,
 3166,
 3688,
 4064,
 4199,
 4486,
 4498,
 6316,
 7334,
 7428,
 7465,
 10880,
 12107,
 13696,
 13809,
 14372,
 14484,
 14507,
 15098,
 15413,
 15526,
 15529,
 15549,
 16028,
 16712,
 17596,
 17753,
 18415,
 18535,
 18786,
 18787,
 18903,
 19079,
 19189,
 19199,
 20226,
 20482,
 20683,
 21409,
 21502,
 21573,
 21607,
 21715,
 22199,
 22304,
 22505,
 22584,
 22972,
 23016,
 23631,
 23804,
 23994,
 24149,
 24699,
 25193,
 25330,
 27452,
 28015,
 28209,
 28289,
 28437,
 28534,
 28805,
 29152,
 29296,
 29307,
 30125,
 30160,
 30471,
 30643,
 30927,
 31156,
 31418,
 31463,
 31557,
 31559,
 31655,
 32501,
 33299,
 33669,
 34181,
 34941,
 35092,
 35561,
 36739,
 36752,
 37203,
 37374,
 37421,
 37759,
 37760,
 38100,
 38569,
 38905,
 39279,
 39368,
 39377,
 39391,
 39641,
 40134,
 40725,
 40869,
 41318,
 41935,
 42008,
 42155,
 42192,
 42220,
 42562,
 42636,
 42851,
 42868,
 43576,
 44311]

In [94]:
# 해당 인덱스의 category_11 0으로 만들기
df.loc[li_2cat_11,'category_11'] = 0

In [95]:
# 해당 인덱스의 category 값에 -11 해주기
df.loc[li_2cat_11,'category'] = df.loc[li_2cat_11,'category'] - 11

In [96]:
df.loc[li_2cat_11]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
192,20230125160496,해찬들 새콤달콤 초고추장 1050g,1,8.529714,0,3,Y,1,2,1,...,0,0,0,0,0,0,0,0,0,10
1263,20230126163042,해쉬브라운 냉동감자 1.2kg,1,9.421897,1,4,Y,1,3,1,...,4,0,0,0,0,0,0,0,0,4
1682,20230126173720,해찬들 새콤달콤 초고추장 1050g,1,8.682877,1,5,N,0,3,1,...,0,0,0,0,0,0,0,0,0,10
2463,20230126171070,하선정 알찬 알마늘 1kg,1,9.238053,0,4,N,0,3,1,...,0,0,12,0,0,0,0,0,0,12
3138,20230127182036,해찬들 찰골드고추장 14kg,1,10.918193,0,5,Y,0,4,1,...,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42636,20230103986596,백설 옥수수전분 20kg,2,10.848968,1,4,Y,1,1,1,...,0,0,0,0,0,0,0,0,0,10
42851,20230102972779,케이준프라이 냉동감자 2kg,1,9.730978,0,3,Y,0,0,1,...,4,0,0,0,0,0,0,0,0,4
42868,20230101969328,해쉬브라운 냉동감자 1.2kg,1,9.421897,1,4,Y,1,6,0,...,4,0,0,0,0,0,0,0,0,4
43576,20230101969328,아메리칸 핫도그용 포크소시지 950g,1,9.089753,1,4,Y,1,6,0,...,0,0,0,0,0,0,0,0,0,1
44311,20230101971938,하선정 통오이지 1kg,1,9.038484,0,5,N,0,6,0,...,0,0,12,0,0,0,0,0,0,12

In [97]:
df_2cat.drop(li_2cat_11, inplace=True)

C:\Users\Mingyoo Son\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [98]:
df_2cat

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
18,20230124154184,고메 중화짬뽕 652g,8,10.614106,0,3,N,0,1,1,...,0,3,0,6,0,0,0,0,0,9
66,20230126166173,고메 중화짬뽕 652g,3,9.368198,0,4,N,1,3,1,...,0,3,0,6,0,0,0,0,0,9
77,20230111071784,고메 중화짬뽕 652g,2,9.140883,1,4,N,0,2,1,...,0,3,0,6,0,0,0,0,0,9
85,20230124151352,고메 중화짜장 760g,2,9.035511,0,4,N,0,1,1,...,0,3,0,6,0,0,0,0,0,9
95,20230123150007,고메 중화짬뽕 652g,3,10.038761,1,4,Y,0,0,1,...,0,3,0,6,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44747,20230103985075,고메 중화짜장 760g,3,9.767897,1,5,Y,1,1,1,...,0,3,0,6,0,0,0,0,0,9
44760,20230102977531,고메 중화짬뽕 652g,3,10.038761,1,4,Y,0,0,1,...,0,3,0,6,0,0,0,0,0,9
44776,20230103990705,고메 중화짬뽕 652g,1,8.892337,0,3,Y,1,1,1,...,0,3,0,6,0,0,0,0,0,9
45625,20230124152010,고메 중화짜장 760g,1,8.639234,1,4,N,0,1,1,...,0,3,0,6,0,0,0,0,0,9
45816,20230102972321,중화요리간짜장 2인분 630g,5,10.376175,1,5,Y,1,0,1,...,0,3,0,6,0,0,0,0,0,9

In [99]:
li_2cat_6 = df_2cat[df_2cat['category_6']==6].index.tolist()

In [100]:
# 해당 인덱스의 category_6 0으로 만들기
df.loc[li_2cat_6,'category_6'] = 0

In [101]:
# 해당 인덱스의 category 값에 -6 해주기
df.loc[li_2cat_6,'category'] = df.loc[li_2cat_6,'category'] - 6

In [102]:
df.loc[li_2cat_6]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
18,20230124154184,고메 중화짬뽕 652g,8,10.614106,0,3,N,0,1,1,...,0,3,0,0,0,0,0,0,0,3
66,20230126166173,고메 중화짬뽕 652g,3,9.368198,0,4,N,1,3,1,...,0,3,0,0,0,0,0,0,0,3
77,20230111071784,고메 중화짬뽕 652g,2,9.140883,1,4,N,0,2,1,...,0,3,0,0,0,0,0,0,0,3
85,20230124151352,고메 중화짜장 760g,2,9.035511,0,4,N,0,1,1,...,0,3,0,0,0,0,0,0,0,3
95,20230123150007,고메 중화짬뽕 652g,3,10.038761,1,4,Y,0,0,1,...,0,3,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44747,20230103985075,고메 중화짜장 760g,3,9.767897,1,5,Y,1,1,1,...,0,3,0,0,0,0,0,0,0,3
44760,20230102977531,고메 중화짬뽕 652g,3,10.038761,1,4,Y,0,0,1,...,0,3,0,0,0,0,0,0,0,3
44776,20230103990705,고메 중화짬뽕 652g,1,8.892337,0,3,Y,1,1,1,...,0,3,0,0,0,0,0,0,0,3
45625,20230124152010,고메 중화짜장 760g,1,8.639234,1,4,N,0,1,1,...,0,3,0,0,0,0,0,0,0,3
45816,20230102972321,중화요리간짜장 2인분 630g,5,10.376175,1,5,Y,1,0,1,...,0,3,0,0,0,0,0,0,0,3

In [103]:
df_2cat.drop(li_2cat_6,inplace=True)

C:\Users\Mingyoo Son\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [104]:
df_2cat

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
180,20230125160921,비비고칩 오리지널40g,3,8.923591,0,2,Y,0,2,1,...,4,0,12,0,0,0,0,0,0,16
1287,20230126162647,비비고칩 오리지널40g,1,7.227662,0,3,N,0,3,1,...,4,0,12,0,0,0,0,0,0,16
1308,20230126162647,비비고칩 포테이토40g,1,7.930566,0,3,N,0,3,1,...,4,0,12,0,0,0,0,0,0,16
1477,20230127177650,비비고칩 오리지널40g,2,7.934513,0,3,N,0,4,1,...,4,0,12,0,0,0,0,0,0,16
6465,20230126167774,비비고칩 오리지널40g,1,7.857868,1,5,N,1,3,1,...,4,0,12,0,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38697,20230126174986,비비고칩 포테이토40g,1,7.857868,1,5,N,1,3,1,...,4,0,12,0,0,0,0,0,0,16
39506,20230101970831,비비고칩 오리지널40g,1,7.777374,0,3,Y,1,6,0,...,4,0,12,0,0,0,0,0,0,16
39559,20230102974111,비비고칩 오리지널40g,1,7.419980,0,4,N,0,0,1,...,4,0,12,0,0,0,0,0,0,16
42871,20230102973672,비비고칩 오리지널40g,1,7.241366,0,4,N,1,0,1,...,4,0,12,0,0,0,0,0,0,16
44142,20230115106510,한뿌리 홍삼수 340mlX20개,1,9.845700,0,3,Y,1,6,0,...,0,0,0,0,8,0,9,0,0,17

In [105]:
# 4와 12 중복
# 12가 4보다 압도적으로 많음 따라서 12 지움
li_2cat_12 = df_2cat[df_2cat['category_12']==12].index.tolist()

In [106]:
# 해당 인덱스의 category_11 0으로 만들기
df.loc[li_2cat_12,'category_12'] = 0

In [107]:
# 해당 인덱스의 category 값에 -11 해주기
df.loc[li_2cat_12,'category'] = df.loc[li_2cat_12,'category'] - 12

In [108]:
df.loc[li_2cat_12]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
180,20230125160921,비비고칩 오리지널40g,3,8.923591,0,2,Y,0,2,1,...,4,0,0,0,0,0,0,0,0,4
1287,20230126162647,비비고칩 오리지널40g,1,7.227662,0,3,N,0,3,1,...,4,0,0,0,0,0,0,0,0,4
1308,20230126162647,비비고칩 포테이토40g,1,7.930566,0,3,N,0,3,1,...,4,0,0,0,0,0,0,0,0,4
1477,20230127177650,비비고칩 오리지널40g,2,7.934513,0,3,N,0,4,1,...,4,0,0,0,0,0,0,0,0,4
6465,20230126167774,비비고칩 오리지널40g,1,7.857868,1,5,N,1,3,1,...,4,0,0,0,0,0,0,0,0,4
12126,20230131216136,비비고칩 오리지널40g,1,7.825245,0,3,Y,0,1,1,...,4,0,0,0,0,0,0,0,0,4
13723,20230130209724,비비고칩 포테이토40g,1,7.825245,1,4,Y,0,0,1,...,4,0,0,0,0,0,0,0,0,4
13740,20230130209164,비비고칩 포테이토40g,1,7.825245,1,3,Y,0,0,1,...,4,0,0,0,0,0,0,0,0,4
13747,20230130209724,비비고칩 스위트콘40G,1,7.825245,1,4,Y,0,0,1,...,4,0,0,0,0,0,0,0,0,4
14011,20230113096525,비비고칩 오리지널40g,3,8.694167,1,2,Y,0,4,1,...,4,0,0,0,0,0,0,0,0,4
14240,20230113096525,비비고칩 포테이토40g,2,8.288786,1,2,Y,0,4,1,...,4,0,0,0,0,0,0,0,0,4
15132,20230114100679,비비고칩 오리지널40g,1,7.448916,1,2,Y,1,5,0,...,4,0,0,0,0,0,0,0,0,4
15234,20230114100679,비비고칩 포테이토40g,1,7.448916,1,2,Y,1,5,0,...,4,0,0,0,0,0,0,0,0,4
15297,20230116114477,비비고칩 오리지널40g,2,8.470311,1,3,Y,1,0,1,...,4,0,0,0,0,0,0,0,0,4
15746,20230130208939,비비고칩 오리지널40g,5,9.386476,1,3,Y,1,0,1,...,4,0,0,0,0,0,0,0,0,4
16588,20230117128465,비비고칩 오리지널40g,10,9.904537,1,4,Y,0,1,1,...,4,0,0,0,0,0,0,0,0,4
16742,20230117128465,비비고칩 포테이토40g,10,9.904537,1,4,Y,0,1,1,...,4,0,0,0,0,0,0,0,0,4
17994,20230131212907,비비고칩 포테이토40g,2,8.017308,0,4,N,1,1,1,...,4,0,0,0,0,0,0,0,0,4
20083,20230118136810,비비고칩 오리지널40g,2,8.040125,1,4,N,1,2,1,...,4,0,0,0,0,0,0,0,0,4
21419,20230113092405,비비고칩 오리지널40g,4,8.718827,1,4,N,0,4,1,...,4,0,0,0,0,0,0,0,0,4
22118,20230115112651,비비고칩 포테이토40g,2,8.518193,0,4,Y,0,6,0,...,4,0,0,0,0,0,0,0,0,4
22123,20230114100066,비비고칩 포테이토40g,1,7.475906,1,2,Y,1,5,0,...,4,0,0,0,0,0,0,0,0,4
22134,20230115104751,비비고칩 포테이토40g,1,7.273786,0,5,N,0,6,0,...,4,0,0,0,0,0,0,0,0,4
22396,20230114100066,비비고칩 오리지널40g,1,7.475906,1,2,Y,1,5,0,...,4,0,0,0,0,0,0,0,0,4
22665,20230115104751,비비고칩 오리지널40g,1,7.273786,0,5,N,0,6,0,...,4,0,0,0,0,0,0,0,0,4
23549,20230115105384,비비고칩 오리지널40g,2,8.169053,0,4,Y,1,6,0,...,4,0,0,0,0,0,0,0,0,4
23590,20230115105384,비비고칩 포테이토40g,2,8.169053,0,4,Y,1,6,0,...,4,0,0,0,0,0,0,0,0,4
23645,20230115105384,비비고칩 스위트콘40G,2,8.470311,0,4,Y,1,6,0,...,4,0,0,0,0,0,0,0,0,4
24620,20230116113465,비비고칩 오리지널40g,2,8.484257,1,2,Y,0,0,1,...,4,0,0,0,0,0,0,0,0,4
26802,20230115106510,비비고칩 오리지널40g,2,8.470311,0,3,Y,1,6,0,...,4,0,0,0,0,0,0,0,0,4
27366,20230116121287,비비고칩 포테이토40g,4,8.805825,0,4,N,0,0,1,...,4,0,0,0,0,0,0,0,0,4
28823,20230101965472,비비고칩 오리지널40g,1,7.295735,0,4,N,1,6,0,...,4,0,0,0,0,0,0,0,0,4
29284,20230101963891,비비고칩 오리지널40g,2,7.934513,0,3,N,1,6,0,...,4,0,0,0,0,0,0,0,0,4
29368,20230101966498,비비고칩 오리지널40g,2,8.142063,1,2,Y,1,6,0,...,4,0,0,0,0,0,0,0,0,4
29381,20230101966716,비비고칩 오리지널40g,1,7.314553,0,3,N,0,6,0,...,4,0,0,0,0,0,0,0,0,4
30153,20230102975432,비비고칩 오리지널40g,1,7.825245,0,2,Y,0,0,1,...,4,0,0,0,0,0,0,0,0,4
30173,20230103986939,비비고칩 스위트콘40G,1,7.777374,0,2,Y,1,1,1,...,4,0,0,0,0,0,0,0,0,4
30323,20230126164440,비비고칩 오리지널40g,2,8.550821,0,4,N,1,3,1,...,4,0,0,0,0,0,0,0,0,4
31135,20230126173610,비비고칩 오리지널40g,1,7.668094,0,5,N,0,3,1,...,4,0,0,0,0,0,0,0,0,4
31197,20230126173610,비비고칩 스위트콘40G,1,7.668094,0,5,N,0,3,1,...,4,0,0,0,0,0,0,0,0,4
31240,20230126173610,비비고칩 포테이토40g,1,7.668561,0,5,N,0,3,1,...,4,0,0,0,0,0,0,0,0,4
31308,20230101965635,비비고칩 오리지널40g,1,7.241366,0,3,N,1,6,0,...,4,0,0,0,0,0,0,0,0,4
31535,20230101969721,비비고칩 스위트콘40G,2,8.518193,1,4,Y,0,6,0,...,4,0,0,0,0,0,0,0,0,4
31542,20230101969721,비비고칩 오리지널40g,2,8.518193,1,4,Y,0,6,0,...,4,0,0,0,0,0,0,0,0,4
31553,20230101966975,비비고칩 오리지널40g,2,8.207947,0,3,Y,0,6,0,...,4,0,0,0,0,0,0,0,0,4
31555,20230101965883,비비고칩 오리지널40g,2,7.934513,1,4,N,1,6,0,...,4,0,0,0,0,0,0,0,0,4
34246,20230101969475,비비고칩 오리지널40g,4,8.681690,0,4,N,1,6,0,...,4,0,0,0,0,0,0,0,0,4
34777,20230101968510,비비고칩 오리지널40g,1,7.825245,1,2,Y,0,6,0,...,4,0,0,0,0,0,0,0,0,4
34833,20230101970228,비비고칩 오리지널40g,1,7.241366,0,4,N,1,6,0,...,4,0,0,0,0,0,0,0,0,4
34855,20230103986939,비비고칩 오리지널40g,2,8.470311,0,2,Y,1,1,1,...,4,0,0,0,0,0,0,0,0,4
34872,20230103986939,비비고칩 포테이토40g,1,7.777374,0,2,Y,1,1,1,...,4,0,0,0,0,0,0,0,0,4
35402,20230126174113,비비고칩 오리지널40g,2,8.470311,1,3,Y,1,3,1,...,4,0,0,0,0,0,0,0,0,4
35725,20230126174113,비비고칩 포테이토40g,1,7.777374,1,3,Y,1,3,1,...,4,0,0,0,0,0,0,0,0,4
38697,20230126174986,비비고칩 포테이토40g,1,7.857868,1,5,N,1,3,1,...,4,0,0,0,0,0,0,0,0,4
39506,20230101970831,비비고칩 오리지널40g,1,7.777374,0,3,Y,1,6,0,...,4,0,0,0,0,0,0,0,0,4
39559,20230102974111,비비고칩 오리지널40g,1,7.419980,0,4,N,0,0,1,...,4,0,0,0,0,0,0,0,0,4
42871,20230102973672,비비고칩 오리지널40g,1,7.241366,0,4,N,1,0,1,...,4,0,0,0,0,0,0,0,0,4

In [109]:
df_2cat.drop(li_2cat_12,inplace=True)

C:\Users\Mingyoo Son\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [110]:
# 8과 9 중에는 9 제거 왜냐하면 더 많음 데이터가
li_2cat_9 = df_2cat[df_2cat['category_9']==9].index.tolist()

In [111]:
# 해당 인덱스의 category_11 0으로 만들기
df.loc[li_2cat_9,'category_9'] = 0

In [112]:
# 해당 인덱스의 category 값에 -11 해주기
df.loc[li_2cat_9,'category'] = df.loc[li_2cat_9,'category'] - 9

In [113]:
df.loc[li_2cat_9]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
21894,20230113092568,한뿌리 홍삼수 340ml,5,8.020928,1,4,N,1,4,1,...,0,0,0,0,8,0,0,0,0,8
22831,20230113089485,한뿌리 홍삼수 340mlX20개,1,9.893488,1,4,Y,0,4,1,...,0,0,0,0,8,0,0,0,0,8
22879,20230115104087,한뿌리 홍삼수 340mlX20개,2,10.538820,0,4,Y,1,6,0,...,0,0,0,0,8,0,0,0,0,8
28467,20230116122566,한뿌리 홍삼수 340ml,3,7.592366,0,4,Y,1,0,1,...,0,0,0,0,8,0,0,0,0,8
30574,20230117131738,한뿌리 홍삼수 340ml,5,8.103494,0,4,Y,1,1,1,...,0,0,0,0,8,0,0,0,0,8
37056,20230116122623,한뿌리 홍삼수 340mlX20개,1,9.998843,0,5,N,0,0,1,...,0,0,0,0,8,0,0,0,0,8
44142,20230115106510,한뿌리 홍삼수 340mlX20개,1,9.845700,0,3,Y,1,6,0,...,0,0,0,0,8,0,0,0,0,8

In [114]:
df_2cat.drop(li_2cat_9,inplace=True)
df_2cat

C:\Users\Mingyoo Son\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
14639,20230113090605,이츠웰 빵가루왕새우튀김300gx3개,2,10.005006,1,3,Y,1,4,1,...,0,3,0,0,0,2,0,0,0,5
14648,20230113088160,이츠웰 빵가루왕새우튀김300gx3개,1,9.311904,1,2,Y,1,4,1,...,0,3,0,0,0,2,0,0,0,5
21704,20230113094380,이츠웰 빵가루코코넛새우튀김200gx3개,2,10.203629,0,3,Y,0,4,1,...,0,3,0,0,0,2,0,0,0,5

In [115]:
# 3과 2 중에서는 3 제거
li_2cat_3 = df_2cat.index.tolist()
li_2cat_3

[14639, 14648, 21704]

In [116]:
# 해당 인덱스의 category_11 0으로 만들기
df.loc[li_2cat_3,'category_3'] = 0

In [117]:
# 해당 인덱스의 category 값에 -11 해주기
df.loc[li_2cat_3,'category'] = df.loc[li_2cat_3,'category'] - 3

In [118]:
df.loc[li_2cat_3]

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
14639,20230113090605,이츠웰 빵가루왕새우튀김300gx3개,2,10.005006,1,3,Y,1,4,1,...,0,0,0,0,0,2,0,0,0,2
14648,20230113088160,이츠웰 빵가루왕새우튀김300gx3개,1,9.311904,1,2,Y,1,4,1,...,0,0,0,0,0,2,0,0,0,2
21704,20230113094380,이츠웰 빵가루코코넛새우튀김200gx3개,2,10.203629,0,3,Y,0,4,1,...,0,0,0,0,0,2,0,0,0,2

In [119]:
# 전부 처리 완료

## 나머지 데이터 카테고리화

In [120]:
# 배정되지 않은 카테고리
# list_10 첫번째
list_11 = ['1kg', '15kg', '2kg', '3.6L', '5kg', '1.8L', '1.2kg', '1.4kg', '1.5L', '1.25kg', '3kg', '20kg', '6.5kg', 
           '14kg', '1.05kg', '1.45kg', '2.45kg', '11kg', '1.3kg', '9kg', '25kg']
# list_6 두번째
list_10 = ['포도씨유', '양념', '올리브유', '쌈장', '소스', '다진마늘', '고추장', '참치액', '가루', '기름', '맛술',
          '드레싱', '시즈닝', '카놀라유', '간장', '올리브유', '다시마', '요리유', '비빔장', '된장', '식초', '다시다',
          '올리고당', '설탕', '액젓', '믹스', '천일염', '참깨', '굴소스', '가루', '옥수수유', '해바라기씨유', '쌀엿']
# list_8 세번째
list_2 = ['오리', '배', '고구마', '망고', '블루베리', '오렌지', '양갈비', '육포', '랍스터', '삼겹살', '목심살', '사과', 
          '토마토', '키위', '매실', '항정살', '한우', '청도', '스위트콘', '대추', '명란젓', '새우튀김', '황도', '양파', 
          '갈비','감자', '한돈', '날개', '닭', '야자', '버섯', '멜론']

list_6 = ['햇반', '죽', '냉면', '짬뽕', '동치미', '메밀', '우동', '잡채', '짜장', '밀면', '파스타', '쌀국수', 
          '야끼소바', '콩국수', '소면', '당면', '죽', '스파게티', '덮밥', '쫄면', '수프', '마라탕', '리조또', 
          '떡볶이떡', '칼국수', '뇨끼', '밸런스밀', '병아리콩']
list_12 = ['김치', '구이', '탕', '미역국', '육개장', '국물', '두부', '찌개', '무국', '국', '김', '유부', '단무지', 
          '메추리알', '쌈무', '볶음', '어묵', '조림', '밥이랑', '육수', '조림', '마늘', '란', '오이지', '장아찌']
list_3 = ['피자', '치킨', '교자', '순살', '너겟', '만두', '탕수육', '봉', '구이', '윙', '칠리새우', '깐풍기', 
          '닭강정', '새우튀김']
list_4 = ['츄러스', '밤', '핫도그', '쁘띠첼', '떡볶이' '바삭칩', '맥스봉', '핫랩', '면볶이', '고메 베이커리', 
          '냉동감자', '팝콘', '찹쌀떡', '스크림', '아몬드']
list_5 = ['스테이크', '카츠', '미트볼', '떡갈비', '동그랑땡', '까스', '불고기', '완자', '너비아니', '고기말이', '바베큐바']
list_1 = ['닭가슴살', '햄', '베이컨', '후랑크', '비엔나', '스팸', '통삼겹', '소시지', '킬바사', '더블에이징', '부어스트', '']
list_8 = ['오메가', '루테인', '유산균', '영양', '전립소', '비타민', '팻다운', '리턴업', '바이오코어', '홍삼', '흑삼',
          '콜라겐', '멀티', '배도라지', '양배추', '한뿌리', '닥터뉴트리', '환심']
list_9 = ['아이시스', '트레비', '삼다수', '콜라', '석류', '토레타', '컨디션', '사이다', '얼티브', 'W차', '파우더', '청', 
          '미초', '커피', '시럽', '식혜', '아이누리', '플리또', '메티에', '보리']
list_7 = ['쿡킷', '밀키트']

In [121]:
list_10 = '|'.join(list_10)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_10)), ['category_10','category']] = 10
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,0,3,0,0,0,0,0,0,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,0,3,0,0,0,0,0,0,0,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,0,0,6,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,10
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,10
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,0,0,0,0,0,0,0,0,0,5
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,0,0,8,0,0,0,0,8

In [122]:
list_6 = '|'.join(list_6)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_6)), ['category_6','category']] = 6

In [123]:
list_8 = '|'.join(list_8)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_8)), ['category_8','category']] = 8

In [124]:
list_12 = '|'.join(list_12)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_12)), ['category_12','category']] = 12

In [125]:
list_1 = '|'.join(list_1)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_1)), ['category_1','category']] = 1

In [126]:
list_2 = '|'.join(list_2)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_2)), ['category_2','category']] = 2

In [127]:
list_3 = '|'.join(list_3)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_3)), ['category_3','category']] = 3

In [128]:
list_4 = '|'.join(list_4)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_4)), ['category_4','category']] = 4

In [129]:
list_5 = '|'.join(list_5)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_5)), ['category_5','category']] = 5

In [130]:
list_7 = '|'.join(list_7)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_7)), ['category_7','category']] = 7

In [131]:
list_9 = '|'.join(list_9)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_9)), ['category_8','category']] = 9

In [132]:
list_11 = '|'.join(list_11)
df.loc[(df['category']==0)&(df['product_name'].str.contains(list_11)), ['category_11','category']] = 11

In [133]:
# 카테고리화 완료
df[df['category']==0]

Empty DataFrame
Columns: [scd, product_name, net_order_qty, net_order_amt, gender, age_grp, employee_yn, prime_yn, weekday, weekday2, event_product, row_num, category_10, category_1, category_5, category_4, category_3, category_12, category_6, category_8, category_2, category_9, category_11, category_7, category]
Index: []

[0 rows x 25 columns]

- 1 = 스팸/닭가슴살/소시지
- 2 = 신선식품
- 3 = 만두/피자/치킨
- 4 = 핫도그/떡볶이/간식
- 5 = 돈까스/함박/구이
- 6 = 밥/죽/면
- 7 = 밀키트
- 8 = 건강식품
- 9 = 음료/생수/시럽
- 10 = 양념/소스/가루/오일
- 11 = 대용량 식자제
- 12 = 국/김치/김/반찬/두부

In [134]:
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,0,3,0,0,0,0,0,0,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,0,3,0,0,0,0,0,0,0,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,0,0,6,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,0,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,0,10
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,0,10
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,0,0,0,0,0,0,0,0,0,5
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,0,0,8,0,0,0,0,8

In [135]:
# category 1~12 없애기
#df.drop(['category_10', 'category_1', 'category_5',
#       'category_4', 'category_3', 'category_12', 'category_6', 'category_8',
#       'category_2', 'category_9', 'category_11', 'category_7'], axis=1,inplace=True)
#df

In [136]:
# 카테고리 개수

## 주문번호별 합치기

In [ ]:
df_group = df.groupby('scd').sum()

In [145]:
# 데이터 타입을 int로 바꿔주기
df_group[['gender','age_grp','prime_yn','weekday','weekday2']] = df_group[['gender','age_grp','prime_yn','weekday','weekday2']].astype(int)
df_group

,net_order_qty,net_order_amt,gender,age_grp,prime_yn,weekday,weekday2,event_product,row_num,category_10,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
scd,,,,,,,,,,,,,,,,,,,,,
20230101963226,6,39.433806,1,3,0,6,0,0,4,0,...,0,0,0,24,0,0,0,0,0,24
20230101963235,2,19.234566,0,4,1,6,0,2,2,0,...,0,0,12,0,0,0,0,0,0,13
20230101963244,3,10.234373,0,4,1,6,0,0,1,0,...,0,3,0,0,0,0,0,0,0,3
20230101963247,6,45.516855,1,3,1,6,0,0,5,0,...,0,6,24,0,0,0,0,0,0,31
20230101963251,2,10.845621,0,3,1,6,0,0,1,0,...,0,0,0,0,0,0,9,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0,4,0,1,1,0,2,0,...,4,0,0,0,0,0,0,0,0,9
20230131216771,2,9.125762,0,4,1,1,1,0,1,0,...,0,0,12,0,0,0,0,0,0,12
20230131216842,1,10.176411,1,3,0,1,1,0,1,0,...,0,0,0,6,0,0,0,0,0,6
20230131216844,8,44.927942,0,4,0,1,1,0,5,20,...,4,0,0,0,0,0,0,0,0,26
20230131216857,5,43.364081,1,5,1,1,1,4,5,10,...,0,0,0,12,0,0,9,0,0,32

In [157]:
df_group.reset_index(inplace=True)
df_group

,scd,net_order_qty,net_order_amt,gender,age_grp,prime_yn,weekday,weekday2,event_product,row_num,...,category_4,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category
0,20230101963226,6,39.433806,1,3,0,6,0,0,4,...,0,0,0,24,0,0,0,0,0,24
1,20230101963235,2,19.234566,0,4,1,6,0,2,2,...,0,0,12,0,0,0,0,0,0,13
2,20230101963244,3,10.234373,0,4,1,6,0,0,1,...,0,3,0,0,0,0,0,0,0,3
3,20230101963247,6,45.516855,1,3,1,6,0,0,5,...,0,6,24,0,0,0,0,0,0,31
4,20230101963251,2,10.845621,0,3,1,6,0,0,1,...,0,0,0,0,0,0,9,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10648,20230131216756,3,18.314758,0,4,0,1,1,0,2,...,4,0,0,0,0,0,0,0,0,9
10649,20230131216771,2,9.125762,0,4,1,1,1,0,1,...,0,0,12,0,0,0,0,0,0,12
10650,20230131216842,1,10.176411,1,3,0,1,1,0,1,...,0,0,0,6,0,0,0,0,0,6
10651,20230131216844,8,44.927942,0,4,0,1,1,0,5,...,4,0,0,0,0,0,0,0,0,26
10652,20230131216857,5,43.364081,1,5,1,1,1,4,5,...,0,0,0,12,0,0,9,0,0,32

- 중복 2 -> 0 10개 -12 = -2
- 중복 3 -> 0 9개 -12 = -3
- 중복 x -> 0 11개 -12 = -1

- 이런식이다. 따라서 0의 갯수를 세어주고 12를 빼고 -1을 곱해주면 카테고리의 종류 개수가 나온다

In [175]:
for i in range(0,10653):
    df_group.loc[i,'category_count'] = df_group.loc[i,['category_10', 'category_1', 'category_5','category_4', 'category_3', 'category_12', 'category_6', 'category_8','category_2', 'category_9', 'category_11', 'category_7']].values.tolist().count(0) - 12

In [177]:
df_group['category_count'] = df_group['category_count']*(-1)
df_group

,scd,net_order_qty,net_order_amt,gender,age_grp,prime_yn,weekday,weekday2,event_product,row_num,...,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category,category_count
0,20230101963226,6,39.433806,1,3,0,6,0,0,4,...,0,0,24,0,0,0,0,0,24,1
1,20230101963235,2,19.234566,0,4,1,6,0,2,2,...,0,12,0,0,0,0,0,0,13,2
2,20230101963244,3,10.234373,0,4,1,6,0,0,1,...,3,0,0,0,0,0,0,0,3,1
3,20230101963247,6,45.516855,1,3,1,6,0,0,5,...,6,24,0,0,0,0,0,0,31,3
4,20230101963251,2,10.845621,0,3,1,6,0,0,1,...,0,0,0,0,0,9,0,0,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10648,20230131216756,3,18.314758,0,4,0,1,1,0,2,...,0,0,0,0,0,0,0,0,9,2
10649,20230131216771,2,9.125762,0,4,1,1,1,0,1,...,0,12,0,0,0,0,0,0,12,1
10650,20230131216842,1,10.176411,1,3,0,1,1,0,1,...,0,0,6,0,0,0,0,0,6,1
10651,20230131216844,8,44.927942,0,4,0,1,1,0,5,...,0,0,0,0,0,0,0,0,26,3
10652,20230131216857,5,43.364081,1,5,1,1,1,4,5,...,0,0,12,0,0,9,0,0,32,4

In [194]:
# df 데이터에 카테고리 개수 넣음
df = pd.merge(df,df_group_count,how='left')
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_3,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category,category_count
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,0,1,4
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,0,0,0,0,0,0,0,0,1,5
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,3,0,0,0,0,0,0,0,3,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,3,0,0,0,0,0,0,0,3,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,0,6,0,0,0,0,0,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,0,1,4
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,0,10,2
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,0,10,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,0,0,0,0,0,0,0,0,5,3
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,0,8,0,0,0,0,8,2

#### 카테고리 축약

- 1 = 스팸/닭가슴살/소시지
- 2 = 신선식품
- 3 = 만두/피자/치킨
- 4 = 핫도그/떡볶이/간식
- 5 = 돈까스/함박/구이
- 6 = 밥/죽/면
- 7 = 밀키트
- 8 = 건강식품
- 9 = 음료/생수/시럽
- 10 = 양념/소스/가루/오일
- 11 = 대용량 식자제
- 12 = 국/김치/김/반찬/두부

카테고리 축약
- 요리 : 국/김치/김/반찬/두부, 스팸/닭가슴살/소시지, 신선식품 (12, 1, 2)
- 간식 : 만두/피자/치킨, 핫도그/떡볶이/간식, 돈까스/함박/구이 (3, 4, 5)
- 식사 : 밥/죽/면, 밀키트 (6, 7)
- 기타 : 건강식품, 음료/생수/시럽, 양념/소스/가루/오일, 대용량 식자재 (8, 9, 10, 11)

In [195]:
def cate(x):
    if x==12 or x==1 or x==2 : return 0
    elif x==3 or x==4 or x==5 : return 1
    elif x==6 or x==7 : return 2
    else: return 3

In [197]:
# 카테고리별 데이터 축약
df['most_product'] = df['category'].apply(cate)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,...,category_12,category_6,category_8,category_2,category_9,category_11,category_7,category,category_count,most_product
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,...,0,0,0,0,0,0,0,1,4,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,...,0,0,0,0,0,0,0,1,5,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,...,0,0,0,0,0,0,0,3,1,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,...,0,0,0,0,0,0,0,3,3,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,...,0,6,0,0,0,0,0,6,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,...,0,0,0,0,0,0,0,1,4,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,...,0,0,0,0,0,0,0,10,2,3
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,...,0,0,0,0,0,0,0,10,1,3
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,...,0,0,0,0,0,0,0,5,3,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,...,0,0,8,0,0,0,0,8,2,3

In [201]:
df.drop(['category_10', 'category_1', 'category_5','category_4', 'category_3', 'category_12', 'category_6', 'category_8','category_2', 'category_9', 'category_11', 'category_7'],axis=1, inplace=True)

In [205]:
df.columns

Index(['scd', 'product_name', 'net_order_qty', 'net_order_amt', 'gender',
       'age_grp', 'employee_yn', 'prime_yn', 'weekday', 'weekday2',
       'event_product', 'row_num', 'category', 'category_count',
       'most_product'],
      dtype='object')

#### 주문번호별 합치기

In [247]:
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday,weekday2,event_product,row_num,category,category_count,most_product
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,0,1,1,0,1,1,4,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,0,1,1,0,1,1,5,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,0,2,1,0,1,3,1,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,1,3,1,0,1,3,3,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,1,2,1,0,1,6,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,1,0,1,0,1,1,4,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,0,0,1,1,1,10,2,3
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,0,6,0,1,1,10,1,3
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,1,6,0,0,1,5,3,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,1,6,0,0,1,8,2,3

In [248]:
import random
df_group = df.groupby('scd').agg({'net_order_qty': 'sum',
                                   'net_order_amt': 'sum',
                                   'gender': pd.Series.mode,
                                    'employee_yn':pd.Series.mode,
                                   'age_grp': pd.Series.mode,
                                   'weekday': pd.Series.mode,
                                   'weekday2': pd.Series.mode,
                                   'event_product': 'sum',
                                   'most_product': lambda x: pd.Series.mode(x)[random.randrange(0, 1)],
                                   'category_count': pd.Series.mode,
                                   'prime_yn': pd.Series.mode})

## 원 핫 인코딩 및 실험

In [249]:
df_group.drop('weekday', axis=1,inplace=True)

In [250]:
df_group

,net_order_qty,net_order_amt,gender,employee_yn,age_grp,weekday2,event_product,most_product,category_count,prime_yn
scd,,,,,,,,,,
20230101963226,6,39.433806,1,Y,3,0,0,2,1,0
20230101963235,2,19.234566,0,Y,4,0,2,0,2,1
20230101963244,3,10.234373,0,N,4,0,0,1,1,1
20230101963247,6,45.516855,1,Y,3,0,0,0,3,1
20230101963251,2,10.845621,0,Y,3,0,0,3,1,1
...,...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0,N,4,1,0,1,2,0
20230131216771,2,9.125762,0,N,4,1,0,0,1,1
20230131216842,1,10.176411,1,N,3,1,0,2,1,0
20230131216844,8,44.927942,0,N,4,1,0,0,3,0
20230131216857,5,43.364081,1,Y,5,1,4,2,4,1

In [251]:
map_employee = {'N':0, 'Y':1}
df_group['employee_yn'] = df_group['employee_yn'].map(map_employee)
df_group

,net_order_qty,net_order_amt,gender,employee_yn,age_grp,weekday2,event_product,most_product,category_count,prime_yn
scd,,,,,,,,,,
20230101963226,6,39.433806,1,1,3,0,0,2,1,0
20230101963235,2,19.234566,0,1,4,0,2,0,2,1
20230101963244,3,10.234373,0,0,4,0,0,1,1,1
20230101963247,6,45.516855,1,1,3,0,0,0,3,1
20230101963251,2,10.845621,0,1,3,0,0,3,1,1
...,...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0,0,4,1,0,1,2,0
20230131216771,2,9.125762,0,0,4,1,0,0,1,1
20230131216842,1,10.176411,1,0,3,1,0,2,1,0
20230131216844,8,44.927942,0,0,4,1,0,0,3,0
20230131216857,5,43.364081,1,1,5,1,4,2,4,1

In [252]:
one_hot = pd.get_dummies(df_group['most_product'])
one_hot

                0  1  2  3
scd
20230101963226  0  0  1  0
20230101963235  1  0  0  0
20230101963244  0  1  0  0
20230101963247  1  0  0  0
20230101963251  0  0  0  1
...            .. .. .. ..
20230131216756  0  1  0  0
20230131216771  1  0  0  0
20230131216842  0  0  1  0
20230131216844  1  0  0  0
20230131216857  0  0  1  0

[10653 rows x 4 columns]

In [253]:
one_hot.columns = ['most_product_0','most_product_1','most_product_2','most_product_3']

In [254]:
one_hot

                most_product_0  most_product_1  most_product_2  most_product_3
scd
20230101963226               0               0               1               0
20230101963235               1               0               0               0
20230101963244               0               1               0               0
20230101963247               1               0               0               0
20230101963251               0               0               0               1
...                        ...             ...             ...             ...
20230131216756               0               1               0               0
20230131216771               1               0               0               0
20230131216842               0               0               1               0
20230131216844               1               0               0               0
20230131216857               0               0               1               0

[10653 rows x 4 columns]

In [255]:
df_group = pd.concat([df_group,one_hot],axis=1)
df_group

,net_order_qty,net_order_amt,gender,employee_yn,age_grp,weekday2,event_product,most_product,category_count,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,,
20230101963226,6,39.433806,1,1,3,0,0,2,1,0,0,0,1,0
20230101963235,2,19.234566,0,1,4,0,2,0,2,1,1,0,0,0
20230101963244,3,10.234373,0,0,4,0,0,1,1,1,0,1,0,0
20230101963247,6,45.516855,1,1,3,0,0,0,3,1,1,0,0,0
20230101963251,2,10.845621,0,1,3,0,0,3,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0,0,4,1,0,1,2,0,0,1,0,0
20230131216771,2,9.125762,0,0,4,1,0,0,1,1,1,0,0,0
20230131216842,1,10.176411,1,0,3,1,0,2,1,0,0,0,1,0
20230131216844,8,44.927942,0,0,4,1,0,0,3,0,1,0,0,0
20230131216857,5,43.364081,1,1,5,1,4,2,4,1,0,0,1,0

In [256]:
df_group.drop('most_product',axis=1,inplace=True)
df_group

,net_order_qty,net_order_amt,gender,employee_yn,age_grp,weekday2,event_product,category_count,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,
20230101963226,6,39.433806,1,1,3,0,0,1,0,0,0,1,0
20230101963235,2,19.234566,0,1,4,0,2,2,1,1,0,0,0
20230101963244,3,10.234373,0,0,4,0,0,1,1,0,1,0,0
20230101963247,6,45.516855,1,1,3,0,0,3,1,1,0,0,0
20230101963251,2,10.845621,0,1,3,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216756,3,18.314758,0,0,4,1,0,2,0,0,1,0,0
20230131216771,2,9.125762,0,0,4,1,0,1,1,1,0,0,0
20230131216842,1,10.176411,1,0,3,1,0,1,0,0,0,1,0
20230131216844,8,44.927942,0,0,4,1,0,3,0,1,0,0,0
20230131216857,5,43.364081,1,1,5,1,4,4,1,0,0,1,0

In [257]:
df_nonstaff = df_group[df_group['employee_yn']==0]
df_nonstaff

,net_order_qty,net_order_amt,gender,employee_yn,age_grp,weekday2,event_product,category_count,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,
20230101963244,3,10.234373,0,0,4,0,0,1,1,0,1,0,0
20230101963277,1,9.190036,1,0,3,0,0,1,1,0,0,0,1
20230101963302,17,83.446280,0,0,4,0,0,7,0,0,0,0,1
20230101963319,23,73.452653,1,0,4,0,0,3,0,1,0,0,0
20230101963336,30,119.943496,0,0,3,0,0,7,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216709,6,27.526347,0,0,4,1,0,2,1,1,0,0,0
20230131216756,3,18.314758,0,0,4,1,0,2,0,0,1,0,0
20230131216771,2,9.125762,0,0,4,1,0,1,1,1,0,0,0
20230131216842,1,10.176411,1,0,3,1,0,1,0,0,0,1,0
20230131216844,8,44.927942,0,0,4,1,0,3,0,1,0,0,0

In [259]:
df_nonstaff.drop('employee_yn',axis=1,inplace=True)

C:\Users\Mingyoo Son\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [258]:
df_staff = df_group[df_group['employee_yn']==1]
df_staff

,net_order_qty,net_order_amt,gender,employee_yn,age_grp,weekday2,event_product,category_count,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,
20230101963226,6,39.433806,1,1,3,0,0,1,0,0,0,1,0
20230101963235,2,19.234566,0,1,4,0,2,2,1,1,0,0,0
20230101963247,6,45.516855,1,1,3,0,0,3,1,1,0,0,0
20230101963251,2,10.845621,0,1,3,0,0,1,1,0,0,0,1
20230101963253,6,47.014742,1,1,2,0,0,3,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216567,6,27.652922,0,1,5,1,1,2,1,1,0,0,0
20230131216610,12,81.994470,1,1,3,1,9,4,1,1,0,0,0
20230131216674,4,37.317843,1,1,4,1,0,2,0,0,1,0,0
20230131216734,3,29.500314,1,1,5,1,3,3,1,1,0,0,0
20230131216857,5,43.364081,1,1,5,1,4,4,1,0,0,1,0

In [261]:
df_staff.drop('employee_yn',axis=1,inplace=True)

C:\Users\Mingyoo Son\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [262]:
features = df_nonstaff.drop('prime_yn',axis=1)
label = df_nonstaff['prime_yn']

In [263]:
from sklearn.model_selection import train_test_split  
  
train_features, test_features, train_labels, test_labels = train_test_split(features, label)

In [264]:
from sklearn.linear_model import LogisticRegression  
  
model = LogisticRegression()  
model.fit(train_features, train_labels)

C:\Users\Mingyoo Son\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [265]:
print(model.score(train_features, train_labels))

0.6049382716049383

In [266]:
print(model.score(test_features, test_labels))

0.6141414141414141

In [267]:
print(model.coef_)

[[ 0.02044158  0.00111695  0.36149436  0.27596786 -0.11137396 -0.0126204
   0.03724649 -0.29499424 -0.63086525 -0.24600731 -0.15458164]]

In [268]:
from sklearn.naive_bayes import GaussianNB

In [269]:
gnb = GaussianNB()                             # 가우시안 나이브 베이즈 모델
fitted = gnb.fit(train_features, train_labels)       # 학습 시작
y_pred = fitted.predict(test_features)             # 학습 결과를 기존 데이터에 적용

In [271]:
print(gnb.score(test_features, test_labels))

0.5898989898989899